<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spt.bas.report.server.dao.RptBsCompanyMapper">

	<select id="findCompanyList" resultType="com.spt.bas.report.client.vo.RptPartBsCompanyVo">
		SELECT
		bc.id AS id,
		bc.company_name AS text,
		bc.company_name AS companyName,
		bc.company_type	As companyType,
		bc.`status` AS `status`,
		bc.match_user_id AS matchUserId,
		bc.company_phone As companyPhone,
		bc.contact_phone As contactPhone,
		bc.contact_name As contactName,
		bc.address As address,
		bc.on_line_flg As onLineFlg,
		ac.bank_account As bankAccount,
		ac.bank_name As bankName,
		ac.tax_no As taxNo,
		IFNULL(bc.total_credit_amount,0) As totalCreditAmount,
		IFNULL(bc.used_credit_amount,0) As usedCreditAmount,
		IFNULL(bc.total_credit_amount-bc.used_credit_amount,0) As remainCreditAmount,
		IFNUll(bc.credit_days,0) As creditAmountDays,
		bc.rate As rate,
		bc.interest_rate As interestRate,
		bc.rate_type As rateType,
		bc.credit_cycle_type As creditCycleType,
		bc.credit_cycle As creditCycle,
		bc.vip_level As vipLevel,
		bc.supplier_rating As supplierRating,
		bc.credit_rating As creditRating,
		bc.supplier_prepay_amount as supplierPrepayAmount,
		bc.used_supplier_prepay_amount as usedSupplierPrepayAmount,
		bc.supplier_future as supplierFuture,
		bc.credit_delivery as creditDelivery,
		bc.supplier_delivery as supplierDelivery,
		bc.supplier_purchase_amount as supplierPurchaseAmount,
		bc.used_supplier_purchase_amount as usedSupplierPurchaseAmount,
		bc.company_grade as companyGrade,
		bc.supplier_grade as supplierGrade,
		bc.picc_credit_amount as piccCreditAmount,
		bc.da_di_credit_amount as daDiCreditAmount,
		bc.access_report_flg as accessReportFlg,
		bc.actual_guarantee_flg as actualGuaranteeFlg
		FROM
		t_bs_company bc
		LEFT JOIN t_bs_company_account ac ON bc.id = ac.company_id
		WHERE
			bc.enable_flg = true
		<if test="searchType == 'SX'">
			AND bc.total_credit_amount > 0
		</if>
		AND IF(ISNULL(ac.default_flg),1 = 1,ac.default_flg = true)
		AND bc.enterprise_id = #{enterpriseId}
		<if test="matchUserId != null and matchUserId != '' ">
			AND (
			bc.match_user_id = #{matchUserId}
			OR EXISTS (
			SELECT
			bs.id
			FROM
			t_bs_company_share bs
			WHERE
			bc.id = bs.company_id
			AND bs.shared_user_id = #{matchUserId}
			AND bs.enterprise_id = #{enterpriseId}
			)
			)
		</if>

		<if test="companyName != null and companyName != '' ">
			AND bc.company_name LIKE CONCAT('%',#{companyName},'%')
		</if>

		<if test="companyName != null and companyName != '' and matchUserId != null and matchUserId != '' ">
			UNION
			SELECT
			bc.id AS id,
			bc.company_name AS text,
			bc.company_name AS companyName,
			bc.company_type	As companyType,
			bc.`status` AS `status`,
			bc.match_user_id AS matchUserId,
			bc.company_phone As companyPhone,
			bc.contact_phone As contactPhone,
			bc.contact_name As contactName,
			bc.address As address,
			bc.on_line_flg As onLineFlg,
			ac.bank_account As bankAccount,
			ac.bank_name As bankName,
			ac.tax_no As taxNo,
			IFNULL(bc.total_credit_amount,0) As totalCreditAmount,
			IFNULL(bc.used_credit_amount,0) As usedCreditAmount,
			IFNULL(bc.total_credit_amount-bc.used_credit_amount,0) As remainCreditAmount,
			IFNUll(bc.credit_days,0) As creditAmountDays,
			bc.rate As rate,
			bc.interest_rate As interestRate,
			bc.rate_type As rateType,
			bc.credit_cycle_type As creditCycleType,
			bc.credit_cycle As creditCycle,
			bc.vip_level As vipLevel,
			bc.supplier_rating As supplierRating,
			bc.credit_rating As creditRating,
			bc.supplier_prepay_amount as supplierPrepayAmount,
			bc.used_supplier_prepay_amount as usedSupplierPrepayAmount,
			bc.supplier_future as supplierFuture,
			bc.credit_delivery as creditDelivery,
			bc.supplier_delivery as supplierDelivery,
			bc.supplier_purchase_amount as supplierPurchaseAmount,
			bc.used_supplier_purchase_amount as usedSupplierPurchaseAmount,
			bc.company_grade as companyGrade,
			bc.supplier_grade as supplierGrade,
			bc.picc_credit_amount as piccCreditAmount,
			bc.da_di_credit_amount as daDiCreditAmount,
			bc.access_report_flg as accessReportFlg,
			bc.actual_guarantee_flg as actualGuaranteeFlg
			FROM
			t_bs_company bc
			LEFT JOIN t_bs_company_account ac ON bc.id = ac.company_id
			WHERE
				bc.enable_flg = true
			<if test="searchType == 'SX'">
				AND bc.total_credit_amount > 0
			</if>
			AND IF(ISNULL(ac.default_flg),1 = 1,ac.default_flg = true)
			AND bc.enterprise_id = #{enterpriseId}
			AND bc.company_name LIKE CONCAT('%',#{companyName},'%')
			AND (bc.match_user_id IS NULL OR bc.company_type = 'T')
			AND bc.id NOT IN (
				SELECT c.id
				FROM t_bs_company c
				WHERE c.enable_flg = true
				<if test="searchType == 'SX'">
					AND c.total_credit_amount > 0
				</if>
				AND c.enterprise_id = #{enterpriseId}
				AND (
					c.match_user_id = #{matchUserId}
					OR EXISTS (
						SELECT bs.id
						FROM t_bs_company_share bs
						WHERE c.id = bs.company_id
						AND bs.shared_user_id = #{matchUserId}
						AND bs.enterprise_id = #{enterpriseId}
					)
				)
			)
		</if>

	</select>
	
	<select id="findCompanyById" resultType="com.spt.bas.report.client.vo.RptPartBsCompanyVo">
		SELECT
		bc.id AS id,
		bc.company_name AS text,
		bc.company_name AS companyName,
		bc.company_type	As companyType,
		bc.`status` AS `status`,
		bc.match_user_id AS matchUserId,
		bc.company_phone As companyPhone,
		bc.contact_phone As contactPhone,
		bc.contact_name As contactName,
		bc.address As address,
		bc.on_line_flg As onLineFlg,
		ac.bank_account As bankAccount,
		ac.bank_name As bankName,
		ac.tax_no As taxNo,
		IFNULL(bc.total_credit_amount,0) As totalCreditAmount,
		IFNULL(bc.used_credit_amount,0) As usedCreditAmount,
		IFNULL(bc.total_credit_amount-bc.used_credit_amount,0) As remainCreditAmount,
		IFNUll(bc.credit_days,0) As creditAmountDays,
		bc.rate As rate,
		bc.interest_rate As interestRate,
		bc.rate_type As rateType,
		bc.credit_cycle_type As creditCycleType,
		bc.credit_cycle As creditCycle,
		bc.vip_level As vipLevel,
		bc.supplier_rating As supplierRating,
		bc.credit_rating As creditRating,
		bc.supplier_prepay_amount as supplierPrepayAmount,
		bc.used_supplier_prepay_amount as usedSupplierPrepayAmount,
		bc.supplier_future as supplierFuture,
		bc.credit_delivery as creditDelivery,
		bc.supplier_delivery as supplierDelivery,
		bc.supplier_purchase_amount as supplierPurchaseAmount,
		bc.used_supplier_purchase_amount as usedSupplierPurchaseAmount,
		bc.company_grade as companyGrade,
		bc.supplier_grade as supplierGrade,
		bc.picc_credit_amount as piccCreditAmount,
		bc.da_di_credit_amount as daDiCreditAmount,
		bc.access_report_flg as accessReportFlg,
		bc.actual_guarantee_flg as actualGuaranteeFlg
		FROM
		t_bs_company bc
		LEFT JOIN t_bs_company_account ac ON bc.id = ac.company_id and ac.default_flg = true
		WHERE bc.id = #{id}
	


	</select>

	<select id="findCompany" resultType="com.spt.bas.report.client.vo.RptPartBsCompanyVo">
		SELECT
		bc.id AS id,
		bc.company_phone As companyPhone,
		bc.company_name AS text,
		bc.company_name As companyName,
		bc.company_type	As companyType,
		bc.contact_phone As contactPhone,
		bc.contact_name As contactName,
		bc.address As address,
		bc.on_line_flg As onLineFlg
		FROM
		t_bs_company bc
		WHERE
					bc.enable_flg = true
		and bc.credit_rating = 'W'
		AND bc.enterprise_id = #{enterpriseId}
		<!-- AND bc.id != #{id} -->
		<if test="companyName != null and companyName != ''">
			AND bc.company_name LIKE CONCAT('%',#{companyName},'%')
		</if>
		<if test="searchType == 'SX'">
			AND bc.total_credit_amount > 0
		</if>

	</select>

	<select id="countCompanyByName" resultType="java.lang.Integer">
    	SELECT COUNT(*) FROM t_bs_company WHERE company_name LIKE #{companyName}
    	and enable_flg = true
  	</select>

	<select id="getRelationShipApproveIdByCompanyId" resultType="java.lang.Long">
		select distinct b.id
		from t_bs_company a
					 left join t_pm_approve b on a.id = b.company_id
		where a.match_user_id = #{matchUserId}
		  and a.enable_flg = true
		union
		select distinct b.id
		from t_ctr_contract a
					 left join t_pm_approve b on a.id = b.contract_id
		where a.match_user_id = #{matchUserId}
		  and a.contract_type = 'S'
		  and a.status = 'D'
	</select>

	<select id="getRelationShipApproveIdByCompanyIds" resultType="java.lang.Long">
		select distinct b.id
		from t_bs_company a
		left join t_pm_approve b on a.id = b.company_id
		<where>
			<if test="matchUserIds != null and matchUserIds.size > 0">
				and a.match_user_id in
				<foreach collection="matchUserIds" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
		and a.enable_flg = true
		union
		select distinct b.id
		from t_ctr_contract a
		left join t_pm_approve b on a.id = b.contract_id
		<where>
			<if test="matchUserIds != null and matchUserIds.size > 0">
				and a.match_user_id in
				<foreach collection="matchUserIds" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
		and a.contract_type = 'S'
		and a.status = 'D'

	</select>

	<select id="findAllCompany" resultType="com.spt.bas.report.client.vo.RptPartBsCompanyVo">
		SELECT
		bc.id AS id,
		bc.company_name AS text,
		bc.company_name AS companyName,
		bc.company_type	As companyType,
		bc.`status` AS `status`,
		bc.match_user_id AS matchUserId,
		bc.company_phone As companyPhone,
		bc.contact_phone As contactPhone,
		bc.contact_name As contactName,
		bc.address As address,
		bc.on_line_flg As onLineFlg,
		IFNULL(bc.total_credit_amount,0) As totalCreditAmount,
		IFNULL(bc.used_credit_amount,0) As usedCreditAmount,
		IFNULL(bc.total_credit_amount-bc.used_credit_amount,0) As remainCreditAmount,
		IFNUll(bc.credit_days,0) As creditAmountDays,
		bc.rate As rate,
		bc.interest_rate As interestRate,
		bc.rate_type As rateType,
		bc.credit_cycle_type As creditCycleType,
		bc.credit_cycle As creditCycle,
		bc.vip_level As vipLevel,
		bc.supplier_rating As supplierRating,
		bc.credit_rating As creditRating,
		bc.supplier_prepay_amount as supplierPrepayAmount,
		bc.used_supplier_prepay_amount as usedSupplierPrepayAmount,
		bc.supplier_future as supplierFuture,
		bc.credit_delivery as creditDelivery,
		bc.supplier_delivery as supplierDelivery,
		bc.supplier_purchase_amount as supplierPurchaseAmount,
		bc.used_supplier_purchase_amount as usedSupplierPurchaseAmount,
		bc.company_grade as companyGrade,
		bc.supplier_grade as supplierGrade,
		bc.access_report_flg as accessReportFlg,
		bc.actual_guarantee_flg as actualGuaranteeFlg
		FROM
		t_bs_company bc
	</select>
	<select id="findCompanyCredit" resultType="com.spt.bas.report.client.vo.RptCompanyCreditVo">
		SELECT
		company_id AS companyId,
		credit_type AS creditType,
		IFNULL(credit_amount,0) AS creditAmount,
		risk_amount AS riskAmount,
		IFNULL(temporary_amount,0) AS temporaryAmount,
		IFNULL(used_credit_amount,0) AS usedCreditAmount
		FROM
		t_bs_company_credit
		WHERE
		enable_flg = TRUE
		AND company_id IN
		<foreach collection="companyIdList" item="var" index="index" open="(" close=")" separator=",">
			#{companyIdList[${index}],jdbcType=INTEGER}
		</foreach>
	</select>

	<select id="getCompanyCreditInfo0" resultType="com.spt.bas.report.client.entity.RptCompanyCreditInfo0">
		SELECT
			a.credit_amount,
			b.company_name,
			b.legal_represent,
			b.register_capital,
			DATE_FORMAT( b.start_date, '%Y-%m-%d' ) AS start_date,
			b.address,
			b.file_id,
			DATE_FORMAT( c.contract_time, '%Y-%m-%d' ) AS contract_time
		FROM
			t_bs_company_credit a
				LEFT JOIN t_bs_company b ON b.id = a.company_id
				LEFT JOIN ( SELECT company_id, max( contract_time ) AS 'contract_time' FROM t_ctr_contract WHERE contract_type = 'S' AND contract_status != 'C' GROUP BY company_id ) c ON c.company_id = a.company_id
		WHERE
			a.credit_type = 0
		  AND IFNULL( a.credit_amount, 0 )> 100000
		  AND b.credit_rating != 'B'
		  AND b.enable_flg = 1
		  AND b.company_type = 'I'
		order by contract_time desc
    </select>

	<select id="findAllCompanyCredit0" resultType="com.spt.bas.client.entity.BsCompanyCredit">
		SELECT
			company_id,
			used_credit_amount,
			IFNULL(risk_amount,0)+IFNULL(temporary_amount,0)-IFNULL(used_credit_amount,0) as 'availableCreditAmount'
		FROM
			t_bs_company_credit
		WHERE
			credit_type = 0
	</select>
	<select id="findOpenCreditList" resultType="com.spt.bas.report.client.vo.RptOpenCompanyCreditVo">
		SELECT *
		FROM (SELECT m.id                                                   AS companyId,
					 m.owner_of_account_id                                  AS matchUserId,
					 JSON_UNQUOTE(JSON_EXTRACT(c.contents, '$.creditType')) AS creditType,
					 MIN(t.updated_date)                                    AS creditDate
			  FROM t_pm_approve t
					   LEFT JOIN t_pm_process p ON t.process_id = p.id
					   LEFT JOIN t_pm_approve_contents c ON c.approve_id = t.id
					   LEFT JOIN t_bs_company m ON m.id = JSON_UNQUOTE(JSON_EXTRACT(c.contents, '$.companyId'))
			  WHERE p.process_code = 'APPLY_QUOTA'
				AND t.status = 'D'
				AND t.enable_flg = TRUE
				AND JSON_VALID(c.contents) = 1
				AND JSON_UNQUOTE(JSON_EXTRACT(c.contents, '$.type')) = 'Q'
			  GROUP BY m.id
			  ORDER BY t.updated_date DESC) t
		WHERE DATE_FORMAT(t.creditDate, '%Y-%m') = DATE_FORMAT(#{openTime}, '%Y-%m')
	</select>
</mapper>
