<div class="mt20 yw-menu-section" title="客户信息">
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div><div class="mb6">
    <p class="yw-table-filter">
        <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
    </p>
    <p class="yw-table-filter w5">
        <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
    </p>
</div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>
    <div class="mb6">
        <p class="yw-table-filter">
            <label class="control-label" style="text-align:center;font-weight:bold">企业名称：</label>
        </p>
        <p class="yw-table-filter w5">
            <input required="required" readonly type="text" th:value="${entity.companyName}"></input>
        </p>
    </div>













</div>
