<div class="easyui-layout" fit="true" style="width:100%;height:500px;">
<div region="north" class="search_div pl20 pt10 pr20" border="false" style="overflow: hidden;">
	<form id="frm_stockDetail_choose" class="form-search from-input-layout" method="post">
		<input type="hidden" name="productCd" th:value="${searchVo.productCd}"/>
		<input type="hidden" name="brandNumber" th:value="${searchVo.brandNumber}"/>
		<input type="hidden" name="ctrProductId" th:value="${searchVo.ctrProductId}"/>
		<div class="mb6">
			<p class="yw-table-filter">
				<label>厂商:</label>
				<input type="text" name="factoryName"/>
			</p>
			<p class="yw-table-filter">
				<label>仓库:</label>
				<input type="text" name="warehouseName"/>
			</p>
			<p class="yw-table-filter">
				<label>业务员:</label>
				<input id="matchUserName" type="text" name="buyBizUserName"/>
			</p>
			<a href="#" id="btn" iconCls="icon-search" class="easyui-linkbutton" onclick="Convert.search('frm_stockDetail_choose','tt_deliveryOut_choose');">查询</a>
			<a href="#" id="btn" iconCls="icon-clear" class="easyui-linkbutton ml10" onclick="$('#frm_stockDetail_choose').form('reset');">清空</a>
		</div>
	</form>
</div>
<div region="center" border="false" class="pl20 pr20">
	<table id="tt_deliveryOut_choose" fit="true"
			title="" iconCls="icon-edit" singleSelect="true"
			idField="id">
	</table>
</div>
<div region="south" border="false" style="overflow: hidden;height: 40px;">
	<div class="actions_bar">
		<a href="#" class="easyui-linkbutton btn-info btn64 ml6" onclick="ContractChoose.confirmChoose();">确&nbsp;认</a>
		<a href="#" class="easyui-linkbutton btn-danger btn64 ml6" onclick="ContractChoose.closeCurrentWin();">关&nbsp;闭</a>
	</div>
</div>
</div>
<script type="text/javascript">
	var lastIndex=0;
	var _url = "";
	var matchUserNameTreeJson = eval('[(${matchUserNameTree})]')
	$(function(){
		var ct = $("#ctrContractType").val();
		var fileview = $.extend({}, $.fn.datagrid.defaults.view, { onAfterRender: function (target) { ContractChoose.ischeckItem(); } });

		var columns =[ [
			{field:'buyContractNo',title:'采购合同号', width:120},
			{field:'buyCompanyName',title:'上家公司', width:100,formatter:function(value,row){
				if (value){
					var content = '<p title="' + value + '" class="note">' + value + '</p>';
				    return content;
				}
		    }} ,
			{field:'productName',title:'品名', width:80},
			{field:'brandNumber',title:'牌号', width:80},
			{field:'factoryName',title:'厂商名称',align:'left', width:80,formatter:function(value,row){
				if (value){
					var content = '<p title="' + value + '" class="note">' + value + '</p>';
				    return content;
				}
		    }} ,
			{field:'warehouseName',title:'仓库名称',align:'left', width:80,formatter:function(value,row){
				if (value){
					var content = '<p title="' + value + '" class="note">' + value + '</p>';
				    return content;
				}
		    }} ,
			{field:'warehouseAddr',title:'仓库地址',align:'left', width:80,formatter:function(value,row){
				if (value){
					var content = '<p title="' + value + '" class="note">' + value + '</p>';
				    return content;
				}
		    }} ,
			{field:'ourCompanyName',title:'我方抬头',align:'left', width:80,formatter:function(value,row){
				if (value){
					var content = '<p title="' + value + '" class="note">' + value + '</p>';
				    return content;
				}
		    }} ,
			{field:'availableNumber',title:'采购数量(吨)', width:90,align:'right'},
			{field:'deliveryInNumber',title:'入库数量(吨)', width:90,align:'right'},
			{field:'deliveryOutNumber',title:'出库数量(吨)', width:90,align:'right'},
			{field:'frozenNumber',title:'可出库数量(吨)',width:100,align:'right'}
		]];
		$('#tt_deliveryOut_choose').datagrid({
			pagination:true,
			pageSize:30,
			rownumbers:true,
			view: fileview,
			pageList:[500,200,100,50,30,20],
			singleSelect:true,
			queryParams:Convert.getJson4Form('frm_stockDetail_choose'),
			url:_ctx+"/bas/stockDetail/findWarehouseOut",
			columns:columns,
			onSelect:function(index,row){
// 				console.log('select',ContractChoose.selected);
				var selectedRows = $('#tt_deliveryOut_choose').datagrid('getSelections');
				var ourCompanyName = selectedRows[0].ourCompanyName;
				if(selectedRows.length > 1 && row.ourCompanyName != ourCompanyName){
					$('#tt_deliveryOut_choose').datagrid('unselectRow',index);
					$.messager.alert('提示','我方抬头不一致，无法选择','info');
					return;
				}
				if(selectedRows.length>10){
					$.messager.alert('提示','最多只能选择10条商品记录！','info');
					return;
				}
				ContractChoose.selected.push(row);
// 				console.log('select',ContractChoose.selected);
			},
			onUnselect:function(index,row){
				ContractChoose.removeSelected(row);
// 				console.log(ContractChoose.selected);
			},
			onLoadSuccess:function(data){
// 				ContractChoose.selected=[];
			}
		});

	    //业务员下拉
	    $('#matchUserName').combotree({
			data: matchUserNameTreeJson,
			multiple : false,
			editable : true,
			//required:true,
			formatter:function(node){
				var enableFlg = node.attributes.enableFlg;
				if (enableFlg==false){
					return '<span style="color:red;">'+node.text+'(无效)</span>';
				}
				return node.text;
			},
			onSelect : function(node){
				if(node.children.length!=0){
					$('#matchUserName').combotree('clear');
				}else{

					$('#matchUserName').combotree('setValue',node.text);
				}
			}
		});

	});

	console.log('init');
	var ContractChoose={
			selected:[],
			ischeckItem:function () {
		        for (var i = 0; i < ContractChoose.selected.length; i++) {
		            $('#tt_deliveryOut_choose').datagrid('selectRecord', ContractChoose.selected[i]); //根据id选中行
		        }
			},
			removeSelected:function(row){
// 				console.log('onUnselect',ContractChoose.selected);
				for(var i=0; i<ContractChoose.selected.length; i++) {
				    if(ContractChoose.selected[i].id == row.id) {
				    	ContractChoose.selected.splice(i, 1);
				      	break;
				    }
				  }
			},
			confirmChoose:function(){
				var selectedRows=ContractChoose.selected;//$('#ttsimpleproduct').datagrid('getSelections');
// 				console.log('confirmChoose',selectedRows)
		    	var callbackExec = $('#w_stockDetail_choose').attr('callbackExec');
		    	var myfunc = eval(callbackExec);
		    	if(typeof(myfunc) == "function"){
		    		myfunc(selectedRows);
		    	}
		    	ContractChoose.closeCurrentWin();
			},

			closeCurrentWin:function(){
				$('#w_stockDetail_choose').window('close');
			}
		}
</script>
