<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>区域月份销售额柱状图</title>
    <th:block th:include="include :: header('人员成本图表')" />
    <th:block th:replace="~{layouts/include :: include}"></th:block>
    <th:block th:include="include :: echarts-js" />
    <script th:src="@{/static/ruoyi/js/common.js?v=4.7.3}"></script>
</head>
<body class="easyui-layout">
<div region="north" class="search_div pt20	pl20 pr20 pb15 ofh" border="false" >
    <form id="searchForm" class="form-search from-input-layout" method="post">
        <div class="mb6">
            <p class="yw-table-filter mobile-display-none">
                <label>年月</label>
                <input  id="monthBegin" name="monthBegin" class="easyui-validatebox" th:value="${monthBegin}"/>
            </p>
            <span style="margin-left: -15px;" class="mobile-display-none">
				<label>~</label>
			</span>
            <p class="yw-table-filter mobile-display-none">
                <input  id="monthEnd"  name="monthEnd" class="easyui-validatebox" th:value="${monthEnd}"/>
            </p>
            <a class="easyui-linkbutton addBtn btn110" id="businessLicenseC" onclick="initGrossProfitMarginEcharts()" style="margin-left: 60px;">查询</a>
        </div>
    </form>
</div>

<div region="center" border="false" class="panel_padding"  style="padding-right:30px;">

    <div class="col-xs-12" id="grossProfitMarginDiv" style="height: 100%;">
        <div class="ibox" style="margin-left: -5px;height: 100%;">
            <div class="ibox-title">
                <h5>区域月份销售额柱状图</h5>
            </div>
            <div class="imbox-content hgt90-bfb echarts" id="personCostChart" style="padding-right:30px;" >
            </div>
        </div>
    </div>

</div>
</div>

<script type="text/javascript">
    var lastIndex=0;

    $(function(){
        $('#monthBegin').datebox({
            editable:false
        });
        intiMonthBox('monthBegin');
        $('#monthEnd').datebox({
            editable:false
        });
        intiMonthBox('monthEnd');
        initGrossProfitMarginEcharts();
    });
    function initGrossProfitMarginEcharts() {
        var $personCostChart = document.getElementById('personCostChart');
        var myChart = echarts.init($personCostChart);
        var option;
        let legendData = [];
        let xAxisData = [];
        let yAxisData = [];
        let monthBegin =''
        let monthEnd =''
        // 查询数据填充
        $.ajax({
            type: 'post',
            async: false,
            url: _ctx+'/region/month/sales/getSalesData',
            data: Convert.getJson4Form('searchForm'),
            success: function (response) {
                if(Object.keys(response).length!=0){
                    legendData = response.legendData
                    xAxisData = response.xAxisData
                    yAxisData = response.yAxisData
                    monthBegin =response.monthBegin
                    monthEnd =response.monthEnd
                    const colors = [
                        '#7592fd',
                        // '#FFB92F',
                        '#c083fa',
                        '#2acdb1',
                        '#f49f4d',
                    ]; // 颜色数组
                    const series = yAxisData.map((it,index)=>{
                        return {
                            name: it.name,
                            type: 'bar',
                            data: it.data,
                            itemStyle: {
                                color: colors[index % colors.length] // 使用模运算来循环颜色
                            }
                        }
                    })
                    const grid = {
                        left: 100,
                        right: 100,
                        top: 100,
                        bottom: 20
                    };
                    option = {
                        title: {
                            text: monthBegin+'-'+monthEnd + ' 销售总额汇总：单位（百万元）', // 设置标题内容
                            top: 'top', // 设置标题在顶部
                            left: 'center',
                            textStyle: {
                                fontSize: 16,
                                color: '#333' // 设置字体颜色
                            }
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            top: '40',
                            data: legendData
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: xAxisData
                            }
                        ],
                        grid,
                        yAxis: [
                            {
                                type: 'value',
                                name: '单位（百万元）'
                            }
                        ],
                        series:series
                    }
                    myChart.clear();
                    myChart.setOption(option);
                    window.addEventListener("resize",function(){
                        myChart.resize();
                    });
                } else {
                    myChart.dispose();
                }
            },
            error: function () {
                console.log("出错了！")
            }
        });
    }

    function intiMonthBox(id){
        var db = $('#'+id);
        db.datebox({
            onShowPanel: function () {//显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                span.trigger('click'); //触发click事件弹出月份层
                if (!tds) setTimeout(function () {//延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                    tds = p.find('div.calendar-menu-month-inner td');
                    tds.click(function (e) {
                        e.stopPropagation(); //禁止冒泡执行easyui给月份绑定的事件
                        var year = /\d{4}/.exec(span.html())[0]//得到年份
                            , month = parseInt($(this).attr('abbr'), 10); //月份，这里不需要+1
                        db.datebox('hidePanel')//隐藏日期对象
                            .datebox('setValue', year + '-' + month); //设置日期的值
                    });
                }, 0);
                yearIpt.unbind();//解绑年份输入框中任何事件
            },
            parser: function (s) {
                if (!s) return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            formatter: function (d) {
                let year = d.getFullYear();
                let month = d.getMonth() + 1;
                if (month < 10) {
                    month = '0' + month;
                }
                return year + '-' + month;
            }
        });
        var p = db.datebox('panel'), //日期选择对象
            tds = false, //日期选择对象中月份
            yearIpt = p.find('input.calendar-menu-year'),//年份输入框
            span = p.find('span.calendar-text'); //显示月份层的触发控件
    }

</script>
<style scoped>

</style>
</body>
</html>