<!DOCTYPE html>
<div class="easyui-layout" fit="true">	
  <div style="height:150px;">
   <input type="hidden" id="approveId" th:value="${approveId}" />
	<table id="opponentTable" style="height:300px;" border="0"
				title="" iconCls="icon-edit" singleSelect="true"
				idField="id">
	</table>		 
	</div>
</div>
<div id="his_contract" title="合同详情" data-options="width:950,height:400"></div>
<script type="text/javascript">
$(function(){
	var approveId = $("#approveId").val();
	var _url = _ctx+"/ctr/contract/detailMlHisPage/"+approveId;
	var _applyTypeJson = eval('[(${applyTypeJson})]'); 
	var _businessTypeJson = eval('[(${businessTypeJson})]'); 
	var _contractStatusJson=eval('[(${contractStatusJson})]');
	$('#opponentTable').datagrid({
		pageSize:50,
		rownumbers:true,
		url:_url,
		pagination:false,
		columns:[ [
			{field:'businessType',title:'业务类型',align:'center',width:80,formatter:function(value,row,index){
				return Convert.findValueByKey(_businessTypeJson,"dictCd",value,"dictName");
			}},
			{field:'contractNo',title:'合同编号',align:'center',width:130},
			{field:'productsName',title:'货品',align:'center',width:150},
			{field:'companyName',title:'对方企业名称', align:'center', width:160},
			{field:'totalNumber',title:'合同数量(吨)', align:'center', width:100},
			{field:'contractStatus',title:'合同状态', align:'center', width:80,formatter:function(value,row,index){
				return Convert.findValueByKey(_contractStatusJson,"dictCd",value,"dictName");
			}},
			{field:'matchUserName',title:'业务员', align:'center', width:70},
			{field:'action',title:'操作', width:90,align:'center',formatter:function(value, row, index){
				if (row.id){
				var str = "";
		        str = "<div class='btnSpan' onclick='printContractText(\""+row.id+"\")' class='l-btn'><span style='width:60px;cursor: pointer;'>合同预览</span></div>"; 
		        return str; 
				}
			}}
		]],
		onLoadSuccess:function(data){
			
		}
	});
	
	$('#his_contract').window({
		title:'合同详情',
		modal:true,
		closed: true,
		collapsible : false,
		minimizable : false,
		cache:false,
		onClose:function(){
			$('#tt').datagrid('reload');
		}
	});
})
function OpponentEditrow(id,contractNo,contractType){
		var url=_ctx+"/ctr/contract/detail/"+id;
		var title=contractNo;
		window.parent.addTab(title,url);
		/* if(contractType=="S"){
			$("#tabContractplus").window('close');
		}else{
			$("#tabContract").window('close');
		}		 */		
	}
</script>