<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>合同管理</title>
<th:block th:replace="~{layouts/include :: include}"></th:block>
</head>
<body class="easyui-layout">
<div region="north" class="search_div" border="false"  style="height: 110px">
	<form id="searchForm" class="form-search from-input-layout" method="post">
	 	<input type="hidden" id="type" th:value="${type}"/>
	 	<!-- <input type="hidden" name="search_EQS_businessType" th:value="${businessType}"> -->
	 	<input type="hidden" name="businessType" id="businessType" th:value="${businessType}">
	 	<input type="hidden" name="contractSource" id="contractSource" th:value="${contractSource}">
	 	<input type="hidden" name="saasContractFlg" id="saasContractFlg" value="true">
		<p class="p_text">
			<span class="input-colspan" >
				<label>合同编号:</label>
				<input  class="control" type="text" name="search_LIKES_contractNo"/>
			</span>
			<span class="input-colspan">
				<label>企业名称:</label>
				<input  class="control" type="text" name="search_LIKES_companyName"/>
			</span>
			<span class="input-colspan">
				<label>业务员:</label>
				<input type="text" id="matchUserName" class="control text_padding" name="search_EQS_matchUserName"></input>
			</span>
		</p>
		<p class="p_text">
			<span class="input-colspan">
				<label>货名:</label>
				<input  class="control" type="text" name="search_LIKES_productsName"/>
			</span>
			<span class="input-colspan">
				<label>签订日:</label>
				<input  id="srh_contractTime_from" name="search_GTED_contractTime" class="easyui-datebox"/>				
			</span>	
			<span style="margin-left: -15px;">
				<label>~</label>
			</span>	
			<span class="input-colspan">
				<input  id="srh_contractTime_to"  name="search_LTD_contractTime" class="easyui-datebox" />
			</span>
			<span class="btn-group">
				<a href="#" id="btn" iconCls="icon-search" class="easyui-linkbutton" onclick="Convert.search('searchForm','tt');">查询</a>
				<a href="#" id="btn" iconCls="icon-clear" class="easyui-linkbutton" onclick="$('#searchForm').form('reset');">清空</a>
				<!-- <a href="#" id="btn" iconCls="icon-reload" class="easyui-linkbutton" onclick="refresh_columns();"><span id="refreshText">详细</span></a> -->
				<input type="hidden" id="refreshColumns" value = "B"></input>
				<!-- <a href="#" id="btn" class="easyui-linkbutton" onclick="exportExcel()">导出</a> -->
			</span>		
		</p>
	</form>
</div>
<div region="center" border="false" class="panel_padding"  style="padding-right:30px;">
	<table id="tt" fit="true"
			title="" iconCls="icon-edit" singleSelect="true"
			idField="id">
	</table>
</div>

<!-- <div id="w" class="easyui-window" title="合同详情" data-options="width:820,height:650"></div> -->

<div id="w_contract" class="easyui-window" title="电子合同" data-options="width:930,height:600"></div>
<div id="w_detail" title="操作记录" data-options="width:950,height:350"></div>
<div id="w_dealedAmount_detail" title="收付款明细" data-options="width:920,height:330"></div>
<div id="w_contractLoss" title="合同损耗登记" data-options="width:800,height:280"></div>
<div id="w_confirm" class="easyui-window" title="确认收货" data-options="width:570,height:400"></div>
<div id="w_doubleCheck_window"  title="上传双签协议" data-options="width:400,height:230"></div>
<script type="text/javascript">
	var lastIndex=0;
	var companyJson =eval('[(${companyJson})]');
	var contractStatusJson =eval('[(${contractStatusJson})]');
	var approveStatusJson =eval('[(${approveStatusJson})]');  
	var productTypeJson = eval('[(${productTypeJson})]');
	var deliveryTypeJson = eval('[(${deliveryTypeJson})]');
	var applyTypeJson = eval('[(${applyTypeJson})]');
	var processListJson = eval('[(${processListJson})]');
	//var matchUserNameTreeJson = eval('[(${matchUserNameTree})]');
	var sellAndBuyStatusJson = eval('[(${sellAndBuyStatusJson})]');
	var deliveryModeJson = eval('[(${deliveryModeJson})]');
	var contractAttrJson = eval('[(${contractAttrJson})]');
	var _ourCompanyJson=eval('[(${ourCompanyJson})]');
	var businessTypeJson=eval('[(${businessTypeJson})]');
	var preSellFlg = [[${preSellFlg}]];
	var confirmFlg = [[${confirmFlg}]];
	var signingFlg = [[${signingFlg}]];
	var refreshFlg = [[${refreshFlg}]];
	console.log('preSellFlg:'+preSellFlg);
	console.log('confirmFlg:'+confirmFlg);
	console.log('signingFlg:'+signingFlg);
	console.log('refreshFlg:'+refreshFlg);
	var _$warehouseNumber ='出库数量(吨)';
	var _$dealedAmount='已收金额(元)';
	var _$billedAmount='开票金额(元)';
	var _$payType="收款状态:";
	var _$warehouseType="出库状态:";
	var _$billType="开票状态:";
	var _$bondTime="收定金日期";
	var _$fullTime="收全款日期";
	var _$amountTime="收款时间";
	var _$warehouseTime="出库时间";
	var _$billTime="开票时间";
	var payTypeJson = [{id:'PY',text:'已收款'},{id:'PN',text:'未收款'}];
	var warehouseTypeJson = [{id:'WY',text:'已出库'},{id:'WN',text:'未出库'}];
	var billTypeJson = [{id:'BY',text:'已开票'},{id:'BN',text:'未开票'}];
	var sourceModeJson = [{id:'ZY-XS',text:'自营销售'},{id:'ZY-BB',text:'背靠背'},{id:'SY-XS',text:'质押销售'},{id:'SX-SX',text:'赊销'},
						 {id:'SX-HK',text:'货到付款'},{id:'DL-KZ',text:'代理开证'},{id:'DL-DC',text:'国企代采'}];
	var buyAndSell_status = [{id:'WN',text:'未出库'},{id:'PN',text:'未收款'},{id:'BN',text:'未开票'}];
	var type=$("#type").val();
	var business_type = $("#businessType").val();
	if(type=='B'){
		_$warehouseNumber='入库数量(吨)';
		_$dealedAmount='已付金额(元)';
		_$billedAmount='收票金额(元)';
		_$payType="付款状态:";
	    _$warehouseType="入库状态:";
	    _$billType="收票状态:";
	    _$bondTime="付定金日期";
		_$fullTime="付全款日期";
		_$amountTime="付款时间";
		_$warehouseTime="入库时间";
		_$billTime="收票时间";
	    payTypeJson = [{id:'PY',text:'已付款'},{id:'PN',text:'未付款'}];
	    warehouseTypeJson = [{id:'WY',text:'已入库'},{id:'WN',text:'未入库'}];
	    billTypeJson = [{id:'BY',text:'已收票'},{id:'BN',text:'未收票'}];
	    sourceModeJson = [{id:'ZY-CG',text:'自营采购'},{id:'ZY-JK',text:'自营进口'},{id:'ZY-BB',text:'背靠背'},{id:'SY-CG',text:'质押采购'},
			 			 {id:'DL-KZ',text:'代理开证'},{id:'DL-DC',text:'国企代采'}];
	    buyAndSell_status = [{id:'WN',text:'未入库'},{id:'PN',text:'未付款'},{id:'BN',text:'未收票'}];
	}
	var columns_brief = [ [
		{field:'contractNo', title:'合同编号', width:140,align:'center'},
		{field:'companyName',title:'对方企业名称', width:170,align:'left',formatter:function(value,row){
			if (value){
				var content = '<p title="' + value + '" class="tip">' + value + '</p>';
				return content;
			}
		}},
		{field:'productsName',title:'货名', width:150,align:'left',formatter:function(value,row){
			if (value){
			    var content = '<p title="' + value + '" class="tip">' + value + '</p>';
			    return content;
			}
	    }},
	    {field:'deliveryDateTo',title:'计划发货日', width:110,align:'center'},
	    {field:'deliveryAddr',title:'发货地', width:110,align:'center'},
		/* {field:'contractAttr', title:'合同属性',align:'center', width:70,formatter:function(value,row,index){
			return Convert.findValueByKey(contractAttrJson,"dictCd",value,"dictName");
		}}, */
		{field:'totalNumber',title:'数量(吨)',align:"right", width:90,formatter:formateNum},
		{field:'totalAmount',title:'总价(元)', align:"right", width:90,formatter:formateNum},
		{field:'warehouseNumber',title:_$warehouseNumber,align:"right", width:90,formatter:formateNum},
		{field:'dealedAmount',title:_$dealedAmount,align:"right", width:90,formatter:formateNum},
		{field:'billedAmount',title:_$billedAmount,align:"right", width:90,formatter:formateNum},
		{field:'contractStatus', title: '合同状态', width: 70,align:'center',formatter:function(value,row,index){
			var val = '';
			var contractType = row.contractType;
			if (contractType=="B"){
				if(value == 'D'){
					val = '<span style="color:#2828FF">' + '已成交' + '</span>';
				}else if(value == 'P'){
					val = '<span style="color:#2992a4">' + '已付款' + '</span>';
				}else if(value == 'W'){
					val = '<span style="color:#ff8153">' + '已发货' + '</span>';
				}else if(value == 'B'){
					val = '<span style="color:#4a9bff">' + '已收票' + '</span>';
				}else if(value == 'O'){
					val = '<span style="color:#009100">' + '已完成' + '</span>';
				}
			}else{
				if(value == 'D'){
					val = '<span style="color:#2828FF">' + '已成交' + '</span>';
				}else if(value == 'P'){
					val = '<span style="color:#2992a4">' + '已收款' + '</span>';
				}else if(value == 'W'){
					val = '<span style="color:#ff8153">' + '已收货' + '</span>';
				}else if(value == 'B'){
					val = '<span style="color:#4a9bff">' + '已开票' + '</span>';
				}else if(value == 'O'){
					val = '<span style="color:#009100">' + '已完成' + '</span>';
				}else if(value == 'PC'){
					val = '<span style="color:#ff66ff">' + '待收款' + '</span>';
				}
			}
			return val;
		}},
		{field:'contractTime',title:'签订日', width:130,align:'center'},
		{field:'matchUserName',title:'业务员',align:"center", width:60},
		{field:'option',title:'操作',align:'center',formatter:function(value, row, index){
			if (row.id){
				var str = "";
				if (row.existContractText){
					str += '<span onclick="printContract('+row.id+')" class="contract-btn contract-btn-10">合同预览</span>';
				}
				return str;
			}
		}}, 
		{field:'options',title:'业务操作',formatter:function(value, row, index){
			var str = '';
			if(row.id>0 && row.contractStatus != "O"){
				if(row.dealedAmount < (row.totalAmount + row.interestAmount)){
					if(row.contractType == "B"){
						 str += '<span class="contract-btn contract-btn-2" onclick="startPay('+row.id+','+row.applyCancelFlg+')">付款</span>';
					 }
				}
				if(row.billedAmount < (row.totalAmount + row.interestAmount)){
					 if(row.contractType == "S"){
						 str += '<span class="contract-btn contract-btn-3" onclick="startInvoice('+row.id+','+row.applyCancelFlg+')">开票</span>';
					 }
				}
			}
			return str;
		}}
	]];
	columns = columns_brief;
	if (type=='B'){
		for(var i in columns_brief[0]){
			var col = columns_brief[0][i];
			if (col.field=='confirmReceiveNumber'){
				col.hidden = true;
			}
			if (col.field=='piccMessage'){
				col.hidden = true;
			}
		}
	}else{
		for(var i in columns_brief[0]){
			var col = columns_brief[0][i];
			if (col.field=='contractDifTime'){
				col.hidden = true;
			}
		}
	}
	$("#payTypeName").html(_$payType);
	$("#warehouseTypeName").html(_$warehouseType);
	$("#billTypeName").html(_$billType);
	$(function(){
		 	 $("#adjustFlg").combobox({
				data:[{id:'true',text:'是'},{id:'false',text:'否'}],
				textField:'text',
				valueField:'id',
				panelHeight:'auto',
				editable:false
			 });
		 	 $("#contractTypes").combobox({
				data:[{id:'',text:'--全部--'},{id:'Y',text:'有效'},{id:'N',text:'作废'}],
				textField:'text',
				valueField:'id',
				panelHeight:"auto",
				onLoadSuccess:function(){
					$("#contractTypes").combobox('setValue','Y');
				}
			});
		 	$("#deliveryMode").combobox({
				data:deliveryModeJson,
				textField:'dictName',
				valueField:'dictCd',
				panelHeight:"auto",
				editable:true
			});
		 	$("#contractAttr").combobox({
				data:contractAttrJson,
				textField:'dictName',
				valueField:'dictCd',
				panelHeight:"auto",
				editable:true
			});
		 	$("#source").combobox({
				data:sourceModeJson,
				textField:'text',
				valueField:'id',
				panelHeight:"auto",
				editable:true
			});
		 	$("#payType").combobox({
		 		data:payTypeJson,
		 		textField:'text',
				valueField:'id',
				panelHeight:"auto"
			});
		 	$("#warehouseType").combobox({
		 		data:warehouseTypeJson,
		 		textField:'text',
				valueField:'id',
				panelHeight:"auto"
			});
		 	$("#billType").combobox({
		 		data:billTypeJson,
		 		textField:'text',
				valueField:'id',
				panelHeight:"auto"
			});
			$("#sellAndBuyStatusJson").combobox({
				data:buyAndSell_status,
				textField:'text',
				valueField:'id',
// 				width:150,
				panelHeight:"auto"
			});
			/* $('#matchUserName').combotree({
				data: matchUserNameTreeJson,
				multiple : false,
				editable : true,
				//required:true,
				formatter:function(node){
					var enableFlg = node.attributes.enableFlg;
					if (enableFlg==false){
						return '<span style="color:red;">'+node.text+'(无效)</span>';
					}
					return node.text;
				},
				onSelect : function(node){
					if(node.children.length!=0){
						$('#matchUserName').combotree('clear'); 
					}else{
					
						$('#matchUserName').combotree('setValue',node.text);	
					}
				} 
			}); */
			//我方抬头
			 $('#ourCompanyName').combobox({
				data:_ourCompanyJson, 
				valueField:'dictName',
				textField:'dictName',
				//panelWidth:'220px',
				panelHeight:"auto"
			});
		$('#tt').datagrid({
			pagination:true,
			pageSize:20,
			rownumbers:true,
			showFooter:false,
			queryParams:Convert.getJson4Form('searchForm'),
			pageList:[500,200,100,50,30,20],
			url:_ctx+"/ctr/contract/contractList",
			columns:columns,
			onDblClickRow:function(index,row){
				lastIndex = index;
				//editrow(row.id,row.contractNo);
			},
			onClickRow:function(index,row){
				lastIndex = index;
			},
			onLoadSuccess:function(data){
				 $(".tip").tooltip(
				            {
				                onShow: function(){
				                    $(this).tooltip('tip').css({
				                        width:'400',
				                        boxShadow: '1px 1px 3px #292929'
				                 });
				             }
				         }
				 );
				var total =$('#tt').datagrid('getData').total;
				if (lastIndex >total-1){
					lastIndex=total-1;
				}
				if (lastIndex){
					$('#tt').datagrid('selectRow', lastIndex);
				}
			}
		});
		
		/* $('#w').window({
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false,
			onClose:function(){
				$('#tt').datagrid('reload');
			}
		}); */
		
		$('#w_contract').window({
			title: '电子合同',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false
		});
		$('#w_dealedAmount_detail').window({
			title: '收付款明细',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false,
		});
		$('#w_doubleCheck_window').window({
			title: '上传双签协议附件',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false
		});
		$('#w_confirm').window({
			title: '确认收货',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false
		});
		$('#w_contractLoss').window({
			title: '合同损耗登记',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false,
		
		});
	});
	/* function showImg(value,row,index){
		 if(value!=undefined){
			var arrayObj = new Array();
			var j=0;
			arrayObj.push(row.fileId);
			arrayObj.push(row.invoiceFileId);
			arrayObj.push(row.amountFileId);
			arrayObj.push(row.warehouseFileId);
			arrayObj.push(row.doubleCheckFileId);
			var str = "";
			for(i = 0,len=arrayObj.length; i < len; i++) {
			    if(arrayObj[i]){
			    	str += arrayObj[i];
			    }
			}
			if (str != null && str.length > 1){
				str = str.substr(0,str.length-1);
				var arr = str.split(",");
				arr = arr.filter(n=>n);
				j = arr.length;
			}
			return j; 
		 }
	} */
	function editrow(id,contractNo){
		var url=_ctx+"/ctr/contract/detail/"+id;
		var title=contractNo;
		/* if (id ==0){
			title="新增合同";
		}
		var headerCls = '';
		$('#w').window({href:url,title:title,headerCls:headerCls});
		$('#w').window("open"); */
		window.parent.addTab(title,url);
	}

	//合同预览
	function printContract(contractId){
		if(contractId){
			var url = _ctx+"/ctr/contractText/getBycontractId/"+contractId;
			$('#w_contract').window({href:url});
			$('#w_contract').window("open");
		}
	}
	//刷新合同
	function refreshContract(contractId){
		$.messager.confirm('提示','确定要刷新该合同么?',function(t){
			if(t){
				if(contractId){
					$.post(_ctx + "/ctr/contract/refreshContractText",
						{"contractId":contractId}, function(result) {
							var rObj = eval(result);
							if (rObj.success) {
								$.messager.show({title:'Tip',msg:'刷新成功',timeout:2000,showType:'show'});
								$('#tt').datagrid('reload');
							} else {
								$.messager.alert('error',rObj.failure,'warning');
							}
						}
					)
				}
			}
		});
	}
	
	
	function getBuyContract(contractId,applyCancelFlg){
		if (applyCancelFlg){
			$.messager.alert('提示','本合同已发起作废申请，当前不可发起申请 !','info');
			return false;
		}
		var title ='新建:预售采购申请';
		var processCode = "APPLY_PRESELL_BUY";
		doRedirect(title,processCode,contractId);
	}
	
	function startDeliveryIn(contractId,applyCancelFlg){
		if (applyCancelFlg){
			$.messager.alert('提示','本合同已发起作废申请，当前不可发起申请 !','info');
			return false;
		}
		var title ='新建:入库申请';
		var processCode = "APPLY_DELIVERYIN";
		doRedirect(title,processCode,contractId);
	}
	
	function startDeliveryOut(contractId,applyCancelFlg){
		if (applyCancelFlg){
			$.messager.alert('提示','本合同已发起作废申请，当前不可发起申请 !','info');
			return false;
		}
		var title ='新建:出库申请';
		var processCode = "APPLY_DELIVERYOUT";
		doRedirect(title,processCode,contractId);
	}
	
	function startPay(contractId,applyCancelFlg){
		if (applyCancelFlg){
			$.messager.alert('提示','本合同已发起作废申请，当前不可发起申请 !','info');
			return false;
		}
		var title ='新建:付款申请';
		var processCode = "APPLY_PAY";
		doRedirect(title,processCode,contractId);
	}
	
	function startReceive(contractId,applyCancelFlg){
		if (applyCancelFlg){
			$.messager.alert('提示','本合同已发起作废申请，当前不可发起申请 !','info');
			return false;
		}
		var title ='新建:收款申请';
		var processCode = "APPLY_RECEIVE";
		doRedirect(title,processCode,contractId);
	}
	
	function startInvoiceReceive(contractId,applyCancelFlg){
		if (applyCancelFlg){
			$.messager.alert('提示','本合同已发起作废申请，当前不可发起申请 !','info');
			return false;
		}
		var title ='新建:收票申请';
		var processCode = "APPLY_INRECEIVED";
		doRedirect(title,processCode,contractId);
	}
	
	function startInvoice(contractId,applyCancelFlg){
		if (applyCancelFlg){
			$.messager.alert('提示','本合同已发起作废申请，当前不可发起申请 !','info');
			return false;
		}
		var title ='新建:开票申请';
		var processCode = "CTR_INVOICE";
		doRedirect(title,processCode,contractId);
	}
	
	function doRedirect(title,processCode,contractId){
		var processId = Convert.findValueByKey(processListJson,"processCode",processCode,"id");
		window.parent.addTab(title,_ctx+'/pm/approve/newFlow/'+processId+'?contractId='+contractId);
	}
	
	function queryStockDetailHis(id){
		if(id){
			var url =_ctx+"/ctr/contractOphis/findBuyAndSellOphis/"+id;
			$('#w_detail').window({href:url});
			$('#w_detail').window("open");
		} 
	}
	
	function dealedAmountDetail(id){
		if(id){
			var url =_ctx+"/ctr/contract/detailAmount/"+id;
			$('#w_dealedAmount_detail').window({href:url});
			$('#w_dealedAmount_detail').window("open");
		}
	}
	
	//合同损耗
	function contractLoss(id,contractNo){
		if(id){
			var url=_ctx+"/ctr/contract/loss/"+id;
			var title='合同损耗登记'; 
			$('#w_contractLoss').window({href:url});
			$('#w_contractLoss').window("open");
		}
		
	}
	
	//双签
	function signing(id){
		if(id){
			var url=_ctx+"/ctr/contract/openSigning/"+id;
			var title='上传双签协议附件'; 
			$('#w_doubleCheck_window').window({href:url});
			$('#w_doubleCheck_window').window("open");
		}
		
	}

	function exportExcel(){
    	$('#searchForm').form('submit', {url:_ctx+"/ctr/contract/exportExcel"});
	}

	//确认收货
	function confirm(id) {
		var url = _ctx + "/ctr/contract/getEntityById?id=" + id;
		$('#w_confirm').window({href : url});
		$('#w_confirm').window("open");
	}
	
	//字符串转日期
	function strDateForDate(str){
		var strDate = str.split(" ");
		var strDatepart = strDate[0].split("-");
		var dtDate = new Date(strDatepart[0],strDatepart[1]-1,strDatepart[2]);
		return dtDate;
	}
	
	//计算两个日期的天数差
	function dateDiff(firstDate,secondDate){
		var firstDate = new Date(firstDate);
		var secondDate = new Date(secondDate);
		var diff = Math.abs(firstDate.getTime() - secondDate.getTime())
		var result = parseInt(diff / (1000 * 60 * 60 * 24));
		return result
	}

	//刷新datagrid
	function refresh_columns(){
		var refreshValue = $("#refreshColumns").val();
		var col;
		var value = "";
		var new_refresh = ""
		if (refreshValue == "D"){
			col = columns_brief;
			value = "详细";
			new_refresh = "B";
		}
		$('#tt').datagrid({columns:col});
		$('#tt').datagrid('reload');
		$('#refreshText').text(value);
		$('#refreshColumns').val(new_refresh);
	}

	function formateNum(num,row,index) {
		if (num){
			num = parseFloat(num).toFixed(2).toString().split(".");
			num[0] = num[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)','ig'),"$1,");
			return num.join(".");
		}else{
			return num;
		}
	}
</script>

</body>
</html>
