<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>企业公告</title>
<th:block th:replace="~{layouts/include :: include}"></th:block>
	<th:block th:include="include :: header('Summernote富文本编辑器')" />
	<th:block th:include="include :: summernote-css" />
	<script th:src="@{/static/js/bootstrap.min.js?v=3.3.7}"></script>
	<th:block th:include="include :: summernote-js" />
</head>
<body class="easyui-layout">
<div region="north" class="search_div  pt20	pl0 pr20 pb15 ofh " border="false">
	<form id="searchForm" class="form-search from-input-layout" method="post" style="margin-left: 2px">
		<div class="mb6"  >
			<p class="yw-table-filter mobile-display-none">
				<label>公告编号</label>
				<input name="search_LIKES_noticeCode" type="text" value=""/>
			</p>
			<p class="yw-table-filter">
				<label>公告标题:</label>
				<input name="search_LIKES_subjuect" type="text" value=""/>
			</p>
			<p class="yw-table-filter mobile-display-none">
				<label>发文部门:</label>
				<input name="search_LIKES_sendDeptName" id="fwDept" type="text" value=""/>
			</p>
			<a href="#" id="btn" iconCls="icon-search" class="easyui-linkbutton" onclick="Convert.search('searchForm','tt');">查询</a>
			<a href="#" id="btn" iconCls="icon-clear" class="easyui-linkbutton ml10" onclick="$('#searchForm').form('reset');">清空</a>
		</div>
		<div class="mb6 mobile-display-none">
			<p class="yw-table-filter">
			<a th:if="${editFlag}=='1'" href="#" class="easyui-linkbutton addBtn" data-options="iconCls:'icon-add'" onclick="insert()">新增</a>
			</p>
		</div>
	</form>
</div>
<div region="center" border="false" class="panel_padding"style="margin-top: -32px;padding-left: 0px">
	<table id="tt" fit="true"
		   title="" iconCls="icon-edit" singleSelect="true"
		   idField="id" style="padding-left: 0px">
	</table>
</div>

<div id="xz" title="公告" class="easyui-window" data-options="width:850,height:650"></div>
<script type="text/javascript">
	var lastIndex=0;
	var ourCompanyJson =eval('[(${ourCompanyJson})]');
	var announcementDeptTypeJson =eval('[(${announcementDeptTypeJson})]');
	var announcementDeptFwTypeJson =eval('[(${announcementDeptFwTypeJson})]');
	var deptJson=eval('[(${matchDeptNameTree})]');
	$(function(){
		$('#xz').window("close");
		init();
		$("#fwDept").combobox({
			data:announcementDeptFwTypeJson,
			textField:'dictName',
			valueField:'dictCd',
			panelHeight:"auto"
		});
	});

	function insert() {
		var id=0;
		var url = _ctx + "/bs/bsNotice/insert/" + id;
		$('#xz').window({href: url, modal: true,
			closed: true,
			collapsible: false,
			minimizable: false,
			maximizable: false,
			cache: false});
		$('#xz').window("open");
	}


	function editrow(id) {
		var url = _ctx + "/bs/bsNotice/insert/" + id;
		$('#xz').window({href: url, modal: true,
			closed: true,
			collapsible: false,
			minimizable: false,
			maximizable: false,
			cache: false});
		$('#xz').window("open");
	}

	function showGg(id) {
		var url = _ctx + "/bs/bsNotice/show/" + id;
		$('#xz').window({href: url, modal: true,
			closed: true,
			collapsible: false,
			minimizable: false,
			maximizable: false,
			cache: false});
		$('#xz').window("open");

	}

	function removeConfig(id){
			$.messager.confirm({
				width:388,
				height:170,
				title: '删除提示',
				msg: '确定要删除该信息吗？',
				ok: "确定",
				cancel: "取消",
				cls:'c9',
				border:'thin',
				fn: function(r){
					if (r){
						$.post(_ctx+"/bs/bsNotice/delete2/"+id,function(result) {
							if(result.indexOf('success') != -1){
								$('#tt').datagrid('reload');
							}else{
								$.messager.alert('error',"删除失败",'warning');
							}
						});
					}
				}
			});
	}

	function init(){
		$('#tt').datagrid({
			pagination: true,
			pageSize: 30,
			rownumbers: false,
			queryParams: Convert.getJson4Form('searchForm'),
			pageList:[50,40,30,20,10],
			url:_ctx+"/bs/bsNotice/pageList",
			columns:[ [
			{field:'pid',title:'',width:40,align:'left'},
			{field:'noticeCode',title:'公告编号',align:'left',sortable:false,width:220,height:30},
			{field:'companyName',title:'发文公司',align:'left',width:220},
			{field:'sendDeptName',title:'发文部门',width:220,align:'left'},
			{field:'subjuect',title:'公告标题',width:250,align:'left'},
			{field:'year',title:'年份',width:150},
			{field:'createdDate',title:'创建日期',width:150},
				{field:'operate',title:'操作',width: 120,align:'center',formatter:function(value, row, index){
						var str = "";
						if(row.editFlag=="1"){
							str += '<span onclick="editrow('+row.id+')" class="contract-btn contract-btn-10">编辑</span>';
							str += '<span onclick="showGg('+row.id+')" class="contract-btn contract-btn-10">查看</span>';
							str += '<span onclick="removeConfig('+row.id+')" class="contract-btn contract-btn-4">删除</span>';
						}else{
							str += '<span onclick="showGg('+row.id+')" class="contract-btn contract-btn-10">查看</span>';
						}
						return str;
					} }
		] ],
			onDblClickRow: function (index, row) {
				if(row.editFlag=="1"){
					var url = _ctx + "/bs/bsNotice/insert/" + row.id;
					$('#xz').window({href: url, modal: true,
						closed: true,
						collapsible: false,
						minimizable: false,
						maximizable: false,
						cache: false});
					$('#xz').window("open");
				}else{
					var url = _ctx + "/bs/bsNotice/show/" +row.id;
					$('#xz').window({href: url, modal: true,
						closed: true,
						collapsible: false,
						minimizable: false,
						maximizable: false,
						cache: false});
					$('#xz').window("open");

				}
			},
			onClickRow: function (index, row) {
				lastIndex = index;
			},
		});

	}
</script>
</body>
</html>