<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="easyui-layout" fit="true">
	<div region="center" style="padding:5px 20px 5px 5px;+position: relative;overflow-x:hidden;" border="false">
		<form id="inputForm" method="post"  enctype="multipart/form-data" class="editForm" style="margin-top: 10px;margin-bottom: 0;">
			<input type="hidden" name="id" id="entityId" th:value="${entity.id}" />
			<p>
			<span>
				<label for="companyId"  class="control-label">企业名称:</label>
				<input name="companyId" id="companyId" class="easyui-validatebox control required" type="text" th:value="${entity.companyId}"></input>
			</span>
			<span>
				<label for="grade"  class="control-label" style="margin-left: 20px;">评价分数:</label>
				<input name="grade" id="grade" class="easyui-numberbox control required" type="text" th:value="${entity.grade}" data-options="min:1,max:10"></input>
			</span>
			</p>

			<p>
			<span>
			<label for="content"  class="control-label">内容:</label>
			<textarea name="content" id="content" class="easyui-validatebox control large required" th:text="${entity.content}"></textarea>
			</span>
			</p>
		</form>
	</div>
	<div region="south" border="false" style="overflow: hidden;height: 40px;">
		<div class="actions_bar">
		<a href="#" class="easyui-linkbutton btn" data-options="iconCls:'icon-save'" onclick="save();">保存</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	var companyJson = eval('[(${companyJson})]');
$(function(){
	$("#companyId").combobox({
		data:companyJson,
		textField:'companyName',
		valueField:'id',
		//readonly: true,
		editable:false,
		width:128,
		height:24,
		/* onSelect:function(record){
			$('#companyName').val(record.companyName);
		} */
	});
});

	function save(){
		var options={
		        url:_ctx+'/bs/companyEvaluate/save',
		        onSubmit: function(){
		        	var flag=true;
		        	if(!$("#inputForm").form('validate'))
		        		flag=false;
		        	return flag;
		        },
		        success:function(data){
					if(data.indexOf("success")>=0){
		        		 $.messager.show({
		                     title:'Tip',
		                     msg:'保存成功',
		                     timeout:2000,
		                     showType:'show'
		                 });
		        		 $('#w').window("close");
		        	}else{
		        		$.messager.alert('error',rObj.failure,'warning');
		        	}
		        }
			};
		$('#inputForm').form('submit', options);
	}
</script>
