<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>商品信息配置</title>
  <th:block th:replace="~{layouts/include :: include}"></th:block>
</head>
<body class="easyui-layout">
<div region="north" class="search_div pt20	pl20 pr20 pb15 ofh" border="false">
  <form id="searchForm" class="form-search from-input-layout" method="post">
    <div class="mb6">
      <p class="yw-table-filter">
        <label>配置名称:</label>
        <input  name="search_LIKES_configName" type="text" />
      </p>
      <p class="yw-table-filter">
        <label>配置项:</label>
        <input  name="search_LIKES_configKey" type="text" />
      </p>
      <a href="#" id="btn" class="easyui-linkbutton btn64" onclick="Convert.search('searchForm','tt');">查询</a>
      <a href="#" id="btn1" class="easyui-linkbutton btn-empty btn64 ml10" onclick="$('#searchForm').form('reset');Convert.search('searchForm','tt');">清空</a>
    </div>
  </form>
  <div id="btn2" class="add-btn" style="margin-top: 10px">
    <a  href="#" class="easyui-linkbutton btn64 addBtn" onclick="editrow(0)">新增</a>
  </div>
</div>


<div region="center" border="false" class="panel_padding pl20 pr20">
  <table id="tt" fit="true"
         title="" iconCls="icon-edit" singleSelect="true"
         idField="id">
  </table>
</div>
<div id="projectConfig_detail" title="商品信息配置" data-options="width:720,height:560">
</div>
<script type="text/javascript">
  $(function(){
    $('#tt').datagrid({
      pagination:true,
      width:400,
      pageSize:30,
      rownumbers:true,
      pageList:[50,40,30,20,10],
      url:_ctx+"/bs/productConfig/list",
      columns:[ [
        {field:'configName',title:'配置名称',align:'left', width:150},
        {field:'configKey',title:'配置项',align:'left', width:200},
        {field:'configValue',title:'配置内容',align:'left', width:180},
        {field:'updatedDate',title:'修改日期',align:'left', width:150},
        {field:'operate',title:'操作', width:80,align:'center',formatter:function(value, row, index){
            var id =row.id;
            var str = '<img onclick="removeConfig('+id+')" style="cursor:pointer;width:16px;hight:18px;float:left;margin-left:24px" src="../static/new-version/images/icon_delete.png"/>';
            return str;
          }}
      ]],
      toolbar:"#toolbar",
      onDblClickCell:function(){
        var row = $('#tt').datagrid('getSelected');
        editrow(row.id);
      }
    });

    $('#projectConfig_detail').window({
      title : '商品信息配置',
      modal : true,
      closed : true,
      collapsible : false,
      minimizable : false,
      maximizable : false,
      cache : false,
      onClose : function() {
        $('#tt').datagrid('reload');
      }
    });
  });

  /* 弹出新增框 */
  function editrow(id) {
    var url = _ctx + "/bs/productConfig/detail/" + id;
    $('#projectConfig_detail').window({href:url});
    $('#projectConfig_detail').window("open");

  }

  /*  删除方法 */
  function removeConfig(id){
    $('#tt').datagrid('selectRecord',id);
    var row = $('#tt').datagrid('getSelected');
    var index = $('#tt').datagrid('getRowIndex', row);
    if (id=='0'){
      $('#tt').datagrid('deleteRow',index);
      var nextSelect=index>0?index-1:0;
      $('#tt').datagrid('selectRow', nextSelect);
    }else{
      $.messager.confirm({
        width:388,
        height:170,
        title: '删除提示',
        msg: '确定要删除该信息吗？',
        ok: "确定",
        cancel: "取消",
        cls:'c9',
        border:'thin',
        fn: function(r){
          if (r){
            //TODO:如果该记录被引用,是否强制不允许删除?
            $.post(_ctx+"/bs/productConfig/delete/"+id,function(result) {
              var rObj = eval(result);
              if(rObj.success){
                $('#tt').datagrid('reload');
                $('#tt').datagrid('clearSelections');
                $.messager.show({
                  title: 'Tip',
                  msg: '删除成功',
                  timeout: 2000,
                  showType: 'show'
                });
              }else{
                $.messager.alert('error',rObj.failure,'warning');
              }
            });
          }
        }
      });
    }
  }

</script>
</body>
</html>
