<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>资金方额度流水</title>
    <th:block th:replace="~{layouts/include :: include}"></th:block>
</head>
<body class="easyui-layout">
<div region="north" class="search_div pt20	pl20 pr20 pb15 ofh" border="false">
    <input type="hidden" id = "fundRechargeProcessId" th:value="${fundRechargeProcess.id}">
    <input type="hidden" id = "fundRechargeProcessName" th:value="${fundRechargeProcess.processName}">
    <form id="searchForm" class="form-search from-input-layout" method="post">
        <div class="mb6">
            <p class="yw-table-filter">
                <label>企业名称:</label>
                <input id="srh_fundCompanyId" name="search_EQL_fundCompanyId" type="text"/>
            </p>
            <p class="yw-table-filter">
                <label>我方抬头:</label>
                <input id="srh_ourCompanyName" name="search_EQS_ourCompanyName" type="text" th:value="${ourCompanyNameStr}"/>
            </p>
            <p class="yw-table-filter">
                <label>类别:</label>
                <input id="srh_flowType" name="search_EQS_flowType" type="text"/>
            </p>
            <p class="yw-table-filter mobile-display-none">
                <label>摘要:</label>
                <input  name="search_LIKES_subject" type="text"/>
            </p>
            <p class="yw-table-filter mobile-display-none">
                <label>日期</label>
                <input  id="srh_updatedDate_from" name="search_GTED_updatedDate" class="easyui-datebox"/>
            </p>
            <span style="margin-left: -15px;" class="mobile-display-none">
				<label>~</label>
			</span>
            <p class="yw-table-filter mobile-display-none">
                <input  id="srh_updatedDate_to"  name="search_LTD_updatedDate" class="easyui-datebox" />
            </p>
            <a href="#" class="easyui-linkbutton btn64" onclick="Convert.search('searchForm','fundFlowTable');">查询</a>
            <a href="#" class="easyui-linkbutton btn-empty btn64 ml10" onclick="$('#searchForm').form('reset');">清空</a>
            <a href="#" class="easyui-linkbutton btn-empty btn64 ml10" style="width: 100px;" onclick="applyFundRecharge()">资金方充值</a>
            <a href="#" class="easyui-linkbutton btn-empty btn64 ml10" onclick="exportExcel()">导出</a>
        </div>
    </form>
</div>

<div region="center" border="false" class="panel_padding pl20 pr20">
    <table id="fundFlowTable" fit="true"
           title="" iconCls="icon-edit" singleSelect="true"
           idField="id">
    </table>
</div>
<script type="text/javascript">
    var lastIndex;
    var _fundRechargeProcessId = $("#fundRechargeProcessId").val();
    var _fundRechargeProcessName = $("#fundRechargeProcessName").val();
    var _fundCompanyListJson = eval('[(${fundCompanyListJson})]');
    var _fundTypeJson = eval('[(${fundTypeJson})]');
    var _funderOurCompanyNameJson = eval('[(${funderOurCompanyNameJson})]');
    $(function(){
        $("#srh_fundCompanyId").combobox({
            data: _fundCompanyListJson,
            valueField: 'id',
            textField: 'companyAbbr',
            panelHeight: "auto",
            editable: false,
            value: _fundCompanyListJson[0].id,
            onLoadSuccess: function(data) {
                if (data){
                    $(this).combobox("setValue", data[0].id);
                }
            }
        });
        $('#srh_ourCompanyName').combobox({
            data:_funderOurCompanyNameJson,
            valueField:'dictName',
            textField:'dictName',
            panelHeight:"auto",
            panelWidth:250,
            editable:false,
            required:false,
        });

        $("#srh_flowType").combobox({
            data: _fundTypeJson,
            valueField: 'dictCd',
            textField: 'dictName',
            panelHeight: "auto",
            editable: false
        });

        $('#fundFlowTable').datagrid({
            pagination:true,
            width:400,
            pageSize:30,
            rownumbers:true,
            pageList:[50,40,30,20,10],
            queryParams:Convert.getJson4Form('searchForm'),
            url:_ctx+"/apply/fundRecharge/findFundFlowPage",
            columns:[ [
                {
                    field: 'flowType',
                    title: '流水类型',
                    width: 130,
                    align: 'left',
                    formatter: function (value, row, index) {
                        return Convert.findValueByKey(_fundTypeJson, "dictCd", value, "dictName");
                    }
                },
                {field: 'flowAmount', title: '流水金额', width: 130, align: "right", formatter: formatterFundNum},
                {field: 'initialAmount', title: '期初金额', width: 150, align: 'right', formatter: formatterNum},
                {field: 'ultimateAmount', title: '期末金额', width: 150, align: 'right', formatter: formatterNum},
                {field: 'subject', title: '流水摘要', width: 450, align: 'left'},
                {field: 'ourCompanyName', title: '我方抬头', width: 200, align: 'left'},
                {field:'updatedDate',title:'更新日期', width:150,align:'center'}
                // {field:'linkApproveId',title:'审批详情', width:150,align:'center', formatter: function (value, row, index){
                //      return '<span onclick="openFundFlowDetail('+row.linkApproveId+')" class="contract-btn contract-btn-7">审批详情</span>';
                // }}
            ]],
            toolbar:'#toolbar',
            onDblClickCell:function(index,field){
            }
        });
    });

    function exportExcel() {
        $('#searchForm').form('submit', {url:_ctx+"/apply/fundRecharge/exportExcel"});
    }
    function openFundFlowDetail(approveId){
        if (approveId) {
            var title = '审批详情' + ':' + approveId;
            window.parent.addTab(title, _ctx + '/pm/approve/detail/' + approveId);
        }
    }

    function formatterFundNum(num, row, index) {
        if (!num){
            return "";
        }
        const _num = parseFloat(num).toFixed(2).toString().split(".");
        _num[0] = _num[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)', 'ig'), "$1,");
        const value = _num.join(".");
        if (num < 0) {
            return '<span class="contract-btn contract-btn-4">' + value + '</span>';
        } else {
            return '<span class="contract-btn contract-btn-2">' + '＋' + value + '</span>';
        }
    }

    function formatterNum(num, row, index) {
        if (num) {
            num = parseFloat(num).toFixed(2).toString().split(".");
            num[0] = num[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)', 'ig'), "$1,");
            return num.join(".");
        } else {
            return num;
        }
    }

    function applyFundRecharge() {
        window.parent.addTab(_fundRechargeProcessName, _ctx + '/pm/approve/newFlow/' + _fundRechargeProcessId);
    }
</script>
</body>
</html>
