<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="easyui-layout" fit="true">
	<div region="center" border="false">
		<div id="inputForm" method="post" class="editForm_approve content_div" style="margin-top: 10px;margin-bottom: 0;overflow:hidden;">
			<input type="hidden" name="id" id="entityId" th:value="${entity.id}" />
			<div class="editForm">
				<div class="mb6">
					<p class="yw-table-filter">
						<label>入金金额:</label>
						<input name="dealNumber" id="dealNumber" th:value="${entity.targetAmount}" type="text"/>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script th:src="@{/static/ueditor/third-party/webuploader/webuploader.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/file.js?v=2}" type="text/javascript"></script>
<script th:src="@{/static/js/admin/apply_base.js}" type="text/javascript"></script>
<script type="text/javascript">
var filePlugin = new FilePlugin('#fileId',$('#entityId').val(),'/apply/sealUsage/updateFileId',[[${param.hasEditFile}]]);
//var _curStatus = $("#entityStatus").val();
var _curStatus = '[[${status}]]';
$(function(){
	//$('#addBtn').linkbutton();
	$('.easyui-linkbutton').linkbutton();
	if(_curStatus&&(_curStatus=='N'||_curStatus=='B'||_curStatus=='C')){
		/* $('#sealType').combobox({
			data:_sealTypeJson,
			valueField:'dictCd',
			textField:'dictName',
			editable:false,
			required:true,
			panelHeight:'auto',
			onSelect:function(node){
				var dictCd = node.dictCd;
				if (dictCd == "TS"){
					$('.sealUsage_content').removeClass('hide');
					$('#customerName_Label').text("客户");
				}else{
					$('.sealUsage_content').addClass('hide');
					$('#customerName_Label').text("提供方");
					$('#contractNo').val("");
					$('#totalAmount').val("");
				}
			},
			onLoadSuccess:function(data){
				var value = $(this).val();
				if (!value){
					$(this).combobox('setValue',data[0].dictCd);
				}
			}
		}); */



	} else if(_curStatus&&(_curStatus=='A'||_curStatus=='D')){

	}

	//加载附件列表
	filePlugin.load($('#fileId').val(),'#span_fileId');
	if ($('#btn_fileId').length>0){
		fileUpload("btn_fileId", "fileId");
	}
});

</script>
