<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link th:href="@{/static/ueditor/third-party/webuploader/webuploader.css?v=5565}" type="text/css" rel="stylesheet" />
<style>
/* .form-section1 {margin-left: 15px;margin-right: 15px;margin-top: -15px;box-sizing: border-box;min-width: 1020px;padding: 15px 46px 10px 20px;border-width: 1px;border-style: solid;border-color: rgb(199, 220, 255);border-image: initial;overflow: hidden;}
.from-input-layout .input-colspan>label {display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;vertical-align: middle;width: 105px;margin-right: 10px;color: #666;font-size: 14px;text-align: right;cursor: pointer;} */
</style>
<div class="easyui-layout ml10 mr10" fit="true">
	<div region="center" border="false">
		<form id="inputForm" method="post"  enctype="multipart/form-data" class="editForm from-input-layout">
			<input type="hidden" name="id" th:value="${entity.id}">
			<input type="hidden" name="contractId" th:value="${report.contractId}">
			<input type="hidden" name="productId" th:value="${report.productId}">
			<input type="hidden" name="applyDeliveryId" id="applyDeliveryId" th:value="${report.applyDeliveryId}">
			<input type="hidden" name="enterpriseId" th:value="${report.enterpriseId}">
			<div class="form-section">
	            <p class="form-section-title"><span class="approve_text">仓储费用</span><i></i></p>
	            <p class="yw-table-filter">
	                <label>采购仓储费</label>
	                <input name="ccFeeCg" id="ccFeeCg" type="text" th:value="${entity.ccFeeCg}"></input>
	            </p>
	            <p class="yw-table-filter">
	                <label>销售仓储费</label>
	                <input name="ccFeeXs" id="ccFeeXs" type="text" th:value="${entity.ccFeeXs}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>入库/货转费</label>
	            	<input name="ccFeeRuku" id="ccFeeRuku" type="text" th:value="${entity.ccFeeRuku}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>仓储杂费</label>
	            	<input name="ccFeeQt" id="ccFeeQt" type="text" th:value="${entity.ccFeeQt}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>入库货转承担人</label>
	            	<input name="ccUserRuku" id="ccUserRuku" type="text" th:value="${entity.ccUserRuku}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>采仓承担人</label>
	            	<input name="ccUserCg" id="ccUserCg" type="text" th:value="${entity.ccUserCg}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>销仓承担人</label>
	            	<input name="ccUserXs" id="ccUserXs" type="text" th:value="${entity.ccUserXs}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>费率</label>
	            	<input name="ccFeeRate" id="ccFeeRate" type="text" th:value="${entity.ccFeeRate}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>仓储杂费承担人</label>
	            	<input name="ccUserQt" id="ccUserQt" type="text" th:value="${entity.ccUserQt}"></input>
	            </p>
            </div>

			<div class="form-section">
	            <p class="form-section-title"><span class="approve_text">物流费用</span><i></i></p>
	            <p class="yw-table-filter">
	            	<label>运输费</label>
	            	<input name="wlFeeYs" id="wlFeeYs" type="text" th:value="${entity.wlFeeYs}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>装车费</label>
	            	<input name="wlFeeZc" id="wlFeeZc" type="text" th:value="${entity.wlFeeZc}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>代付仓储费</label>
	            	<input name="wlFeeDfcc" id="wlFeeDfcc" type="text" th:value="${entity.wlFeeDfcc}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>物流杂费</label>
	            	<input name="wlFeeQt" id="wlFeeQt" type="text" th:value="${entity.wlFeeQt}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>费率</label>
	            	<input name="wlFeeRate" id="wlFeeRate" type="text" th:value="${entity.wlFeeRate}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>运输装车承担人</label>
	            	<input name="wlUserYs" id="wlUserYs" type="text" th:value="${entity.wlUserYs}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>代付仓储承担人</label>
	            	<input name="wlUserDfcc" id="wlUserDfcc" type="text" th:value="${entity.wlUserDfcc}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>物流杂费承担人</label>
	            	<input name="wlUserQt" id="wlUserQt" type="text" th:value="${entity.wlUserQt}"></input>
	            </p>
	        </div>

	        <div class="form-section">
	            <p class="form-section-title"><span class="approve_text">表单详情</span><i></i></p>
	            <p class="yw-table-filter">
	            	<label>出库单号</label>
	            	<input name="warehouseNo" readonly id="warehouseNo" type="text" th:value="${report.warehouseNo}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>品名</label>
	            	<input name="productName" readonly id="productName" type="text" th:value="${report.productName}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>牌号</label>
	            	<input name="brandNumber" readonly id="brandNumber" type="text" th:value="${report.brandNumber}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>厂商</label>
	            	<input name="factoryName" readonly id="factoryName" type="text" th:value="${report.factoryName}"></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>合同编号</label>
	            	<input name="contractNo" readonly id="contractNo" type="text" th:value="${report.contractNo}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>业务类型</label>
	            	<input name="businessType" readonly id="businessType1" type="text" th:value="${report.businessType}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>我方抬头</label>
	            	<input name="ourCompanyName" readonly id="ourCompanyName" type="text" th:value="${report.ourCompanyName}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>供应商</label>
	            	<input name="companyName" readonly id="companyName" type="text" th:value="${report.companyName}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>入库单号</label>
	            	<input name="warehouseInNo" readonly id="warehouseInNo" type="text" th:value="${report.warehouseInNo}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>数量(吨)</label>
	            	<input name="dealNumber" readonly id="dealNumber" type="text" th:value="${report.dealNumber}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>业务员</label>
	            	<input name="bizUserName" readonly id="bizUserName" type="text" th:value="${report.bizUserName}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>联系电话</label>
	            	<input name="companyPhone" id="companyPhone" type="text" th:value="${report.companyPhone}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>提货人</label>
	            	<input name="driverName" id="driverName" type="text" th:value="${report.driverName}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>提货人电话</label>
	            	<input name="driverPhone" id="driverPhone" type="text" th:value="${report.driverPhone}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>身份证号</label>
	            	<input name="driverCardNo" id="driverCardNo" type="text" th:value="${report.driverCardNo}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>车牌号</label>
	            	<input name="plateNumber" id="plateNumber" type="text" th:value="${report.plateNumber}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>仓位/货位</label>
	            	<input name="warehousePosition" id="warehousePosition" type="text" th:value="${report.warehousePosition}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>批号</label>
	            	<input name="warehouseBatchNo" id="warehouseBatchNo" type="text" th:value="${report.warehouseBatchNo}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>柜数</label>
	            	<input name="countersNumber" id="countersNumber" type="text" th:value="${report.countersNumber}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>收货地址</label>
	            	<input name="deliveryAddr" id="deliveryAddr" type="text" th:value="${report.deliveryAddr}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>联系人</label>
	            	<input name="contractName" id="contractName" type="text" th:value="${report.contractName}" ></input>
	            </p>
	            <p class="yw-table-filter">
	            	<label>备注</label>
	            	<textarea name="remark" id="remark" th:text="${report.remark}" style="resize:none;vertical-align: middle;height:55px;width:312px;"></textarea>
	            </p>
	        </div>
			<!-- <input name="applyDeliveryId" id="applyDeliveryId" type="hidden" th:value="${report.applyDeliveryId}"></input> -->
	</form>
	</div>
	<div region="south" border="false" style="overflow: hidden;height: 35px;">
		<div class="actions_bar">
			<span class="easyui-linkbutton btn-info-empty ml10" data-options="iconCls:'icon-save'" id="btn_save_N" onclick="saveDelivery()">保存</span>
			<span class="easyui-linkbutton btn-info-empty-new ml10" id="btn_thd" onclick="printThd()">提货单</span>
			<span class="easyui-linkbutton btn-info-empty-new ml10" id="btn_hzd" onclick="printHzd()">转货权单</span>
			<span class="easyui-linkbutton btn-info-empty-new ml10" id="btn_sgd" onclick="printSgd()">送柜单</span>
			<span class="easyui-linkbutton btn-info-empty-new ml10" id="btn_psd" onclick="printPsd()">中信配送单</span>
			<span class="easyui-linkbutton btn-danger ml10" onclick="$('#detail').window('close')">关闭</span>
		</div>
	</div>
</div>
<script type="text/javascript">
var businessTypeJson = eval('[(${businessTypeJson})]');
var matchUserNameTreeJson = eval('[(${matchUserNameTree})]');
var contractFeeRate = eval('[(${contractFeeRate})]');
var applyDeliveryId = $('#applyDeliveryId').val();
$(function(){
	$("#ccUserXs").combotree({
		data:matchUserNameTreeJson,
		multiple:false,
		editable:true,
		panelHeight:300,
		panelWidth:185,
		formatter:function(node){
			var enableFlg = node.attributes.enableFlg;
			if (enableFlg==false){
				return '<span style="color:red;">'+node.text+'(无效)</span>';
			}
			return node.text;
		},
		onSelect : function(node){
			if(node.children.length!=0){
				$('#ccUserXs').combotree('clear');
			}else{
				$('#ccUserXs').combotree('setValue',node.text);
			}
		}
	});
	$("#wlUserQt").combotree({
		data:matchUserNameTreeJson,
		multiple:false,
		editable:true,
		panelHeight:300,
		panelWidth:185,
		formatter:function(node){
			var enableFlg = node.attributes.enableFlg;
			if (enableFlg==false){
				return '<span style="color:red;">'+node.text+'(无效)</span>';
			}
			return node.text;
		},
		onSelect : function(node){
			if(node.children.length!=0){
				$('#wlUserQt').combotree('clear');
			}else{
				$('#wlUserQt').combotree('setValue',node.text);
			}
		}
	});
	$("#ccUserCg").combotree({
		data:matchUserNameTreeJson,
		multiple:false,
		editable:true,
		panelHeight:300,
		panelWidth:185,
		formatter:function(node){
			var enableFlg = node.attributes.enableFlg;
			if (enableFlg==false){
				return '<span style="color:red;">'+node.text+'(无效)</span>';
			}
			return node.text;
		},
		onSelect : function(node){
			if(node.children.length!=0){
				$('#ccUserCg').combotree('clear');
			}else{
				$('#ccUserCg').combotree('setValue',node.text);
			}
		}
	});
	$("#ccUserRuku").combotree({
		data:matchUserNameTreeJson,
		multiple:false,
		editable:true,
		panelHeight:300,
		panelWidth:165,
		formatter:function(node){
			var enableFlg = node.attributes.enableFlg;
			if (enableFlg==false){
				return '<span style="color:red;">'+node.text+'(无效)</span>';
			}
			return node.text;
		},
		onSelect : function(node){
			if(node.children.length!=0){
				$('#ccUserRuku').combotree('clear');
			}else{
				$('#ccUserRuku').combotree('setValue',node.text);
			}
		}
	});
	$("#ccUserQt").combotree({
		data:matchUserNameTreeJson,
		multiple:false,
		editable:true,
		panelHeight:300,
		panelWidth:185,
		formatter:function(node){
			var enableFlg = node.attributes.enableFlg;
			if (enableFlg==false){
				return '<span style="color:red;">'+node.text+'(无效)</span>';
			}
			return node.text;
		},
		onSelect : function(node){
			if(node.children.length!=0){
				$('#ccUserQt').combotree('clear');
			}else{
				$('#ccUserQt').combotree('setValue',node.text);
			}
		}
	});
	$("#wlUserYs").combotree({
		data:matchUserNameTreeJson,
		multiple:false,
		editable:true,
		panelHeight:300,
		panelWidth:185,
		formatter:function(node){
			var enableFlg = node.attributes.enableFlg;
			if (enableFlg==false){
				return '<span style="color:red;">'+node.text+'(无效)</span>';
			}
			return node.text;
		},
		onSelect : function(node){
			if(node.children.length!=0){
				$('#wlUserYs').combotree('clear');
			}else{
				$('#wlUserYs').combotree('setValue',node.text);
			}
		}
	});
	$("#wlUserDfcc").combotree({
		data:matchUserNameTreeJson,
		multiple:false,
		editable:true,
		panelHeight:300,
		panelWidth:185,
		formatter:function(node){
			var enableFlg = node.attributes.enableFlg;
			if (enableFlg==false){
				return '<span style="color:red;">'+node.text+'(无效)</span>';
			}
			return node.text;
		},
		onSelect : function(node){
			if(node.children.length!=0){
				$('#wlUserDfcc').combotree('clear');
			}else{
				$('#wlUserDfcc').combotree('setValue',node.text);
			}
		}
	});
	$("#wlUserDfcc").combotree({
		data:matchUserNameTreeJson,
		multiple:false,
		editable:true,
		panelHeight:300,
		panelWidth:185,
		formatter:function(node){
			var enableFlg = node.attributes.enableFlg;
			if (enableFlg==false){
				return '<span style="color:red;">'+node.text+'(无效)</span>';
			}
			return node.text;
		},
		onSelect : function(node){
			if(node.children.length!=0){
				$('#wlUserDfcc').combotree('clear');
			}else{
				$('#wlUserDfcc').combotree('setValue',node.text);
			}
		}
	});
	//费率
	$("#ccFeeRate").combobox({
		data:contractFeeRate,
		textField:'dictName',
		valueField:'dictCd',
		panelHeight:"auto",
		required:true,
		editable:false,
		onLoadSuccess:function(data){
			var value = $(this).val();
			if (!value){
				$(this).combobox('setValue',data[1].dictCd);
			}
		}
	});
	//费率
	$("#wlFeeRate").combobox({
		data:contractFeeRate,
		textField:'dictName',
		valueField:'dictCd',
		panelHeight:"auto",
		required:true,
		editable:false,
		onLoadSuccess:function(data){
			var value = $(this).val();
			if (!value){
				$(this).combobox('setValue',data[2].dictCd);
			}
		}
	});
	$("#ccFeeXs,#ccFeeCg,#ccFeeRuku,#ccFeeQt,#wlFeeYs,#wlFeeZc,#wlFeeDfcc,#wlFeeQt").numberbox({
		precision:2
	});
	//业务类型转换
	var businessTypeDom=$("#businessType1");
	var businessType=Convert.findValueByKey(businessTypeJson,"dictCd",businessTypeDom.val(),"dictName");;
	businessTypeDom.val(businessType);
});
//提货单打印
function printThd(){
	if(applyDeliveryId){
		window.parent.addTab("提货单预览",_ctx+"/apply/deliveryPrint/printThd?id="+applyDeliveryId);
	}
}
//转货单打印
function printHzd(){
	if(applyDeliveryId){
		window.parent.addTab("转货单预览",_ctx+"/apply/deliveryPrint/printHzd?id="+applyDeliveryId);
	}
}
//中信配送单打印
function printPsd(){
	if(applyDeliveryId){
		window.parent.addTab("中信配送单预览",_ctx+"/apply/deliveryPrint/printPsd?id="+applyDeliveryId);
	}
}
//送柜单打印
function printSgd(){
	if(applyDeliveryId){
		window.parent.addTab("送柜单预览",_ctx+"/apply/deliveryPrint/printSend?id="+applyDeliveryId);
	}
}
function saveDelivery() {
	var options = {
		url : _ctx + '/apply/deliveryPrint/saveDelivery',
		onSubmit : function() {
			var flag = $("#inputForm").form('validate');
			if (!flag) {
				$.messager.alert('提示','请填写完整!!','info');
			}
			return flag;
		},
		success : function(data) {
			var result = eval('(' + data + ')');
			if (result.success) {
				$.messager.show({
					title : 'Tip',
					msg : '保存成功',
					timeout : 2000,
					showType : 'show'
				});
				$('#tt').datagrid('reload');
			} else {
				$.messager.alert('error', result.failure, 'warning');
			}
		}
	}
	$('#inputForm').form('submit', options);
	var str= Convert.getJson4Form("inputForm");
	console.log(str);
}
</script>
