<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- <script th:src="@{/static/js/admin/apply_match.js?v=1}" type="text/javascript"></script> -->
<div class="easyui-layout" id="inputForm" border="false" fit="true">
	<div region="north" border="false" method="post"  style="margin-bottom:10px;">
		<input type="hidden" id="canApproveEdit" th:value="${psv.canApproveEdit}"/>
		<input type="hidden" name="id" id="entityId" th:value="${match.id}" />
		<input type="hidden" name="status" id="entityStatus" th:value="${match.status}" />
		<input type="hidden" id="businessType" name="businessType" th:value="${match.businessType}">
	</div>
	<div class="mb6">
		<p class="yw-table-filter w2">
			<label>我方</label>
			<input id="ourCompanyName" th:value="${match.ourCompanyName}" class="control text_padding" name="ourCompanyName" type="text"/>
		</p>
	</div>
	<div class="mb6">
		<p class="yw-table-filter">
			<label>品种</label>
			<input id="productCd" name="productCd" th:value="${match.productName}" class="control text_padding" type="text"/>
			<input id="productName" name="productName" type="hidden">
		</p>
		<p class="yw-table-filter">
			<label>牌号</label>
			<input id="brandNumber" name="brandNumber" th:value="${match.brandNumber}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>数量(吨)</label>
			<input id="dealNumber" name="dealNumber" th:value="${match.dealNumber}" class="control text_padding" type="text"/>
			<input id="maxNumber" name="maxNumber" type = "hidden">
		</p>
		<p class="yw-table-filter">
			<label>厂商</label>
			<input id="factoryId" name="factoryId" th:value="${match.factoryId}" class="control text_padding" type="hidden"/>
			<input id="factoryName" name="factoryName" th:value="${match.factoryName}" class="control text_padding" type="text">
		</p>
		<p class="yw-table-filter">
			<label>包装规格</label>
			<input id="wrapSpecs" name="wrapSpecs" th:value="${match.wrapSpecs}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>质量标准</label>
			<input id="qualityStandard" name="qualityStandard" th:value="${match.qualityStandard}" class="control text_padding"  type="text"></input>
		</p>
	</div>
	<p class="form-section-title">
		<span class="approve_text">采购</span>
		<a href="#" class="easyui-linkbutton buyContractPreviewClass" data-options="iconCls:'icon-detail'" style="margin-top: -60px;margin-left: 90%;">采购合同</a>
		<i></i>
	</p>
	<form id="formB">
	<div th:each="entity:${buyProductDetailList}">
	<div class="mb10">
		<input id="buyContractId" th:value="${entity.contractId}" type="hidden"/>
		<input id="buyContractNo" th:value="${entity.contractNo}" type="hidden"/>
		<input type="hidden" id="stockContractId" name="stockContractId">
		<span class="btn-group hide" style="line-height: 28px;">
       		<a href="#"id="selectContract" th:tag="1"  onclick="applyMatch.selectContract(this)">选择</a>
       	</span>
		<p class="yw-table-filter">
			<label>采购来源</label>
			<input id="buySource" name="buySource" th:value="${entity.buySource}" class="control text_padding" type="text"/>
			<input id="bcontractType" name="contractType" value="B" type="hidden">
		</p>
		<p class="yw-table-filter w2">
			<label>供方</label>
			<input id="buyCompanyName" name="companyName" th:value="${entity.companyName}" class="control text_padding" type="text"/>
			<input id="buyCompanyId" name="companyId" th:value="${entity.companyId}" class="control text_padding" type="hidden">
		</p>
		<p class="yw-table-filter">
			<label>合同编号</label>
			<input id="contractNo" name="contractNo" type="text" th:value="${entity.contractNo}" class="control text_padding" readonly="readonly"/>
		</p>
		<p class="yw-table-filter">
			<label>业务员</label>
			<input id="buyMatchUserName" name="matchUserName" th:value="${entity.matchUserName}" class="control text_padding" type="text"/>
			<input id="buyMatchUserId" name="matchUserId" th:value="${entity.matchUserId}" class="control text_padding" type="hidden">
		</p>
	</div>
	<div class="mb10">
		<p class="yw-table-filter">
			<label>结算方式</label>
			<input id="deliveryModeB" name="deliveryMode" th:value="${entity.deliveryMode}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>支付方式</label>
			<input id="payType" name="payType" th:value="${entity.payType}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>定金比例</label>
			<input id="payRate" name="payRate" th:value="${entity.payRate}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>定金</label>
			<input id="payRateAmount" name="payRateAmount" th:value="${entity.payRateAmount}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>付全款日期</label>
			<input id="payFullTime" name="payFullTime" th:value="${#dates.format(entity.payFullTime, 'yyyy-MM-dd')}" class="control text_padding" type="text"/>
		</p>
	</div>
	<div class="mb10">
		<p class="yw-table-filter">
			<label>交货方式</label>
			<input id="buyDeliveryType" name="deliveryType" th:value="${entity.deliveryType}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>交货日期</label>
			<input id="buyDeliveryDate" name="deliveryDate" th:value="${#dates.format(entity.deliveryDate, 'yyyy-MM-dd')}" class="control text_padding" type="text"/>
		</p>
		<span style="margin-left: -10px;">
			<label>-</label>
		</span>
		<p class="yw-table-filter">
			<input id="BarrivalTimeExt" name="arrivalTimeExt" th:value="${entity.arrivalTimeExt}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>交货地点</label>
			<input id="bdeliveryAddr" name="deliveryAddr" th:value="${entity.deliveryAddr}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter w2">
			<label>详细地址</label>
			<input id="bcontactAddr" name="contactAddr" th:value="${entity.contactAddr}" class="control text_padding" type="text"/>
		</p>
	</div>
	<div class="mb10">
		<p class="yw-table-filter">
			<label>仓储费(元)</label>
			<input id="bwarehouseCost" name="warehouseCost" th:value="${entity.warehouseCost}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>运输费(元)</label>
			<input id="btransportCost" name="transportCost" th:value="${entity.transportCost}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>含税单价(元)</label>
			<input id="bdealPrice" name="dealPrice" th:value="${entity.dealPrice}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>不含税单价(元)</label>
			<input id="bdealAmountNotax" name="dealAmountNotax" th:value="${entity.dealAmountNotax}" class="control text_padding" readonly type="text"/>
		</p>
		<p class="yw-table-filter">
			<label>总价(元)</label>
			<input id="btotalAmount" name="totalAmount" readonly th:value="${entity.totalAmount}" class="control text_padding" type="text"/>
		</p>
	</div>
	<div class="mb10">
		<p class="yw-table-filter w2">
			<label>补充条款</label>
			<input id="extraTerm" name="extraterm" th:value="${entity.extraTerm}" class="control text_padding" type="text"/>
		</p>
		<p class="yw-table-filter w2">
			<label>备注</label>
			<input id="payRemark" name="payRemark" th:value="${entity.payRemark}" class="control text_padding" type="text"/>
		</p>
	</div>
	</div>
	</form>
	<p class="form-section-title">
		<span class="approve_text">销售</span>
		<a href="#" class="easyui-linkbutton sellContractPreviewClass" data-options="iconCls:'icon-detail'" style="margin-top: -60px;margin-left: 90%;">销售合同</a>
		<i></i>
	</p>
	<form id="formS">
		<div  th:each="entity:${sellProductDetailList}">
			<div class="mb10">
				<p class="yw-table-filter w2">
					<label>需方</label>
					<input id="sellContractId" th:value="${entity.contractId}" type="hidden"/>
					<input id="sellContractNo" th:value="${entity.contractNo}" type="hidden"/>
					<input id="sellCompanyName" name="companyName" th:value="${entity.companyName}" class="control text_padding"  type="text"/>
					<input id="sellCompanyId" name="companyId" type="hidden" th:value="${entity.companyId}" class="control text_padding">
					<input id="scontractType" name="contractType" value="S" type="hidden">
				</p>
				<p class="yw-table-filter">
					<label>合同编号</label>
					<input id="contractNo" name="contractNo" th:value="${entity.contractNo}" class="control text_padding" type="text" readonly="readonly"/>
				</p>
				<p class="yw-table-filter">
					<label>业务员</label>
					<input id="sellMatchUserName" name="matchUserName" th:value="${entity.matchUserName}" class="control text_padding" type="text"/>
					<input id="sellMatchUserId" name="matchUserId" th:value="${entity.matchUserId}" class="control text_padding" type="hidden">
				</p>
		</div>
		<div class="mb10">
			<p class="yw-table-filter">
				<label>结算方式</label>
				<input id="deliveryModeS" name="deliveryMode" th:value="${entity.deliveryMode}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>支付方式</label>
				<input id="receiveType" name="receiveType" th:value="${entity.receiveType}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>定金比例</label>
				<input id="receiveRate" name="receiveRate" th:value="${entity.receiveRate}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>定金</label>
				<input id="receiveRateAmount" name="receiveRateAmount" th:value="${entity.receiveRateAmount}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>付全款日期</label>
				<input id="receiveFullTime" name="receiveFullTime" th:value="${#dates.format(entity.receiveFullTime, 'yyyy-MM-dd')}" class="control text_padding" type="text"/>
			</p>
		</div>
		<div class="mb10">
			<p class="yw-table-filter">
				<label>交货方式</label>
				<input id="sellDeliveryType" name="deliveryType" th:value="${entity.deliveryType}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>交货日期</label>
				<input id="sellDeliveryDate" name="deliveryDate" th:value="${#dates.format(entity.deliveryDate, 'yyyy-MM-dd')}" class="control text_padding" type="text"/>
			</p>
			<span style="margin-left: -10px;">
				<label>-</label>
			</span>
			<p class="yw-table-filter">
				<input id="SarrivalTimeExt" name="arrivalTimeExt" th:value="${entity.arrivalTimeExt}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>交货地点</label>
				<input id="deliveryAddr" name="deliveryAddr" th:value="${entity.deliveryAddr}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter w2">
				<label>详细地址</label>
				<input id="contactAddr" name="contractAddr" class="control text_padding" type="text"/>
			</p>
		</div>
		<div class="mb10">
			<p class="yw-table-filter">
				<label>仓储费(元)</label>
				<input id="swarehouseCost" name="warehouseCost" th:value="${entity.warehouseCost}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>运输费(元)</label>
				<input id="stransportCost" name="transportCost" th:value="${entity.transportCost}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter" id="premium_lable">
				<label>加价(元)</label>
				<input id="premium" th:value="${entity.premium}" class="control text_padding" name="premium" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>销售价(元)</label>
				<input id="sdealPrice" th:value="${entity.dealPrice}" class="control text_padding" name="dealPrice" type="text"/>
			</p>
			<p class="yw-table-filter">
				<label>销售总价(元)</label>
				<input id="stotalAmount" th:value="${entity.totalAmount}" class="control text_padding" name="totalAmount" type="text"/>
			</p>
		</div>
		<div class="mb10">
			<p class="yw-table-filter w2">
				<label>补充条款</label>
				<input id="extraTerm" name="extraTerm" th:value="${entity.extraTerm}" class="control text_padding" type="text"/>
			</p>
			<p class="yw-table-filter w2">
				<label>备注</label>
				<input id="receiveRemark" name="receiveRemark" th:value="${entity.receiveRemark}" class="control text_padding" type="text"/>
			</p>
		</div>
	</div>
	</form>

	<p class="form-section-title"><span class="approve_text">业务操作</span><i></i></p>
	<div>
		<div style="height:300px;display: inline-block;">
            <span style="color:#46b780"></span>
            <div>
                <table id="allphisTable"
                       title="" iconCls="icon-edit" singleSelect="true"
                       idField="id" style="width:1200px;">
                </table>
            </div>
        </div>
	</div>
	<p class="form-section-title"><span class="approve_text">出险流程</span><i></i></p>
	<div style="margin-bottom:20px;">
		<table id="tt_his_contract" iconCls="icon-edit" singleSelect="true" idField="id" style="max-height:200px;width: 78.33%;max-width: 1120px;min-width:  900px;"></table>
	</div>
	<p class="form-section-title"><span class="approve_text">决算<span th:if="${settlement == null}">(未决算)</span><i></i></p>
	<div class="mb10" th:if="${settlement != null}">
		<p class="yw-table-filter">
			<label>决算时间</label>
			<input id="realPayFullTime" name="realPayFullTime" th:value="${#dates.format(settlement.realPayFullTime, 'yyyy-MM-dd')}" class="control text_padding" type="text" readonly="readonly"/>
		</p>
		<p class="yw-table-filter">
			<label>利润(元)</label>
			<input id="marginAmount" name="marginAmount" th:value="${settlement.marginAmount}" class="control text_padding" type="text" readonly="readonly"/>
		</p>
		<p class="yw-table-filter">
			<label>利润率</label>
			<input id="grossProfitRate" name="grossProfitRate" th:value="${settlement.grossProfitRate}" class="control text_padding" type="text" readonly="readonly"/>
		</p>
		<p class="yw-table-filter">
			<label>采购提成(元)</label>
			<input id="buyCommissionAmount" name="buyCommissionAmount" th:value="${settlement.buyCommissionAmount}" class="control text_padding" type="text" readonly="readonly"/>
		</p>
		<p class="yw-table-filter">
			<label>销售提成(元)</label>
			<input id="sellCommissionAmount" name="sellCommissionAmount" th:value="${settlement.sellCommissionAmount}" class="control text_padding" type="text" readonly="readonly"/>
		</p>
		<p class="yw-table-filter">
			<label>公司毛利收入(元)</label>
			<input id="companyCommissionAmount" name="companyCommissionAmount" th:value="${settlement.companyCommissionAmount}" class="control text_padding" type="text" readonly="readonly"/>
		</p>
		<p class="yw-table-filter">
			<label>营销留存(元)</label>
			<input id="marketingRetention" name="marketingRetention" th:value="${settlement.marketingRetention}" type="text" readonly="readonly"/>
		</p>
	</div>

	<div id="w_stock_choose" class="easyui-window" title="合同详情" data-options="width:1060,height:540"></div>
</div>
<div id="w_contract" class="easyui-window" title="电子合同" data-options="width:930,height:600"></div>
<script type="text/javascript" th:inline="javascript">
var _cur_userId = '[[${currentUserId}]]';
//品名列表
var _productTypeJson = eval('[(${productTypeJson})]');
//
var _productChildrenJson = eval('[(${productChildrenJson})]');
//牌号名称
var _brandJson = eval('[(${brandJson})]');
//厂商列表
var _factoryJson = eval('[(${factoryJson})]');
//合同类型
var _contractTypeJson = eval('[(${contractTypeJson})]');
//付款方式
var _payTypeJson= eval('[(${payTypeJson})]');
//结算方式
var _deliveryModeJson =eval('[(${deliveryModeJson})]');
var _buyDeliveryModeJson =eval('[(${buyDeliveryModeJson})]');
var _sellDeliveryModeJson =eval('[(${sellDeliveryModeJson})]');
//提货方式
var _deliveryTypeJson =eval('[(${deliveryTypeJson})]');
//合同属性
var _contractAttrJson= eval('[(${contractAttr})]');
//交货日期补充
var _arrivalTimeExtJson= eval('[(${arrivalTimeExtJson})]');
//质量标准
var _qualityStandardJson = eval('[(${qualityStandardJson})]');
//我方企业抬头
var _ourCompanyNameJson =eval('[(${ourCompanyNameJson})]');
//默认交货地址
var _defaultDeliveryAddr = eval('[(${defaultDeliveryAddr})]');
var _contractBondRateJson = eval('[(${contractBondRateJson})]');
var _packingSpecificaJson = eval('[(${packingSpecificaJson})]');
var _buySourceJson = eval('[(${buySourceJson})]');
var _matchUserNameTree = eval('[(${matchUserNameTree})]');
var contractStatusJson =eval('[(${contractStatusJson})]');
// 审批状态
var _approveStatusJson = eval('[(${approveStatusJson})]');
_beforSaveOper=true;
$(function(){
	$('.easyui-linkbutton').linkbutton({width:120});

	//禁用所有输入框
	$(".control").attr("readOnly","true");
	//合同类型
	var contractTypeDom=$("#bcontractType");
	var contractType=Convert.findValueByKey(_contractTypeJson,"dictCd",contractTypeDom.val(),"dictName");
	contractTypeDom.val(contractType);

	//合同类型
	var contractTypeDom=$("#scontractType");
	var contractType=Convert.findValueByKey(_contractTypeJson,"dictCd",contractTypeDom.val(),"dictName");
	contractTypeDom.val(contractType);

	//合同属性
	var contractAttrDom=$("#contractAttr");
	var contractAttr=Convert.findValueByKey(_contractAttrJson,"dictCd",contractAttrDom.val(),"dictName");
	contractAttrDom.val(contractAttr);

	//付款方式
	var payTypeDom=$("#payType");
	var payType=Convert.findValueByKey(_payTypeJson,"dictCd",payTypeDom.val(),"dictName");
	payTypeDom.val(payType);

	// 支付方式
	var receiveTypeDom=$("#receiveType");
	var receiveType=Convert.findValueByKey(_payTypeJson,"dictCd",receiveTypeDom.val(),"dictName");
	receiveTypeDom.val(receiveType);

	// 采购来源
	var buySourceDom=$("#buySource");
	var buySource=Convert.findValueByKey(_buySourceJson,"dictCd",buySourceDom.val(),"dictName");
	buySourceDom.val(buySource);

	//销售方式
	var deliveryModeBDom=$("#deliveryModeB");
	var delivery = Convert.findValueByKey(_deliveryModeJson,"dictCd",deliveryModeBDom.val(),"dictName");
	deliveryModeBDom.val(delivery);

	// 计算方式
	var deliveryModeSDom=$("#deliveryModeS");
	var deliveryS = Convert.findValueByKey(_deliveryModeJson,"dictCd",deliveryModeSDom.val(),"dictName");
	deliveryModeSDom.val(deliveryS);

	//交货方式
	var buyDeliveryTypeDom=$("#buyDeliveryType");
	var buyDeliveryType = Convert.findValueByKey(_deliveryTypeJson,"dictCd",buyDeliveryTypeDom.val(),"dictName");
	buyDeliveryTypeDom.val(buyDeliveryType);

	// 交货方式
	var sellDeliveryTypeDom=$("#sellDeliveryType");
	var sellDeliveryType = Convert.findValueByKey(_deliveryTypeJson,"dictCd",sellDeliveryTypeDom.val(),"dictName");
	sellDeliveryTypeDom.val(sellDeliveryType);

	//到货日期
	var _BarrivalTimeExt = $('#BarrivalTimeExt').val();
	var BarrivalTimeExt = Convert.findValueByKey(_arrivalTimeExtJson,"dictCd",_BarrivalTimeExt,"dictName");
	$("#BarrivalTimeExt").val(BarrivalTimeExt);

	// 交货日期
	var _SarrivalTimeExt = $('#SarrivalTimeExt').val();
	var SarrivalTimeExt = Convert.findValueByKey(_arrivalTimeExtJson,"dictCd",_SarrivalTimeExt,"dictName");
	$("#SarrivalTimeExt").val(SarrivalTimeExt);

	//质量标准
	var _qualityStandard = $('#qualityStandard').val();
	var qualityStandard = Convert.findValueByKey(_qualityStandardJson,"dictCd",_qualityStandard,"dictName");
	$('#qualityStandard').val(qualityStandard);

	//包装规格
	var _wrapSpecs = $('#wrapSpecs').val();
	var wrapSpecs = Convert.findValueByKey(_packingSpecificaJson,"dictCd",_wrapSpecs,"dictName");
	$('#wrapSpecs').val(wrapSpecs);

	// 定金
	var _payRate = $('#payRate').val();
	var payRate = Convert.findValueByKey(_contractBondRateJson,"dictCd",_payRate,"dictName");
	$("#payRate").val(payRate);

	// 定金比例
	var _receiveRate = $('#receiveRate').val();
	var receiveRate = Convert.findValueByKey(_contractBondRateJson,"dictCd",_receiveRate,"dictName");
	$("#receiveRate").val(receiveRate);

	//我方抬头
	$('#ourCompanyName').combobox({
		hasDownArrow:false
	});

	//合同属性
	$('#contractAttr').combobox({
		hasDownArrow:false
	});

	// 质量标准
	$('#qualityStandard').combobox({
		hasDownArrow:false
	})

	//收保证金日期
	var receiveBondTime = $('#receiveBondTime').val();
	if (!receiveBondTime){
		$('#receiveBondTime').parent().addClass('hide');
	}

	$('#w_contract').window({
		title: '电子合同',
		modal:true,
		closed: true,
		collapsible : false,
		minimizable : false,
		maximizable : false,
		cache:false
	});

	// 采购合同预览按钮
	$(".buyContractPreviewClass").on("click",function () {
		var val = $("#buyContractId").val();
		contractPreview(val);
	});

	// 销售合同预览按钮
	$(".sellContractPreviewClass").on("click",function () {
		var val = $("#sellContractId").val();
		contractPreview(val);
	});



	$('#w_stock_choose').window({
		modal:true,
		closed: true,
		collapsible : false,
		minimizable : false,
		maximizable : false,
		cache:false,
		title:"请选择采购库存"
	});

});

// 合同预览
function contractPreview(val) {
	if(val){
		$.post(_ctx+"/ctr/contract/getContractFileUrl?contractId="+val,function(result) {
			if (result) {
				window.open(result, "_blank")
			}else {
				var url = _ctx+"/ctr/contractText/getBycontractId/"+val;
				$('#w_contract').window({href:url});
				$('#w_contract').window("open");
			}
		});
	}
}

function operChooseContract(){
	var url=_ctx+"/stock/stockContract/choose";
	$('#w_stock_choose').attr('callbackExec', 'chooseCallback');
	$('#w_stock_choose').window({href:url});
	$('#w_stock_choose').window("open");
}
function chooseCallback(stockRows){
	if(stockRows){
		var _curProductCd = "";
		for(var i=0;i<stockRows.length;i++){
			var row = stockRows[i];
			$("#productName").combotree('setValue',row.productName);
			$("#brandNumber").combobox('setValue',row.brandNumber);
			$("#factoryName").combobox('setValue',row.factoryName);
			$("#dealNumber").numberbox('setValue',row.remainNumber);
			$("#maxNumber").val(row.remainNumber);
			$("#wrapSpecs").combobox('setValue',row.wrapSpecs);
			$("#bdealPrice").numberbox('setValue',row.dealPrice);
			$("#stockContractId").val(row.stockContractId);
			$("#minDealPrice").numberbox('setValue',row.dealPrice);
		}
	}
}
//发起申请前操作
function beforSaveOper(){
	//参数array
	var arr=new Array();
	var result={};
	var strB= Convert.getJson4Form("formB");
	var strS= Convert.getJson4Form("formS");
	arr.push(strB);
	arr.push(strS);

	//商品信息
	var resultData= Convert.ToJSONString(result);
	if($('#_easy_grid').length==0){
		$('#inputFormApprove').append('<input type="hidden" id="_easy_grid" name="_easy_grid">');
	}
	$('#_easy_grid').val(resultData);
	console.log("resultData:"+resultData);
	//基本数据

	if($("#contentStr").length==0){
		$('#inputFormApprove').append('<input type="hidden" id="contentStr" name="contentStr">');
	}
	var resultArr=Convert.ToJSONString(arr);
	$("#contentStr").val(resultArr);
	console.log("formData:"+resultArr);
	return true;
}

</script>
<script th:src="@{/static/js/admin/apply_base.js}" type="text/javascript"></script>
<script type="text/javascript">
var lastIndex;

//发起流程
function approveDetail(approveId,processName){
	var title =processName+ ':' +approveId;
	window.parent.addTab(title,_ctx+'/pm/approve/detail/'+approveId);
}

function contractDetail(id,contractNo){
	var url=_ctx+"/ctr/contract/detail/"+id;
	var title=contractNo;
	window.parent.addTab(title,url);
}

// 合同预览
function printContract(contractId){
	if(templateId){
		var url = _ctx+"/ctr/contractText/getBycontractId/"+templateId;
		$('#w_contract').window({href:url});
		$('#w_contract').window("open");
	}
}
</script>
<script type="text/javascript">
var lastIndex;
$(function(){
	var sellContractId = $("#sellContractId").val();
	var buyContractId = $("#buyContractId").val();
	var _url = _ctx + "/ctr/contractOphis/detailHisPageAll?ids="+sellContractId+","+buyContractId;

	$('#allphisTable').datagrid({
		pagination: false,
		pageSize: 30,
		rownumbers: true,
		pageList: [50, 40, 30, 20, 10],
		// fitColumns:true,
		url: _url,
		columns: [ [
			{field: 'createUserName', title: '发起人', align: 'center', width: 90},
			{field: 'approveTypeName', title: '流程名称', align: 'center', width: 90},
			{field: 'approveNo', title: '审批编号', align: 'center', width: 120},
			{field: 'createdDate', title: '创建时间', align: 'center', width: 140},
			{
				field: 'remark', title: '备注', width: 230, align: 'left', formatter: function (value, row, index) {
					var abValue = value;
					var content = '<span href="#" title="' + value + '" class="note">' + abValue + '</span>';
					return content;
				}
			},
			{
				field: 'approveStatus',
				title: '审批状态',
				width: 80,
				align: 'center',
				formatter: function (value, row, index) {
					return Convert.findValueByKey(_approveStatusJson, "dictCd", value, "dictName");
				}
			},
			{
				field: 'handle', title: '操作', align: 'center', width: 110, formatter: function (value, row, index) {
					var html = "";
					if (row.approveId) {
						html = "<span href='#' class='easyui-linkbutton contract-btn contract-btn-1' onclick='approveDetail(\"" + row.approveId + "\",\"" + row.approveTypeName + "\")'>审批详情</span>";
					}
					if (row.ctrBuyContractId) {
						html += "<span href='#' class='easyui-linkbutton contract-btn contract-btn-1' onclick='contractDetail(\"" + row.ctrBuyContractId + "\",\"" + row.buyContractNo + "\")'>采购合同</span>";
					}
					if (row.ctrSellContractId) {
						html += "<span href='#' class='easyui-linkbutton contract-btn contract-btn-1' onclick='contractDetail(\"" + row.ctrSellContractId + "\",\"" + row.sellContractNo + "\")'>销售合同</span>";
					}
					return html;
				}
			},
			// {
			// 	field: '附件',
			// 	title: '附件',
			// 	width: 80,
			// 	align: 'center',
			// 	hidden:true
			// 	// formatter: function (value, row, index) {
			// 	//     // return Convert.findValueByKey(_approveStatusJson, "dictCd", value, "dictName");
			// 	// }
			// }
		]],
	});

})

</script>
<script type="text/javascript">
	$(function(){
		//审批历史
		$('#tt_his_contract').datagrid({
			rownumbers:true,
			url:_ctx+"/ctr/contract/getApproveHistory?buyContractId="+$("#buyContractId").val()+"&sellContractId="+$("#sellContractId").val(),
			columns:[ [
				{field:'historyName',title:'出险', width:170,align:'left'},
				{field:'approveStepName',title:'审批步骤', width:170,align:'left'},
				{field:'handle',title:'申请单',align:'left',width:160,formatter:function(value,row,index){
					var html="";
					if(row.approveId){
						html ="<span href='#' class='easyui-linkbutton contract-btn contract-btn-1' onclick='approveDetail(\""+ row.approveId+"\",\""+ row.historyName+ "\")'>"+row.historyName+"</span>";
					}
				    return html;
				}},
				{field:'remark',title:'备注',align:'left',width:140,formatter:function(value,row,index){
					if(value){
						return value;
					}
				    return "--";
				}},
				{field:'approveDate',title:'日期',align:'center', width:150}
			]]
		});

	})
</script>
