<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<style>
		.tag {
			display: inline-flex;
			align-items: center;
			padding: 2px 10px;
			margin: 4px;
			font-size: 12px;
			border-radius: 16px;
			background-color: #f0f0f0;
			color: #333;
			border: 1px solid transparent;
			/*cursor: pointer;*/
		}

		.tag-success {
			background-color: #f6ffed;
			color: #389e0d;
			border-color: #b7eb8f;
		}

		/*.tag:hover {*/
		/*	filter: brightness(0.9);*/
		/*}*/
	</style>
</head>
<div class="easyui-layout" fit="true">
	<input type="hidden" id="contractTextUrl" th:value="${contractTextUrl}"/>
	<input type="hidden" id="contractId" th:value="${ctrContractId}"/>
	<input type="hidden" id="chain" th:value="${chain}"/>
	<input type="hidden" id="businessType" th:value="${entity.businessType}"/>
	<input type="hidden" id="ourcompanyName" th:value="${entity.companyName}"/>
	<input type="hidden" id="cfcaFlag" th:value="${cfcaFlag}"/>
	<div region="center" border="false">
		<div id="inputForm" method="post" class="editForm_approve content_div" style="margin-top: 10px;margin-bottom: 0;overflow:hidden;">
		<input type="hidden" name="id" id="entityId" th:value="${entity.id}" />
		<div class="mb6">
			<p class="yw-table-filter w2">
				<label>印章类型:</label>
				<input name="sealType" id="sealType" type="text" th:value="${entity.sealType}"></input>
			</p>
			<p class="yw-table-filter">
				<label>盖章日期:</label>
				<input name="sealDate" id="sealDate" type="text" th:value="${#dates.format(entity.sealDate,'yyyy-MM-dd')}"></input>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter w2">
				<label>公司名称:</label>
				<input name="companyName" id="companyName" type="text" th:value="${entity.companyName}"></input>
			</p>
			<p class="yw-table-filter">
				<label>合同编号:</label>
				<input name="contractNo" id="contractNo" type="text" th:value="${entity.contractNo}"></input>
			</p>
			<span th:if="${businessName != null and !#strings.isEmpty(businessName)}" class="tag tag-success" th:text="${businessName}"></span>
		</div>
		<div class="mb6">
			<p class="yw-table-filter w2">
				<label id="customerName_Label">客户:</label>
				<input name="customerName" id="customerName" type="text" th:value="${entity.customerName}"></input>
			</p>
			<p class="yw-table-filter">
				<label>合同总额(元):</label>
				<input name="totalAmount" id="totalAmount" type="text" th:value="${entity.totalAmount}"></input>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter w2">
				<label>文件名称:</label>
				<input name="fileName" id="fileName" type="text" th:value="${entity.fileName}"></input>
			</p>
			<p class="yw-table-filter">
				<label>文件类型:</label>
				<input name="fileType" id="fileType" type="text" th:value="${entity.fileType}"></input>
			</p>
		</div>
			<div class="mb6">
				<p class="yw-table-filter w2" th:if="${processCode} == 'APPLY_SEAL_USAGE'">
					<label for="stampType"  class="control-label">盖章类型</label>
					<input name="stampType" id="stampType" type="text" readonly th:value="${entity.stampType}">
				</p>
			</div>
		<div class="mb6">
		<p class="p_text">
			<p class="yw-table-filter w2">
			<label>备注:</label>
			<textarea  style="height:45px;width: 315px" name="remark" id="remark"  th:text="${entity.remark}"></textarea>
		</p>
		<a th:if="${not #strings.isEmpty(contractTextUrl) || not #strings.isEmpty(ctrContractId)}" href="#" class="easyui-linkbutton btn-empty addBtn btn64" onclick="openContractText();" style="margin-left: 12px">下载合同</a>
		<a th:if="${not #strings.isEmpty(cfcaFlag)}" href="#" class="easyui-linkbutton addBtn btn64" onclick="generateDocumentSign();" style="margin-left: 12px;width: 100px">生成文件签署</a>
		<p class="yw-table-filter" th:if="${status == 'A'}">
			<a href="#" class="easyui-linkbutton btn-empty ml10" style="" onclick="showImportCreditReport()">替换签署原文件</a>
		</p>
		</div>
		<div class="editForm">
			<p th:if="${qcCodePng != null && qcCodePng != ''}" class="yw-table-filter">
				<img th:src="${qcCodePng}" alt="签署链接"></img>
			</p>
			<p style="width:240px">
				<span class="upload-btn" id="btn_fileId">
	               	 <a href="#" class="easyui-linkbutton file-upload" data-options="iconCls:'icon-upload'">上传附件 </a>
	           	</span>
				<input class="control" id="fileId" name="fileId" type="hidden" th:value="${entity.fileId}" />
			</p>
			<p class="controls showImg fileId" id="span_fileId"></p>
		</div>
		<div id="w_contract_choose" class="easyui-window" title="合同详情" data-options="width:830,height:640"></div>
		</div>
		</div>
	</div>
</div>
</div>
<div id="w_contract" class="easyui-window" title="电子合同" data-options="width:930,height:600"></div>
<div id="w_replace_sign_file_pdf" title="替换签署原文件" class="easyui-window" data-options="width:400,height:250"></div>
<script th:src="@{/static/ueditor/third-party/webuploader/webuploader.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/file.js?v=2}" type="text/javascript"></script>
<script th:src="@{/static/js/admin/apply_base.js}" type="text/javascript"></script>
<script th:src="@{/static/ruoyi/js/common.js?v=4.7.2}"></script>
<script type="text/javascript">
//印章-印章类型
var _sealTypeJson = eval('[(${sealTypeJson})]');
//印章-公司名称
var _customerNameJson = eval('[(${customerNameJson})]');
//印章-文件类型
var _sealFileTypeJson = eval('[(${sealFileTypeJson})]');
var filePlugin = new FilePlugin('#fileId',$('#entityId').val(),'/apply/sealUsage/updateFileId',[[${param.hasEditFile}]]);
var _curStatus = '[[${status}]]';
var canApproveEdit = '[[${psv.canApproveEdit}]]' === 'true';
var hasApprove =  '[[${psv.hasApprove}]]' === 'true';
// 盖章类型
var stampTypeJson = eval('[(${stampTypeJson})]');
console.log("canApproveEdit:" + canApproveEdit);
$(function(){
	$('.easyui-linkbutton').linkbutton();
	$('#w_replace_sign_file_pdf').window({
		title: '替换签署原文件',
		modal:true,
		closed: true,
		collapsible : false,
		minimizable : false,
		maximizable : false,
		cache:false
	});
	if(_curStatus&&(_curStatus=='N'||_curStatus=='B'||_curStatus=='C')){
		$("#sealType").combobox({
			data:_sealTypeJson,
			textField:'dictName',
			valueField:'dictCd',
			editable:false,
			multiple:true,
			required:true,
			panelHeight:170,
		    formatter: function (row) {
	            var opts = $(this).combobox('options');
	            return '<input style="margin-right:10px;" type="checkbox" class="combobox-checkbox ckbox">' + row[opts.textField]
	        },
	        onShowPanel: function () {
	            var opts = $(this).combobox('options');
	            var target = this;
	            var values = $(target).combobox('getValues');
	            $.map(values, function (value) {
	                var el = opts.finder.getEl(target, value);
	                el.find('input.combobox-checkbox')._propAttr('checked', true);
	            })
	        },
	        onLoadSuccess: function () {
	            var opts = $(this).combobox('options');
	            var target = this;
	            var values = $(target).combobox('getValues');
	            $.map(values, function (value) {
	                var el = opts.finder.getEl(target, value);
	                el.find('input.combobox-checkbox')._propAttr('checked', true);
	            })
	        },
	        onSelect: function (row) {
	            var opts = $(this).combobox('options');
	            var el = opts.finder.getEl(this, row[opts.valueField]);
	            el.find('input.combobox-checkbox')._propAttr('checked', true);
	        },
	        onUnselect: function (row) {
	            var opts = $(this).combobox('options');
	            var el = opts.finder.getEl(this, row[opts.valueField]);
	            el.find('input.combobox-checkbox')._propAttr('checked', false);
	        }
		});

		$('#companyName').combobox({
			data:_customerNameJson,
			valueField:'dictCd',
			textField:'dictName',
			editable:false,
			required:true,
			multiple:true,
			panelWidth:'auto',
			panelHeight:'auto',
			formatter: function (row) {
	            var opts = $(this).combobox('options');
	            return '<input style="margin-right:10px;" type="checkbox" class="combobox-checkbox ckbox">' + row[opts.textField]
	        },
	        onShowPanel: function () {
	            var opts = $(this).combobox('options');
	            var target = this;
	            var values = $(target).combobox('getValues');
	            $.map(values, function (value) {
	                var el = opts.finder.getEl(target, value);
	                el.find('input.combobox-checkbox')._propAttr('checked', true);
	            })
	        },
	        onLoadSuccess: function () {
	            var opts = $(this).combobox('options');
	            var target = this;
	            var values = $(target).combobox('getValues');
	            $.map(values, function (value) {
	                var el = opts.finder.getEl(target, value);
	                el.find('input.combobox-checkbox')._propAttr('checked', true);
	            })
	        },
	        onSelect: function (row) {
	            var opts = $(this).combobox('options');
	            var el = opts.finder.getEl(this, row[opts.valueField]);
	            el.find('input.combobox-checkbox')._propAttr('checked', true);
	        },
	        onUnselect: function (row) {
	            var opts = $(this).combobox('options');
	            var el = opts.finder.getEl(this, row[opts.valueField]);
	            el.find('input.combobox-checkbox')._propAttr('checked', false);
	        }
		});

		$('#fileType').combobox({
			data:_sealFileTypeJson,
			valueField:'dictCd',
			textField:'dictName',
			editable:false,
			required:true,
			panelHeight:200,
			onSelect : function(node){
				var value = node.dictCd;
				if (value == "BS"){
					$("#customerName").validatebox({required:true});
				}else{
					$("#customerName").validatebox({required:false});
				}
			}
		});
		$('#sealDate').datebox({editable:false});
		$('#totalAmount').numberbox({precision:2});
	} else if(_curStatus&&(_curStatus=='A'||_curStatus=='D')){

		$("#toolbar").addClass("hide");
		$("#inputForm").find("textarea").attr("readonly",true);
		$("#inputForm").find("input").not('.tags input').not("[type='button']").attr("readonly",true);

		//印章类型
		/* var _sealType = $('#sealType').val();
		var sealType = Convert.findValueByKey(_sealTypeJson,"dictCd",_sealType,"dictName");
		$("#sealType").val(sealType); */

		var _sealType = $('#sealType').val();
		var sealType = "";
		if (_sealType){
			var arr = _sealType.split(",");
			for(var i=0; i<arr.length;i++){
				var value = Convert.findValueByKey(_sealTypeJson,"dictCd",arr[i],"dictName");
				if (value){
					sealType = sealType + value +",";
				}
			}
			if (sealType){
				sealType = sealType.substring(0,sealType.length-1);
			}
		}
		$("#sealType").val(sealType);

		//公司名称
		var _companyName = $('#companyName').val();
		var companyName = "";
		if (_companyName){
			var arr = _companyName.split(",");
			for(var i=0; i<arr.length;i++){
				var value = Convert.findValueByKey(_customerNameJson,"dictCd",arr[i],"dictName");
				if (value){
					companyName = companyName + value + ",";
				}
			}
			if (companyName){
				companyName = companyName.substring(0,companyName.length-1);
			}
		}
		if (companyName != null && companyName != '' && companyName != 'undefined'){
			$("#companyName").val(companyName);
		}else{
			$("#companyName").val(_companyName);
		}



		//文件类型
		var _fileType = $('#fileType').val();
		var fileType = Convert.findValueByKey(_sealFileTypeJson,"dictCd",_fileType,"dictName");
		$("#fileType").val(fileType);
	}
	$('#w_contract').window({
		title: '电子合同',
		modal:true,
		closed: true,
		collapsible : false,
		minimizable : false,
		maximizable : false,
		cache:false
	});
	//盖章类型
	$("#stampType").combobox({
		data: stampTypeJson,
		textField: 'dictName',
		valueField: 'dictCd',
		panelHeight: "auto",
		editable: false,
		readOnly: true,
		onLoadSuccess: function () {
			var value = $(this).val();
			if (!value) {
				$(this).combobox('setValue', 'STZ');
			}
		}
	});
	//加载附件列表
	filePlugin.load($('#fileId').val(),'#span_fileId');

	// 状态不是完成 且 是当前审批人时 文件可以上传
	if (("D" != _curStatus && hasApprove) || _curStatus == "N") {
		if ($('#btn_fileId').length>0){
			fileUpload("btn_fileId", "fileId");
		}
	}
});
function openContractText(){
	var contractTextUrl = $("#contractTextUrl").val();
	debugger;
	var businessType = $("#businessType").val();
	var chain = $("#chain").val();
	var contractId = $("#contractId").val();
	if (contractTextUrl){
		window.open(contractTextUrl, "_blank");
	}else{
		if (businessType=="F"){
			printServiceContract(contractId);
		}else{
			printContract(contractId,chain);
		}
	}
}
//合同预览
function printContract(contractId,chain){
	if(contractId){
		var url = _ctx+"/ctr/contractText/getByContractIdNew/"+contractId+"?chain="+chain + "&windowId=w_contract";
		$('#w_contract').window({href:url, collapsible : false, minimizable : false, maximizable : false});
		// 手机端默认最大化
		if (window.innerWidth <= 768) {
			$('#w_contract').window('maximize');
		}
		$('#w_contract').window("open");
	}
}
//服务合同预览
function printServiceContract(contractId){
	if(contractId){
		var url = _ctx+"/ctr/contractText/getServiceTextNew/"+contractId + "?windowId=w_contract";
		$('#w_contract').window({href:url, collapsible : false, minimizable : false, maximizable : false});
		// 手机端默认最大化
		if (window.innerWidth <= 768) {
			$('#w_contract').window('maximize');
		}
		$('#w_contract').window("open");
	}
}

function showImportCreditReport(){
	var url=_ctx+"/apply/sealUsageDCSX/showReplaceSignFile";
	$('#w_replace_sign_file_pdf').window({href:url});
	$('#w_replace_sign_file_pdf').window("open");
}

//生成文件签署
function generateDocumentSign(){
   var id= $("#entityId").val();
	$.post(_ctx+"/documents/sign/generateDocumentSign/"+id,function(data) {
		var rObj = eval(data);
		if(rObj.success){
			$.modal.openTab('文件签署',_ctx+'/documents/sign/index2');
		}else{
			$.messager.show({
				title : '提示',
				msg : '失败，请完成附件上传!',
				timeout : 3000,
				height:120,
				showType : 'show'
			});
		}

	});
}
</script>