<!-- 签署文件 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/static/ueditor/third-party/webuploader/webuploader.css}" type="text/css" rel="stylesheet" />
</head>
<div region="north" class="search_div pt20	pl20 pr20 pb15 ofh" border="false">
	<input type="hidden" id="seal_usage_approve_no" th:value="${entity.sealUsageApproveNo}"/>
	<input type="hidden" id="sign_status" th:value="${entity.signStatus}"/>
	<div region="north"  border="false">
		<form id="proForm" class="from-input-layout" method="post" action="/documents/sign/saveSign">
			<input type="hidden" name="entityid" id="entityid" th:value="${entityid}" />
			<input type="hidden" name="signType" value="1" />
			<input type="hidden" name="id" id="signFileId" th:value="${entity.id == null ? 0 : entity.id }"/>
			<div class="mb10">
				<p class="yw-table-filter" id="fileIdBtn">
					<a href="#"  class="easyui-linkbutton addBtn btn120" style="width: auto">上传PDF格式签署附件</a>
				</p>
				<p class="yw-table-filter w2">
					<input type="hidden" name="fileId" id="fileId" th:value="${entity.fileId}" />
					<label class="control-label" id="fileIdPath"></label>
				</p>
			</div>
			<div class="mb6">
				<p class="yw-table-filter w2">
					<label>文件名称:</label>
					<input  name="fileName" id="fileName" required="required" th:value="${entity.fileName}"/>
				</p>
				<p class="yw-table-filter">
					<label>创建人:</label>
					<input readonly  type="text" id="creator" name="creator" th:value="${entity.creator}"/>
				</p>
				<p class="yw-table-filter">
					<label>盖章审批单号</label>
					<input id="sealUsageApproveNo" name="sealUsageApproveNo"  type="text" th:value="${entity.sealUsageApproveNo}"/>
					<input id="sealUsageApproveId" name="sealUsageApproveId" type="hidden" th:value="${entity.sealUsageApproveId}"/>
				</p>
				<span class="easyui-linkbutton btn-info-empty"  onclick="openDetail()">盖章审批详情</span>
			</div>
			<div class="mb6">
				<p class="yw-table-filter w2">
					<label>签署公司:</label>
					<input  readonly type="text" name="companyNames" id="companyNames" th:value="${entity.companyNames}"/>
				</p>
				<p class="yw-table-filter w2">
					<label>安心签合同号:</label>
					<input readonly name="cfcaContractNo" id="cfcaContractNo" th:value="${entity.cfcaContractNo}"/>
				</p>
				<p class="yw-table-filter">
					<label>状态:</label>
					<input readonly type="text" name="signStatus"  id="signStatus" th:value="${entity.signStatus}" />
				</p>
			</div>
		</form>
	</div>
	<div id="boxDiv">
		<div style="height:250px;">
			<a href="#" class="easyui-linkbutton mb6 signBtn" data-options="iconCls:'icon-add'," onclick="insert()">新增签署方</a>
			<a href="#"  class="easyui-linkbutton mb6 signBtn" style="margin-left: 830px" data-options="iconCls:'icon-detail'," onclick="remove()">删除</a>
			<table id="ta" fit="true" title="" singleSelect="true" idField="id" class="mt20 yw-menu-section"></table>
		</div>
		<div class="mt15">
			<a href="#" class="easyui-linkbutton btn-info-empty signBtn" data-options="iconCls:'icon-save'" onclick="saveSign();">保存</a>
			<a href="#" class="easyui-linkbutton btn-info-empty hide signBtn" id="generateSignature" data-options="iconCls:'icon-save'" onclick="generateSignature();">生成电子签</a>
		</div>
	</div>
</div>
<script th:src="@{/static/ueditor/third-party/webuploader/webuploader.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/file.js?v=2}" type="text/javascript"></script>
<script th:src="@{/static/js/admin/apply_base.js?v=1}" type="text/javascript"></script>
<script type="text/javascript">
	var lastIndex2;
	var _signStatus = $("#signStatus").val();
	var _file_edit = true;
	if (_signStatus == "D"){
		_file_edit = false;
	}
	var filePlugin = new FilePlugin('#fileId',$('#signFileId').val(),'/documents/sign/updateFileId',_file_edit);
	var statusJson = [{id:'N',text:'未签署'},{id:'P',text:'部分签署'},{id:'D',text:'已签署'}];
	var _signStatusTypeJson = [{id:'N',text:'未签署'},{id:'D',text:'已签署'}];
	// 印章类型
	var signTypeJson = eval('[(${signTypeJson})]');
	//我方企业抬头
	var companyNameJson = eval('[(${companyNameJson})]');
	var ftk_company = {"dictCd":"范太克供应链管理（宁波）有限公司","dictName":"范太克供应链管理（宁波）有限公司"};
	companyNameJson.push(ftk_company);
	$(function(){
		var signFileId = $("#signFileId").val();
		var _sign_status = $("#sign_status").val();

		if (signFileId && signFileId > 0){
			$("#generateSignature").removeClass("hide");
		}

		var _seal_approve_no = $("#seal_usage_approve_no").val();
		if (_seal_approve_no) {
			$("#sealUsageApproveNo").val(_seal_approve_no);
		} else {
			$("#sealUsageApproveNo").combobox({
				url: _ctx + "/ctr/loading/findSealUsageApproveList",
				mode: 'remote',
				limitToList: true,
				valueField: 'approveNo',
				textField: 'approveNo',
				panelHeight: 250,
				required: false,
				onSelect: function (node) {
					if (node) {
						$("#sealUsageApproveId").val(node.id);
					}
				}
			});
			$("#sealUsageApproveNo").combobox("setValue", _seal_approve_no);
		}

		var _taUrl = "";
		var _signFileId = $("#signFileId").val();
		if(_signFileId!=""&&_signFileId!="0"){
			_taUrl = _ctx+"/documentsUser/sign/list?search_EQL_signFileId="+_signFileId;
		}

		$("#fileName").textbox({
			required: true
		});

		$("#signStatus").combobox({
			data : statusJson,
			textField : 'text',
			valueField : 'id',
			panelHeight : "auto",
			onLoadSuccess : function() {
				var _signStatus = $("#signStatus").val();
				if(_signStatus == "" || _signStatus == null) {
					$("#signStatus").combobox("setValue", 'N');
				}
			}
		});

		filePlugin.load($('#fileId').val(),'#fileIdPath');
		if ($("#fileId").length>0 && _signStatus != 'D'){
			fileUpload("fileIdBtn", "fileId", "fileIdPath", filePlugin);
		}

		if (_sign_status == 'D'){
			$("#proForm").find("input").not('.tags input').not("[type='button']").attr("readonly",true);
			$(".signBtn").addClass("hide");
		}
		$('#ta').datagrid({
			pageSize:60,
			pageList:[500,200,100,60],
			rownumbers:true,
			pagination:true,
			url: _taUrl,
			columns:[ [
				{
					field: 'companyName', title: '签署公司', align: 'left', width: 210, editor: {
						type: 'combobox',
						options: {
							required: true,
							data: companyNameJson,
							textField: 'dictName',
							panelWidth: 270,
							panelHeight: 'auto',
							valueField: 'dictName',
							onSelect:function(record){
								var row = $('#ta').datagrid('getSelected');
								var index = $('#ta').datagrid('getRowIndex', row);
								var signNameStr = $('#ta').datagrid('getEditor',{index:index,field:'signName'});
								$(signNameStr.target).val("");
								getCompanyPhone(record);
							},
						}
					}
				},
				{
					field: 'signType', title: '印章类型', align: 'left', width: 90, editor: {
						type: 'combobox',
						options: {
							required: true,
							data: signTypeJson,
							textField: 'dictName',
							panelWidth: 110,
							panelHeight: 'auto',
							required: true,
							valueField: 'dictCd'
						}
					}, formatter: function (value) {
						return Convert.findValueByKey(signTypeJson, "dictCd", value, "dictName");
					}
				},
				{
					field: 'status', title: '状态', align: 'left', width: 60, formatter: function (value) {
						return Convert.findValueByKey(_signStatusTypeJson, "id", value, "text");
					}
				},
				{
					field: 'shortUrl',
					title: '签署短链接',
					align: 'left',
					width: 354
				},
				{
					field: 'signPhone',name:'signPhoneName', title: '签署人手机', align: 'left', width: 150, editor: {
						type: 'combobox',
						options: {validType: 'length[1,11]',
							align: 'center',
							required: true,
							onSelect:function(record){
								getCompanyPhoneNmae(record);
							},
						}
					}
				},
				{
					field: 'signName',
					title: '签署人姓名',
					align: 'left',
					editor: {type: 'validatebox', options: {validType: 'length[1,11]',align: 'left'}},
					width: 120
				},
				{
					field: 'signEmail',
					title: '签署人邮箱',
					editor: {type: 'validatebox', options: {align: 'left'}},
					hidden: true
				}
			]],
			onDblClickCell:function(index,field){
				if (_file_edit){
					$('#ta').datagrid('endEdit', lastIndex2);
					$('#ta').datagrid('beginEdit', index);
					lastIndex2 = index;
					Convert.focusEditor("ta",field,lastIndex2);
				}
			},
			onClickCell:function(index,field){
				lastIndex2 = index;
			},
			onSelect:function(rowIndex,rowData){
			},
			onLoadSuccess:function(data){
				$('#ta').datagrid("selectRow", 0);
			}
		});
	});
	function saveSign(){
		var fileId = $("#fileId").val();
		if (!fileId){
			$.messager.alert({
				title: '提示',
				msg: '请上传签署文件!',
				type: 'info',
				width:388
			});
			return false;
		}
		$("#proForm").form('submit',{
			onSubmit:function(){
				var flag=true;
				var changeRows=[];
				var inserted = $('#ta').datagrid('getChanges','inserted');
				var updated = $('#ta').datagrid('getChanges','updated');
				changeRows = inserted.concat(updated);
				for(var i=0;i<changeRows.length;i++){
					var rowIndex=$('#ta').datagrid('getRowIndex',changeRows[i]);
					flag=$('#ta').datagrid('validateRow',rowIndex);
					if (!flag){
						$('#ta').datagrid('selectRow',rowIndex);
						$('#ta').datagrid('beginEdit', rowIndex);
						break;
					}else{
						$('#ta').datagrid('endEdit', rowIndex);
					}
				}
				if(flag){
					$('#ta').datagrid('endEdit', lastIndex2);
					Convert.setChildren2Form("proForm","ta");
				}
				return flag;
			},
			success:function(data){
				$("#signFileId").val(eval('('+ data +')').success);
				//保存签署文件签署方
				// saveSignFileUser();
				$.messager.show({
					title:'Tip',
					msg:'保存成功',
					timeout:2000,
					showType:'show'
				});
				$("#generateSignature").removeClass("hide");
				$('#win').window('close');
				$('#tt').datagrid('reload');
				$('#ta').datagrid('reload');
				var entityid= $("#entityid").val();
				var url="/documents/sign/detail2/";
				$('#win').window({href:url+entityid});
				$('#win').window('open');
			}
		});
	}
	function insert(){
		var _$ta = $('#ta');
		_$ta.datagrid('endEdit', lastIndex);
		var field={companyName:'', signType:'CTR',status:'N'};
		_$ta.datagrid('appendRow',field);
		lastIndex = _$ta.datagrid('getRows').length-1;
		_$ta.datagrid('selectRow', lastIndex);
		_$ta.datagrid('beginEdit', lastIndex);
		Convert.focusEditor("ta",field,lastIndex);
	}

	function getCompanyPhone(record){
		$.post(_ctx+'/documents/sign/findEntrust?name='+record.dictName,function(json) {
			var entrustJson = eval('[(json)]');
			var row = $('#ta').datagrid('getSelected');
			var index = $('#ta').datagrid('getRowIndex', row);
			var signPhoneStr = $('#ta').datagrid('getEditor',{index:index,field:'signPhone'});
			var signEmailStr = $('#ta').datagrid('getEditor',{index:index,field:'signEmail'});
			$(signPhoneStr.target).combobox({
				required: true,
				data: entrustJson,
				textField: 'mobilePhone',
				panelWidth: 270,
				panelHeight: 'auto',
				valueField: 'mobilePhone'
			});
			if( $(signPhoneStr.target).combobox('getData').length==1){
				var data =$(signPhoneStr.target).combobox('getData');
				$(signPhoneStr.target).combobox('select',data[0].mobilePhone);
				$(signEmailStr.target).val('select',data[0].email);
			}

		});
	}
	function getCompanyPhoneNmae(record){
		$.post(_ctx+'/documents/sign/findEntrustName/'+record.id,function(json) {
			var row = $('#ta').datagrid('getSelected');
			var index = $('#ta').datagrid('getRowIndex', row);
			var signNameStr = $('#ta').datagrid('getEditor',{index:index,field:'signName'});
			var signEmailStr = $('#ta').datagrid('getEditor',{index:index,field:'signEmail'});
			$(signNameStr.target).val(json.transactorName);
			$(signEmailStr.target).val(json.email);
		});
	}


	function remove() {
		var row = $('#ta').datagrid('getSelected');
		if(row){
			var index = $('#ta').datagrid('getRowIndex', row);
			if (row.id==undefined){
				$('#ta').datagrid('deleteRow',index);
			}else{
				$.messager.confirm({
					width:388,
					height:170,
					title: '删除提示',
					msg: '确定要删除该信息吗？',
					ok: "确定",
					cancel: "取消",
					cls:'c9',
					border:'thin',
					fn: function(r){
						if (r){
							$.post(_ctx+"/documentsUser/sign/delete/"+row.id,function(result) {
								var rObj = eval(result);
								if(rObj.success){
									$('#ta').datagrid('reload');
								}else{
									$.messager.alert('error',rObj.failure,'warning');
								}
							});
						}
					}
				});
			}
		}
	}


	function fileUpload(fileBtn, fileId, filePath, filePlugin) {
		var $this = $('#' + fileId);
		var uploader = WebUploader.create({
			auto : true,
			// swf文件路径
			swf : _ctx + '/static/webuploader-0.1.5/Uploader.swf',
			// 文件接收服务端。
			server : _ctx + '/file/uploadFile',
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			pick: {
				id: '#' + fileBtn,
				multiple:false
			},
			// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			resize : false,
			multiple:false,
			duplicate :false ,//true可重复上传，默认不可多次重复上传
			// 只允许选择PDF文件。
			accept : {
				title : 'file',
				extensions : 'pdf',
				mimeTypes: "*"
			}
		});
		// 去掉文件上传组件样式，使用上传dom 自己样式
		$(".webuploader-pick").removeClass();

		uploader.on('beforeFileQueued', function(file) {
			$.messager.progress('close');
			$('#' + fileId).val(null);
			var _file = $('#' + fileId).val();
			if (_file){
				$.messager.alert('tip',"文件签署每次仅可签署一份文件!",'info');
				return false;
			}
			if(file &&file.size > 104857600){
				$.messager.alert('tip',"上传文件不能超过100M!",'info');
				return false;
			}
		})

		// 当有文件添加进来的时候
		uploader.on('fileQueued', function(file) {
			$.messager.progress();
		});

		// 文件上传成功，给item添加成功class, 用样式标记上传成功。
		uploader.on('uploadSuccess', function(file, response) {
			$.messager.progress('close');
			if(file &&file.size > 104857600){
				$.messager.alert('tip',"上传文件不能超过100M!",'info');
				return;
			}
			if(response && response.result){//上传成功
				var fileId = response.fileId;

				filePlugin.uploadSuccess(fileId);
				//加载附件列表
				filePlugin.load($this.val(),'#'+filePath);
			}else{
				$.messager.alert('tip',"上传文件失败，失败信息："+ response._raw,'info');
			}
		});
	}


	// 生成电子签
	function generateSignature() {
		var _signFileId = $("#signFileId").val();
		if (_signFileId != "0"){
			var url = _ctx+"/documentsUser/sign/generateSignature/"+_signFileId;
			$.get(url,function(data) {
				var rObj = eval(data);
				if(rObj.success){
					$.messager.show({
						title : '提示',
						msg : '生成电子签成功!',
						timeout : 2000,
						height:120,
						showType : 'show'
					});
					$('#win').window('close');
					$('#tt').datagrid('reload');
					$('#ta').datagrid('reload');
					var entityid= $("#entityid").val();
					var url="/documents/sign/detail2/";
					$('#win').window({href:url+entityid});
					$('#win').window('open');
				}else{
					$.messager.alert({
						title: '提示',
						msg: rObj.failure,
						type: 'warning',
						width:388
					});
				}
			});
		}else{
			$.messager.alert({
				title: '提示',
				msg: '请先保存文件签署信息后，再生成电子签',
				type: 'info',
				width:388
			});
		}

	}

	function openDetail(){
		var sealUsageApproveId = $("#sealUsageApproveId").val();
		if (sealUsageApproveId){
			var title ='盖章申请:' + sealUsageApproveId;
			window.parent.addTab(title,_ctx+'/pm/approve/detail/'+ sealUsageApproveId);
		}
	}
</script>

