<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link th:href="@{/static/ueditor/third-party/webuploader/webuploader.css}" type="text/css" rel="stylesheet" />

</head>
<div class="easyui-layout" fit="true">
	<div id="inputForm" method="post" class="editForm_approve content_div" style="margin-bottom:20px">
		<input type="hidden" name="id" id="entityId" th:value="${entity.id}" />
		<input type="hidden" id="entityStatus" th:value="${entity.status}" />
		<input type="hidden" id="bondAmount" th:value="${contract?.bondAmount}" />
		<input name="businessNo" id="businessNo"  type="hidden" th:value="${entity.businessNo}" />
		<input type="hidden" id="hashEdit" th:value="${psv.hasEdit}"/>
		<input type="hidden" id="receiveInterestAmount"/>
		<input type="hidden" name="canApproveEdit" id="canApproveEdit" th:value="${psv.canApproveEdit}" />
		<input type="hidden" id="applyAmount"/>
		<input name="buyCompanyId" type="hidden" id="buyCompanyId" th:value="${entity.buyCompanyId}"/>
		<div class="mb6">
			<p class="yw-table-filter">
				<label>合同总价(元):</label>
				<input name="totalAmount" id="totalAmount" readonly type="text"  th:value="${entity.ReceiveAmount}"></input>
			</p>
			<p class="yw-table-filter hide">
				<label>逾期罚息(元):</label>
				<input name="interestAmount" id="interestAmount" readonly type="text"></input>
			</p>
			<p class="yw-table-filter">
				<label>已收金额(元):</label>
				<input name="payedAmount" id="payedAmount" readonly type="text" th:value="${entity.ReceiveAmount}"></input>
			</p>
			<p class="yw-table-filter">
				<label>未收金额(元):</label>
				<input name="unpayedAmount" id="unpayedAmount" readonly type="text" th:value="${entity.unpayedAmount}"></input>
			</p>

		</div>
		<div class="mb6">
			<p class="yw-table-filter w2">
				<label>我方:</label>
				<input name="ourCompanyName" id="ourCompanyName" readonly type="text" required="required" th:value="${entity.ourCompanyName}"></input>
			</p>
			<p class="yw-table-filter w2">
				<label>付款方:</label>
				<input name="companyId" type="hidden" id="companyId" th:value="${entity.companyId}"></input>
				<input type="text" name="companyName" readonly="readonly" id="companyName" th:value="${entity.companyName}"></input>
			</p>
		</div>
		<!-- <hr class="editor_hr"></hr> -->
		<div class="mb6">
			<p class="yw-table-filter">
				<label><i>*</i>收款类型:</label>
				<input name="receiveType" id="receiveType" readonly type="text" th:if="${entity.receiveType} eq A"  th:value="全款"></input>
			</p>
			<p class="yw-table-filter">
				<label><i>*</i>收款方式:</label>
				<input name="receiveMode" id="receiveMode" readonly type="text" th:if="${entity.receiveMode} eq T" th:value="电汇"></input>
			</p>
			<!--收款金额-->
			<th:block contenteditable='true'  th:replace="~{tags/apply :: receiveAmount(${#maps.containsKey(psv.mapEdit, 'receiveAmount')}?${psv.mapEdit['receiveAmount'].require}:true,${#maps.containsKey(psv.mapEdit, 'receiveAmount')}?${psv.mapEdit['receiveAmount'].edit && psv.hasApprove}:${ psv.hasEdit})}"/>
			<!--收款日期-->
			<th:block contenteditable='true' th:replace="~{tags/apply :: receiveDate(${#maps.containsKey(psv.mapEdit, 'receiveDate')}?${psv.mapEdit['receiveDate'].require}:true,${#maps.containsKey(psv.mapEdit, 'receiveDate')}?${psv.mapEdit['receiveDate'].edit && psv.hasApprove}:${ psv.hasEdit})}"/>

		</div>
	</div>
	<div class="editForm">
		<p style="width:240px">
			<span class="upload-btn" id="btn_fileId">
               	 <a href="#" class="easyui-linkbutton file-upload" data-options="iconCls:'icon-upload'">上传附件 </a>
           	</span>
			<input class="control" id="fileId" name="fileId" type="hidden" th:value="${entity.fileId}" />
		</p>
		<p class="controls showImg fileId" id="span_fileId"></p>
	</div>
<div id="w_contract_choose" class="easyui-window" title="合同详情" data-options="width:830,height:640"></div>
</div>
<script th:src="@{/static/ueditor/third-party/webuploader/webuploader.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/file.js?v=2}" type="text/javascript"></script>
<script th:src="@{/static/js/admin/apply_base.js}" type="text/javascript"></script>
<script type="text/javascript">
	var isExists=false;
	var imgShowUrl =_filePath+'/view/small/';
	var companyJson =eval('[(${companyJson})]');
	var approveStatusJson =eval('[(${approveStatusJson})]');
	var receiveModeJson =eval('[(${receiveModeJson})]');
	var receiveTypeJson = eval('[(${receiveTypeJson})]');
	var _ourCompanyJson=eval('[(${ourCompanyJson})]');
	var filePlugin = new FilePlugin('#fileId',$('#entityId').val(),'/apply/receive/updateFileId',[[${param.hasEditFile}]]);
	var canApproveEdit = $("#canApproveEdit").val();
	$(function(){
		var _recevieFlg = $("#receiveFlg").val();
		_beforSaveOper = true;
		$('#w_contract_choose').window({
			title: '请选择合同',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false
		});
		$('.easyui-linkbutton').linkbutton();
		var _curStatus = $("#entityStatus").val();
		var _entityId = $("#entityId").val();
		var _companyId;
		if (_curStatus=='N' && _entityId=='0'){
			_companyId = contract.companyId;
		}else{
			_companyId = $("#companyId").val();
		}
		if(_curStatus&&(_curStatus=='N'||_curStatus=='B'||_curStatus=='C')){
			$(".insertContent").show();
			/* $("#companyId").combobox({
				url:_ctx+"/bs/company/findCompany/"+ _companyId,
				mode:'remote',
				limitToList:true,
				valueField:'id',
				textField:'text',
				panelHeight:300,
				required : true,
				editable:false,
				hasDownArrow:false,
				readonly:true,
				onSelect:function(record){
					$('#companyName').val(record.companyName);
					$('#bankName').val(record.bankName);
					$('#bankAccount').val(record.bankAccount);
				},
				onHidePanel:function(){
					BasCombobox.onHidePanel(this);
				}
			}); */

			$("#receiveMode").combobox({
				data:receiveModeJson,
				textField:'dictName',
				valueField:'dictCd',
				required: true,
				panelHeight:"auto",
				editable:false,
				onSelect:function(record){
					var receiveMode = record.dictCd;
					if(receiveMode == 'P'){
						$('#dueTime,#billDueTime').datebox({
							required: true
						});
					}else{
						$('#dueTime,#billDueTime').datebox({
							required: false
						});
					}
				},
				onHidePanel:function(){
					BasCombobox.onHidePanel(this);
				}
			});
			$('#receiveAmount,#totalAmount,#payedAmount,#unpayedAmount').numberbox({
	 		    required: true,
	 		    precision:2,
	 		    min:0
	 		});

			$("#receiveType").combobox({
				data:receiveTypeJson,
				textField:'dictName',
				valueField:'dictCd',
				required: true,
				panelHeight:"auto",
				editable:false,
				onSelect:function(record){
					var cd = record.dictCd;
					curPayAmount(cd);
					var interestAmount = $("#interestAmount").val();
					var receiveInterestAmount = $("#receiveInterestAmount").val();
					if (cd == "F"){
						$("#receiveAmount").numberbox({max:interestAmount-receiveInterestAmount});
					}else{
						$("#receiveAmount").numberbox({max:null});
					}
				},
				onHidePanel:function(){
					BasCombobox.onHidePanel(this);
				}
			});
	 		$('#dueTime,#billDueTime,#receiveDate').datebox({
				editable:false
			 });
	 		//我方抬头
			$('#ourCompanyName').combobox({
				data:_ourCompanyJson,
				valueField:'dictName',
				textField:'dictName',
				panelHeight:"auto",
				editable:false,
				hasDownArrow:false,
				readonly:true,
				onHidePanel:function(){
					BasCombobox.onHidePanel(this);
				}
			});
			var _ourcompanyName = $('#ourCompanyName').val();
			if(_ourcompanyName == ''){
				$('#ourCompanyName').combobox('select', _ourCompanyJson[0].dictName);
			}
// 	 		if(contractId){
// 				$.ajax({
// 			        url:_ctx+"/ctr/contract/findById?contractId="+contractId,
// 			        type:"post",
// 			        async:false,
// 			        success:function(contract){
// 			        	byContract(contract);
// 			        }
// 		     	});
// 			}
	 		applyLoadSucess();
		}

		// 审批中
		if(_curStatus&&(_curStatus=='A')){
			$(".chooseBtn").hide();

			$("#receiveType").combobox({
				data:receiveTypeJson,
				textField:'dictName',
				valueField:'dictCd',
				required: true,
				panelHeight:"auto",
				editable:false,
				readonly:true
			});

			$("#receiveType").combobox("setValue", $("#receiveType").val());

			$("#receiveMode").combobox({
				data:receiveModeJson,
				textField:'dictName',
				valueField:'dictCd',
				required: true,
				panelHeight:"auto",
				editable:false,
				readonly:true
			});



			$("#receiveMode").combobox("setValue", $("#receiveMode").val());

			$("#inputForm").find("input").not("[type='button']").not("#receiveDate").attr("readonly",true);
			$("#inputForm").find("input").not("[type='button']").not("#receiveAmount").attr("readonly",true);
			$('#receiveAmount').numberbox({
				required: true,
				precision:2,
				min:0
			});
		}

		if(_curStatus&&(_curStatus=='D')){
			$('#receiveAmount').numberbox({
				required: true,
				precision:2,
				min:0
			});
			$(".chooseBtn").hide();
			//$("#businessNo").attr("style","width:342px");
			//$("[type='checkbox']").hide();
			//转换收款类型
			var _receiveType = $("#receiveType").val();
			var ConvertReceiveType = Convert.findValueByKey(receiveTypeJson,"dictCd",_receiveType,"dictName");
			$("#receiveType").val(ConvertReceiveType);
			//转换收款方式
			var _receiveMode = $("#receiveMode").val();
			var ConvertReceiveMode = Convert.findValueByKey(receiveModeJson,"dictCd",_receiveMode,"dictName");
			$("#receiveMode").val(ConvertReceiveMode);
			//转换对方企业
			/* $.post(_ctx+"/bs/company/findCompany/"+_companyId,function(result){
				var ConvertcompanyId = Convert.findValueByKey(result,"id",_companyId,"text");
				if (ConvertcompanyId == null){
					ConvertcompanyId = $("#companyName").val();
				}
				$("#companyId").val(ConvertcompanyId);
			}); */

			 $("#inputForm").find("input").not("[type='button']").attr("readonly",true);

		}
		//加载附件列表
		filePlugin.load($('#fileId').val(),'#span_fileId');
		if ($('#btn_fileId').length>0){
			fileUpload("btn_fileId", "fileId");
		}
		var $contract_id = $("#contractId").val();
		getCtrContractDetail($contract_id);
		});
	//选择合同
 	function openChoose(){
		var url=_ctx+"/ctr/contract/choose?contractType=S&contractStatus=C&fondFlg=0&type=R";
		$('#w_contract_choose').attr('callbackExec', 'chooseCallback');
		$('#w_contract_choose').window({href:url});
		$('#w_contract_choose').window("open");
	}

	function chooseCallback(contractRows){
		var contract = contractRows[0];
		byContract(contract);
	}
	function byContract(contract){
		if (contract!=undefined){
			$("#businessNo").val(contract.businessNo);//业务编号
			$("#contractNo").val(contract.contractNo);//合同编号
			$('#ourCompanyName').combobox('setValue',contract.ourCompanyName);
			$("#totalAmount").numberbox('setValue',contract.totalAmount);//合同总价
			$("#contractId").val(contract.id);
			$("#payedAmount").numberbox('setValue',contract.dealedAmount);//已收金额
			var dealAmount = parseFloat(contract.totalAmount);//合同总价
			var interestAmount = contract.interestAmount;
			if (!interestAmount){
				interestAmount = 0;
			}
			dealAmount = dealAmount + interestAmount;
			var payedAmount = parseFloat(contract.dealedAmount);//已收金额
			var receiptAmount = parseFloat(contract.dealedAmount);//已收金额
			var unpayedAmount = dealAmount-payedAmount;//未收
			var applyPayAmount = contract.applyPayAmount;
			$("#applyAmount").val(applyPayAmount);
			//$("#unpayedAmount").numberbox('setValue',unpayedAmount);//未收金额
			$("#unpayedAmount").numberbox('setValue',dealAmount-receiptAmount);//未收金额
			//$("#companyId").combobox('setValue',contract.companyId);//付款单位
			$("#companyId").val(contract.companyId);
			$("#companyName").val(contract.companyName);
			$("#bondAmount").val(contract.bondAmount);
			//$("#receiveAmount").numberbox('setValue',unpayedAmount);
			$("#receiveAmount").numberbox('setValue',dealAmount-applyPayAmount);
			$("#receiveType").combobox('setValue','');
			$("#receiveMode").combobox('setValue',contract.payType);
			//$("#interestAmount").val(Number(contract.interestAmount).toFixed(2));
			$("#buyCompanyId").val(contract.buyCompanyId);
			$("#breachAmount").val(contract.breachAmount);
			$("#receiveBreachAmount").val(contract.receiveBreachAmount);
		}
	}

	function curPayAmount(cd){
		var bondAmount = $("#bondAmount").val();
		var totalAmount = $("#totalAmount").val();
		var payedAmount = $("#payedAmount").val();
		var interestAmount = $("#interestAmount").val();
		var receiveInterestAmount = $("#receiveInterestAmount").val();
		var applyAmount = $("#applyAmount").val();
		var _amount = 0;

		if(totalAmount){
			if("B"==cd){
				if(Number(payedAmount) == 0){
					_amount = bondAmount;
				}else{
					_amount = '0';
				}
			}else{
				_amount = $("#unpayedAmount").val();
			}
		}
		$("#receiveAmount").numberbox('setValue',Number(_amount));
	}
	//合同详情
	function contractDetail(){
		var id = $("#contractId").val();
		if(id){
			var contractNo = $("#contractNo").val();
			var url=_ctx+"/ctr/contract/detail/"+id;
			var title=contractNo;
			window.parent.addTab(title,url);
		}

	}
	function getCtrContractDetail(contractId){
		if (contractId){
			$.ajax({
		        url:_ctx+"/ctr/contract/findDetailByContractId?contractId="+contractId,
		        type:"post",
				async:false,
		        success:function(contract){
		        	if (contract != null && contract != undefined){
			        	var a = contract.receiveInterestAmount;
		        		$("#interestAmount").val(Number(contract.interestAmount).toFixed(2));
		        		$("#receiveInterestAmount").val(contract.receiveInterestAmount);
			        }
		        }
	     	});
		}
	}
	//发起申请前操作
	function beforSaveOper(){
		return true;
	}
</script>
</html>
