<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>footer</title>
</head>
<body>
	<!-----页头 S---->
	<th:block th:fragment="include">
		<meta http-equiv="x-ua-compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-store" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />


		<!-- <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/color.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/styleBlues/easyui.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/icon.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/normalize.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/publicSty.css?v=1}"> -->

		<!-- 新版本样式 -->
		<link rel="stylesheet" type="text/css" th:href="@{/static/new-version/easyui/themes/trade-180511/easyui.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/new-version/easyui/themes/icon.css?v=3}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/new-version/easyui/themes/normalize.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/new-version/css/public.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/ruoyi/css/ry-ui.css?v=4.7.2}"/>

		<script th:src="@{/static/jquery/jquery.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery/jquery.form.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery/jQuery.print.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-easyui/jquery.easyui.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-easyui/locale/easyui-lang-zh_CN.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-easyui/jquery.edatagrid.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-validation/1.10.0/jquery.validate.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-validation/1.10.0/messages_bs_zh.js}" type="text/javascript"></script>
		<script th:src="@{/static/js/common.js}" type="text/javascript"></script>
		<script th:src="@{/static/js/ConvertUtil.js?v=1}" type="text/javascript"></script>
		<script th:src="@{/static/js/combotree-search.js}" type="text/javascript"></script>
		<script th:src="@{/static/ajax/libs/blockUI/jquery.blockUI.js}" type="text/javascript"></script>
		<script th:src="@{/static/ajax/libs/layer/layer.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/ruoyi/js/ry-ui.js?v=4.7.2}" type="text/javascript"></script>
		<script type="text/javascript">	_ctx='[[${#request.getContextPath()}]]';</script>
		<script type="text/javascript">	_staticPath='[[${staticPath}]]';</script>
		<script type="text/javascript">	_filePath='[[${g_filePath}]]';</script>
		<script type="text/javascript">	_industry='[[${@shiroUtil.getIndustry()}]]';</script>
		<script type="text/javascript">	_curUserId='[[${@shiroUtil.getCurrentUserId()}]]';</script>

	</th:block>
	<th:block th:fragment="include-constants">
		<script type="text/javascript">	_ctx='[[${#request.getContextPath()}]]';</script>
		<script type="text/javascript">	_staticPath='[[${staticPath}]]';</script>
		<script type="text/javascript">	_filePath='[[${g_filePath}]]';</script>
		<script type="text/javascript">	_industry='[[${@shiroUtil.getIndustry()}]]';</script>
		<script type="text/javascript">	_curUserId='[[${@shiroUtil.getCurrentUserId()}]]';</script>
	</th:block>
</body>
</html>

