<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="easyui-layout" fit="true">
    <div region="north" class="search_div pt20	pl20 pr20 pb15 ofh" border="false">
        <form id="inputForms" method="post"  class="from-input-layout" >
            <input type="hidden" name="fundCompanyId" id="id" th:value="${entity.id}"/>
            <input type="hidden" name="flowType" id="flowType" th:value="${flowType}"/>
            <div class="mb6">
                <p class="yw-table-filter w2">
                    <label for="companyName"  class="control-label">资金方名称:</label>
                    <input name="companyName" id="companyName" type="text" th:value="${entity.companyName}" readonly/>
                </p>
                <p class="yw-table-filter w2">
                    <label for="flowAmount"  class="control-label" id="flowAmountLabel">充值金额:</label>
                    <input name="flowAmount" id="flowAmount" type="text" />
                </p>
            </div>
            <div class="mb6">
                <p class="yw-table-filter w2">
                    <label for="initialAmount"  class="control-label">期初金额:</label>
                    <input name="initialAmount" id="initialAmount" type="text" th:value="${entity.insuranceAmount}" readonly/>
                </p>
                <p class="yw-table-filter w2">
                    <label for="ultimateAmount"  class="control-label">期末金额:</label>
                    <input name="ultimateAmount" id="ultimateAmount" type="text" />
                </p>
            </div>
            <div class="mb6">
                <p class="yw-table-filter w4">
                    <label for="subject"  class="control-label">备注:</label>
                    <input name="subject" id="subject" type="text" />
                </p>
            </div>

        </form>
    </div>


    <div region="south" border="false" style="overflow: hidden;height: 60px;margin-left:  280px;">
        <div class="actions_bar">
            <span id="submitSave" class="easyui-linkbutton btn-info-empty" data-options="iconCls:'icon-save'">保存</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _flowType = $("#flowType").val();
    $(function(){
        if(_flowType == 'T'){
            $("#flowAmountLabel").text("充值金额:")
        } else {
            $("#flowAmountLabel").text("扣款金额:")
        }
        $("#flowAmount").numberbox({
            required: true,
            readonly: false,
            validType: 'length[1,20]',
            precision: 2,
            onChange: function (){
                // 充值
                if(_flowType == 'T'){
                    let _initialAmount = $("#initialAmount").numberbox("getValue");
                    let _flowAmount = $("#flowAmount").numberbox("getValue");
                    let _value = (Number(_initialAmount) + Number(_flowAmount)).toFixed(2);
                    $("#ultimateAmount").numberbox("setValue", _value);
                } else{
                    // 扣款
                    let _initialAmount = $("#initialAmount").numberbox("getValue");
                    let _flowAmount = $("#flowAmount").numberbox("getValue");
                    let _value = (Number(_initialAmount) - Number(_flowAmount)).toFixed(2);
                    $("#ultimateAmount").numberbox("setValue", _value);
                }

            },
            parser: function(val) {
                // 解析时去除千分位分隔符
                if(val) {
                    return parseFloat(String(val).replace(/,/g, ''));
                } else {
                    if(isNaN(val)) {
                        return '';
                    } else {
                        return val;
                    }
                }
            },
            formatter: function(val) {
                if (val || val === 0) {
                    val = parseFloat(val).toFixed(2).toString().split(".");
                    val[0] = val[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)', 'ig'), "$1,");
                    return val.join(".");
                } else {
                    if(isNaN(val)){
                        return ""
                    } else {
                        return val;
                    }
                }
            }
        });

        $("#initialAmount").numberbox({
            readonly: true,
            validType: 'length[1,20]',
            precision: 2,
            parser: function(val) {
                // 解析时去除千分位分隔符
                if(val) {
                    return parseFloat(String(val).replace(/,/g, ''));
                } else {
                    if(isNaN(val)) {
                        return '';
                    } else {
                        return 0;
                    }
                }
            },
            formatter: function(val) {
                if (val || val === 0) {
                    val = parseFloat(val).toFixed(2).toString().split(".");
                    val[0] = val[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)', 'ig'), "$1,");
                    return val.join(".");
                } else {
                    if(isNaN(val)){
                        return ""
                    } else {
                        return 0;
                    }
                }
            }
        });

        $("#ultimateAmount").numberbox({
            required: true,
            readonly: true,
            validType: 'length[1,20]',
            precision: 2,
            parser: function(val) {
                // 解析时去除千分位分隔符
                if(val) {
                    return parseFloat(String(val).replace(/,/g, ''));
                } else {
                    if(isNaN(val)) {
                        return '';
                    } else {
                        return val;
                    }
                }
            },
            formatter: function(val) {
                if (val || val === 0) {
                    val = parseFloat(val).toFixed(2).toString().split(".");
                    val[0] = val[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)', 'ig'), "$1,");
                    return val.join(".");
                } else {
                    if(isNaN(val)){
                        return ""
                    } else {
                        return val;
                    }
                }
            }
        });
        // 防止点击多次
        $("#submitSave").one('click',submit)
    });
    //保存
    function submit(){
        let flowAmount = $('#flowAmount').val();
        if(flowAmount === null || flowAmount === ''){
            if(_flowType == 'T'){
                $.messager.alert('error', '请输入充值金额', 'warning');
            } else {
                $.messager.alert('error', '请输入扣款金额', 'warning');
            }

            return;
        }
        let ultimateAmount = $('#ultimateAmount').val();
        if(ultimateAmount === null || ultimateAmount === ''){
            if(_flowType == 'T'){
                $.messager.alert('error', '请输入充值金额', 'warning');
            } else {
                $.messager.alert('error', '请输入扣款金额', 'warning');
            }
            return;
        }
        save();
    }
    /* 添加方法 */
    function save(){
        $.ajax({
            type:"POST",
            dataType: "json",
            url: _ctx+"/bs/companyDcsx/insuranceAmountFlow/save",
            data:  $('#inputForms').serialize(),
            success: function (data){
                if ((!isEmpty(data)) && !isEmpty(data.success)) {
                    $.messager.show({
                        title: 'Tip',
                        msg: '保存成功',
                        timeout: 2000,
                        showType: 'show'
                    });
                } else {
                    $.messager.alert('error', data.failure, 'warning');
                }
                $("#premiumRecharge").window("close");
                $('#tt').datagrid('reload');
            },
            error : function() {
                $.messager.alert('error', "请联系管理员", 'warning');
            }
        })
    }

</script>
