<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>合同管理</title>
<th:block th:replace="~{layouts/include :: include}"></th:block>
</head>
<body class="easyui-layout">
<div region="north" class="search_div" border="false" style="height:105px">
	<form id="searchForm" class="form-search from-input-layout" method="post">
		<p class="p_text">
			<span class="input-colspan">
				<label>审批状态:</label>
				<input  type="text" id="srh_status" name="search_EQS_status"/>
			</span>
			<span class="input-colspan">
				<label class="text_marginl">类型:</label>
				<input  type="text" id="srh_contractType" name="search_EQS_contractType"/>
			</span>
			
			<span class="input-colspan">
					<label>合同编号:</label>
					<input  type="text" name="search_EQS_contractNo"/>
			</span>
			<span class="input-colspan">
					<label>商品名称:</label>
					<input  type="text" name="search_LIKES_productName"/>
			</span>			
		</p>
		<p class="p_text">
			<span class="input-colspan">
					<label>业务编号:</label>
					<input  type="text" name="search_EQS_businessNo"/>
			</span>
			<span class="input-colspan">
					<label>企业名称:</label>
			<input  type="text" name="search_LIKES_oppCompanyName"/>
			</span>
			<span class="input-colspan">
					<label>合同时间:</label>
					<input  id="srh_contractTime_from" name="search_GTED_contractTime"  class="easyui-datebox"  />					
			</span>			
			<span class="input-colspan">
					<label>到:</label>
					<input  id="srh_contractTime_to" name="search_LTD_contractTime"  class="easyui-datebox" />
			</span>
			<span class="btn-group">
				<a href="#" id="btn" iconCls="icon-search" class="easyui-linkbutton" onclick="Convert.search('searchForm','tt');">查询</a>
				<a href="#" id="btn" iconCls="icon-clear" class="easyui-linkbutton ml10" onclick="$('#searchForm').form('reset');">清空</a>
			</span>
		</p>
	</form>
</div>
<div region="center" border="false" class="panel_padding"style="padding-right:30px;">
	<table id="tt" fit="true"
			title="" iconCls="icon-edit" singleSelect="true"
			idField="id">
	</table>
</div>

<div id="w" title="合同详情" data-options="width:800,height:460,border:'thin',collapsible: false,minimizable: false,cls:'c9'">		
</div>
<script type="text/javascript">
	var lastIndex=0;
	var companyJson =eval('[(${companyJson})]');
	var contractTypeJson =eval('[(${contractTypeJson})]');
	var contractStatusJson =eval('[(${contractStatusJson})]');
	var approveStatusJson =eval('[(${approveStatusJson})]');
	var pmapproveJson=eval('[(${pmapproveJson})]')
	$(function(){
		$("#srh_contractType").combobox({
			data:contractTypeJson,
			textField:'dictName',
			valueField:'dictCd',
			panelHeight:"auto"
		});
		
		$("#srh_status").combobox({
			data:approveStatusJson,
			textField:'dictName',
			valueField:'dictCd',
			panelHeight:"auto"
		});
		
		/* $('#srh_contractTime_from,#srh_contractTime_to').datebox({
			width:150,
			height:30
		});
		 */
		var toolbar =[{
			text:'编辑',
			handler:function(){
				var row = $('#tt').datagrid('getSelected');  
				editrow(row.id);
			}
		},'-'];
		
		
		$('#tt').datagrid({
			pagination:true,
			pageSize:30,
			rownumbers:true,
			pageList:[500,200,100,50,30,20],
			url:_ctx+"/bas/contract/queryContList",
			columns:[ [
				{field:'contractType',title:'类型', width:50,formatter:function(value,row,index){
					return Convert.findValueByKey(contractTypeJson,"dictCd",value,"dictName");
				}},
				{field:'status',title:'审批状态', width:60,formatter:function(value,row,index){
					var status =  Convert.findValueByKey(approveStatusJson,"dictCd",value,"dictName");
					var a = '';
					if(value=="A"){
						a="<span class='colorA'>"+status+"</span>";
					}else if(value=="D"){
						a="<span class='colorD'>"+status+"</span>";
					}else if(value=="B"){
						a="<span class='colorB'>"+status+"</span>";
					}else if(value=="N"){
						a="<span class='colorN'>"+status+"</span>";
					}
					return a;
				}},
				{field:'contractStatus', title: '合同状态', width: 80,formatter:function(value,row,index){
					return Convert.findValueByKey(contractStatusJson,"dictCd",value,"dictName");
				}},
				{field: 'operationItem', title: '操作', width: 65,formatter:operatorbtn},
				{field:'linkContractId',hidden:true,title:'关联合同', width:80},
				{field:'businessNo', title:'业务编号', width:128},
				{field:'contractNo',title:'合同编号', width:128},
				{field:'contractTime',title:'合同时间', width:90},
				{field:'oppCompanyName',title:'企业名称', width:150},
				{field:'productName',title:'商品名称', width:80},
				{field:'dealPrice',title:'单价', width:60},
				{field:'dealNumber',title:'数量', width:50},
				{field:'numberUnit',title:'单位', width:50},
				{field:'dealAmount',title:'合同总价', width:70},
				{field:'deliveryDateFrom',title:'交货期开始', width:90},
				{field:'deliveryDateTo',title:'交货期结束', width:90},
				{field:'warehouse',title:'仓库', width:100},
				{field:'createUserName',title:'申请人', width:70},
				{field:'updatedDate',title:'更新时间',width:140}
				
			]],
			//toolbar:toolbar,
			onDblClickRow:function(index,row){
				lastIndex = index;
				editrow(row.id);
			},
			onClickRow:function(index,row){
				lastIndex = index;
			},
			onLoadSuccess:function(data){
				var total =$('#tt').datagrid('getData').total;
				if (lastIndex >total-1){
					lastIndex=total-1;
				}
				if (lastIndex){
					$('#tt').datagrid('selectRow', lastIndex);
				}
			}
		});
		
		$('#w').window({
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false,
			onClose:function(){
				$('#tt').datagrid('reload');
			}
		});
		
	});
	function editrow(id){
		var url=_ctx+"/bas/contract/detail/"+id;
		var title="合同详情";
		if (id ==0){
			title="新增合同";
		}
		var headerCls = 'myPanelHead';
		$('#w').window({href:url,title:title,headerCls:headerCls});
		$('#w').window("open");
	}
	//操作按钮
	// 采购：N-新增，S-已签约，F1-已付款，G1-已收货，V1-已收票
	// 销售：N-新增，S-已签约，F2-已收款，G2-已发货，V2-已开票
	function operatorbtn(value,row,index){
			var value=row.contractType;
			var status = row.status;
			var contractStatus = row.contractStatus;
			var billFlg = row.billFlg;//已收票
			var payFlag = row.payFlg;//已发货/已收货
			var fondFlg = row.fondFlg;//已收款
			var ht='';
			console.log(payFlag,contractStatus);
			if (status=="D"){
				
				if(value=="B"){
					if(payFlag=="false" && contractStatus=="F1"){
						ht=ht+"<div class='btnSpan' onclick='updateContractStatusToG1(\""+row.id+"\")' class='l-btn'><span>已收货</span></div>";
					}else if(billFlg=="false" && contractStatus=="G1"){
						ht=ht+"<div class='btnSpan' onclick='updateContractStatusByBill(\""+row.id+"\")' class='l-btn'><span>已收票</span></div>";
					}
				}else if(value=="S"){
					if(fondFlg=="false"){
						ht=ht+"<div class='btnSpan' onclick='updateContractStatusByFond(\""+row.id+"\")' class='l-btn'><span>已收款</span></div>";
					}else if(payFlag=="false" && contractStatus=="F2"){
						ht=ht+"<div class='btnSpan' onclick='updateContractStatusToG2(\""+row.id+"\")' class='l-btn'><span>已发货</span></div>";
					}
				}
			}
	        return ht;
	}
	//已收款                                                                                                                                                                                                                                                                                                                                                                                                                                                 
	function updateContractStatusByFond(id){
		$.ajax({
			type:"POST",
			url:_ctx+"/bas/contract/updateContractStatusByFond",
			data:{
				id:id
			},
			dataType:"JSON",
			success:function(data){
				$.messager.show({
                    title:'Tip',
                    msg:'操作成功！',
                    timeout:2000,
                    showType:'show'
                });
				$('#tt').datagrid('reload');
			},
			error:function(){
				
			}
		})
	}
	//已收票
	function updateContractStatusByBill(id){
		$.ajax({
			type:"POST",
			url:_ctx+"/bas/contract/updateContractStatusByBill",
			data:{
				id:id
			},
			dataType:"JSON",
			success:function(data){
				$.messager.show({
                    title:'Tip',
                    msg:'操作成功！',
                    timeout:2000,
                    showType:'show'
                });
				$('#tt').datagrid('reload');
			},
			error:function(){
				
			}
		})
	}
	//已收货
	function updateContractStatusToG1(id){
		$.ajax({
			type:"POST",
			url:_ctx+"/bas/contract/updateContractStatusToG1",
			data:{
				id:id
			},
			dataType:"JSON",
			success:function(data){
				$.messager.show({
                    title:'Tip',
                    msg:'操作成功！',
                    timeout:2000,
                    showType:'show'
                });
				$('#tt').datagrid('reload');
			},
			error:function(){
				
			}
		})
	}
	//已发货
	function updateContractStatusToG2(id){
		$.ajax({
			type:"POST",
			url:_ctx+"/bas/contract/updateContractStatusToG2",
			data:{
				id:id
			},
			dataType:"JSON",
			success:function(data){
				$.messager.show({
                    title:'Tip',
                    msg:'操作成功！',
                    timeout:2000,
                    showType:'show'
                });
				$('#tt').datagrid('reload');
			},
			error:function(){
				
			}
		})
	}
</script>
</body>
</html>
