<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="easyui-layout" fit="true">
<div region="north" class="search_div" border="false" style="height:105px">
	<form id="frm_contract_choose" class="form-search from-input-layout" method="post">
		<input type="hidden" name="search_EQS_status" value="D" />
		<input type="hidden" name="search_EQS_contractType" th:value="${param.contractType}" />
		<input type="hidden" name="search_GTM_remainNumber" th:value="${param.remainNumber}"/>
		<p class="p_text">
			<span class="input-colspan">
				<label>业务编号:</label>
				<input type="text" name="search_LIKES_businessNo"/>
			</span>
			<span class="input-colspan">
				<label>合同编号:</label>
				<input type="text" name="search_LIKES_contractNo"/>
			</span>
			<span class="input-colspan">
				<label>商品名称:</label>
				<input type="text" name="search_LIKES_productName"/>
			</span>
		</p>
		<p class="p_text">
			<span class="input-colspan">
				<label>企业名称:</label>
				<input type="text" name="search_LIKES_oppCompanyName"/>
			</span>
			<span class="input-colspan">
					<label>合同时间:</label>
					<input  name="search_GTED_contractTime"  class="easyui-datebox"/>					
			</span>
			<span style="margin-left: -15px;">
				<label>~</label>
			</span>	
			<span class="input-colspan">
				<input id="search_LTD_contractTime" name="search_LTD_contractTime"  class="easyui-datebox"/>
			</span>
			<span class="btn-group">
				<a href="#" id="btn" iconCls="icon-search" class="easyui-linkbutton" onclick="Convert.search('frm_contract_choose','tt_contract_choose');">查询</a>
				<a href="#" id="btn" style="margin-left: 10px;" iconCls="icon-clear" class="easyui-linkbutton ml10" onclick="$('#frm_contract_choose').form('reset');">清空</a>
			</span>
		</p>
	</form>
</div>
<div region="center" border="false">
	<table id="tt_contract_choose" fit="true"
			title="" iconCls="icon-edit" singleSelect="true"
			idField="id">
	</table>
</div>
<div region="south" border="false" style="overflow: hidden;height: 40px;">
	<div class="actions_bar">
		<a href="#" class="easyui-linkbutton btn-info" onclick="ContractChoose.confirmChoose();">确&nbsp;认</a>
		<a href="#" class="easyui-linkbutton btn-danger" onclick="ContractChoose.closeCurrentWin();">关&nbsp;闭</a>
	</div>
</div>
</div>
<script type="text/javascript">
	var lastIndex=0;
	var contractTypeJson =eval('[(${contractTypeJson})]');
	var contractStatusJson =eval('[(${contractStatusJson})]');
	$(function(){
		$("#srh_choose_contractType").combobox({
			data:contractTypeJson,
			textField:'dictName',
			valueField:'dictCd',
			width:128,
			editable:true
		});
		
		
		$('#tt_contract_choose').datagrid({
			pagination:true,
			pageSize:30,
			rownumbers:true,
			pageList:[500,200,100,50,30,20],
			singleSelect:true,
			queryParams:Convert.getJson4Form('frm_contract_choose'),
			url:_ctx+"/bas/contract/listChoose",
			columns:[ [
				{field:'contractType',title:'类型', width:60,formatter:function(value,row,index){
					return Convert.findValueByKey(contractTypeJson,"dictCd",value,"dictName");
				}},
				{field:'status',title:'状态', width:60,formatter:function(value,row,index){
					return Convert.findValueByKey(contractStatusJson,"dictCd",value,"dictName");
				}},
				{field:'businessNo',title:'业务编号', width:110},
				{field:'contractNo',title:'合同编号', width:80},
				{field:'contractTime',title:'合同时间', width:100},
				{field:'oppCompanyName',title:'企业名称', width:100},
				{field:'productName',title:'商品名称', width:100},
				{field:'dealPrice',title:'单价', width:70},
				{field:'remainNumber',title:'数量', width:70},
				{field:'numberUnit',title:'单位', width:50},
				{field:'dealAmount',title:'合同总价', width:70},
				{field:'taxAmount',title:'进项税', width:70},
				{field:'dealAmountNotax',title:'不含税价', width:70},
				{field:'deliveryDateFrom',title:'交货期开始', width:80},
				{field:'deliveryDateTo',title:'交货期结束', width:80},
				{field:'warehouse',title:'仓库', width:70} ,
				{field:'linkContractId',title:'关联合同', width:80} 
			]],
			onSelect:function(index,row){
				ContractChoose.selected.push(row);
			},
			onUnselect:function(index,row){
				ContractChoose.removeSelected(row);
				console.log(ContractChoose.selected);
			}
		});
		
	});
	
	
	var ContractChoose={
			selected:[],
			removeSelected:function(row){
				for(var i=0; i<ContractChoose.selected.length; i++) {
				    if(ContractChoose.selected[i].id == row.id) {
				    	ContractChoose.selected.splice(i, 1);
				      	break;
				    }
				  }
			},
			confirmChoose:function(){
				var selectedRows=ContractChoose.selected;//$('#ttsimpleproduct').datagrid('getSelections');
		    	var callbackExec = $('#w_contract_choose').attr('callbackExec');
		    	var myfunc = eval(callbackExec);
		    	if(typeof(myfunc) == "function"){
		    		myfunc(selectedRows);
		    	}
		    	ContractChoose.closeCurrentWin();
			},
			
			closeCurrentWin:function(){
				$('#w_contract_choose').window('close');
			}
				
		}
</script>
</html>
