<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link th:href="@{/static/ueditor/third-party/webuploader/webuploader.css}" type="text/css" rel="stylesheet" />

</head>
<div class="easyui-layout" fit="true">
	<div region="center" style="+position: relative;overflow:hidden;" border="false">
		<form id="inputForm" method="post" class="editForm" style="margin-top:20px;margin-bottom: 20px;padding-left:20px;overflow:hidden;">
			<input type="hidden" name="id" id="entityId" th:value="${entity.id}" />
			<input type="hidden" name="contractId" id="contractId" th:value="${entity.contractId}" />
			<input type="hidden" name="contractNo" id="contractNo" th:value="${entity.contractNo}" />
			<input type="hidden" name="productCode" id="productCode" th:value="${entity.productCode}" />
			<p>
			<span>
			<label for="businessNo"  class="control-label">合同编号:</label>
			<input name="businessNo" id="businessNo" class="control readonly largemid" readonly type="text" th:value="${entity.businessNo}"></input>
			</span>
			<span>
			<label for="productName"  class="control-label">商品名称:</label>
			<input name="productName" id="productName" class="control" type="text" th:value="${entity.productName}"></input>
			</span>

			</p>
			<p>
			<span>
			<label for="companyId"  class="control-label">我方抬头:</label>
			<input name="ourCompanyName" id="ourCompanyName" class="control largemid" type="text" th:value="${entity.ourCompanyName}"></input>
			</span>
			</p>
			<p>
			<span>
			<label for="companyId"  class="control-label">对方企业:</label>
			<input type="hidden" name="companyName" id="companyName" />
			<input name="companyId" id="companyId" class="control" type="text" th:value="${entity.companyId}"></input>
			</span>

			<span>
			<label for="payDate"  class="control-label">付款日期:</label>
			<input name="payDate" id="payDate" class="control" type="text" th:value="${#dates.format(entity.payDate,'yyyy-MM-dd')}"></input>
			</span>
			<span>
			<label for="status"  class="control-label">状态:</label>
			<input name="status" id="status" class="control" type="text" th:value="${entity.status}"></input>
			</span>
			</p>


			<p>
			<span>
			<label for="dealPrice"  class="control-label">单价:</label>
			<input name="dealPrice" id="dealPrice" class="control readonly" readonly type="text" th:value="${entity.dealPrice}"></input>
			</span>
			<span>
			<label for="dealNumber"  class="control-label">数量:</label>
			<input name="dealNumber" id="dealNumber" class="control readonly" readonly type="text" th:value="${entity.dealNumber}"></input>
			</span>
			<span>
			<label for="numberUnit"  class="control-label">数量单位:</label>
			<input name="numberUnit" id="numberUnit" class="control" type="text" th:value="${entity.numberUnit}"></input>
			</span>
			</p>

			<p>

			<span>
			<label for="dealAmount"  class="control-label">合同总价:</label>
			<input name="dealAmount" id="dealAmount" class="control readonly"  readonly="readonly" type="text"  th:value="${entity.dealAmount}"></input>
			</span>

			<span>
			<label for="dealAmountNotax"  class="control-label">不含税价:</label>
			<input name="dealAmountNotax" id="dealAmountNotax" class="control readonly"  readonly="readonly" type="text" th:value="${entity.dealAmountNotax}"></input>
			</span>
			</p>
			<p>
			<span>
			<label for="taxAmount"  class="control-label">进项税:</label>
			<input name="taxAmount" id="taxAmount" class="control readonly"  readonly="readonly" type="text" th:value="${entity.taxAmount}"></input>
			</span>
			</p>
			<p>
			<span>
			<label for="bankName"  class="control-label">开户行:</label>
			<input name="bankName" id="bankName" class="control largemid" type="text"  th:value="${entity.bankName}"></input>
			</span>

			</p>
			<p>
			<span>
			<label for="bankAccount"  class="control-label">银行账号:</label>
			<input name="bankAccount" id="bankAccount" class="control largemid" type="text" th:value="${entity.bankAccount}"></input>
			</span>
			<span>
			<label for="billNo"  class="control-label">记账凭证:</label>
			<input name="billNo" id="billNo" class="control " type="text"  th:value="${entity.billNo}"></input>
			</span>
			</p>

			<p>
			<span>
			<label for="inAmount"  class="control-label">发票金额:</label>
			<input name="inAmount" id="inAmount" class="control" type="text"  th:value="${entity.inAmount}"></input>
			</span>
			<span>
			<label for="inAmountNotax"  class="control-label">不含税价:</label>
			<input name="inAmountNotax" id="inAmountNotax" class="control readonly"  readonly="readonly" type="text" th:value="${entity.inAmountNotax}"></input>
			</span>
			<span>
			<label for="inTaxAmount"  class="control-label">进项税:</label>
			<input name="inTaxAmount" id="inTaxAmount" class="control readonly"  readonly="readonly" type="text" th:value="${entity.inTaxAmount}"></input>
			</span>

			</p>


			<p>
			<span>
			<label for="inInvoiceNo"  class="control-label">发票号码:</label>
			<input name="inInvoiceNo" id="inInvoiceNo" class="control largemid" type="text"  th:value="${entity.inInvoiceNo}"></input>
			</span>
			<span>
			<label for="inInvoiceDate"  class="control-label">发票日期:</label>
			<input name="inInvoiceDate" id="inInvoiceDate" class="control" type="text" th:value="${#dates.format(entity.inInvoiceDate,'yyyy-MM-dd')}"></input>
			</span>

			</p>
			<p>

			<span>
			<label for="remark"  class="control-label">备注:</label>
			<input name="remark" id="remark" class="control largemid" type="text" th:value="${entity.remark}"></input>
			</span>
			<span>
			<label for="inBillNo"  class="control-label">进项凭证:</label>
			<input name="inBillNo" id="inBillNo" class="control " type="text"  th:value="${entity.inBillNo}"></input>
			</span>

			</p>
<!-- 			<p>
			<label class="control-label">&nbsp;</label>
			<span class="" id="btn_fileId"><input type="button" value="附件上传"></input></span>
			<input class="control" id="fileId" name="fileId" type="hidden" th:value="${entity.fileId}" />
			</p>
			<p class="controls showImg fileId" id="span_fileId">

			</p> -->
			<p>
			<span class="btn_com float_left bgbai borderNone fjsc_span" id="btn_fileId">
				 <i class="float_left i_scfj"></i>
                <span class="float_left fontBlack fjsc_text">附件上传</span>
             </span>
			<input class="control" id="fileId" name="fileId" type="hidden" th:value="${entity.fileId}" />
			</p>
			<p class="controls showImg fileId" id="span_fileId">

			</p>
	</form>
	</div>
	<div region="south" border="false" style="overflow: hidden;height: 40px;" class="panel_padding">
		<div class="actions_bar">
		<a href="#" class="easyui-linkbutton btn" data-options="iconCls:'icon-save'" onclick="save();">保存</a>
		</div>
	</div>
</div>
<script th:src="@{/static/ueditor/third-party/webuploader/webuploader.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/file.js?v=2}" type="text/javascript"></script>
<script type="text/javascript">
	var isExists=false;
	var imgShowUrl =_filePath+'/view/small/';
	var filePlugin = new FilePlugin('#fileId',$('#entityId').val(),'/bas/pay/updateFileId');

	$(function(){


		$("#status").combobox({
			data:approveStatusJson,
			textField:'dictName',
			valueField:'dictCd',
			readonly: true,
			editable:false
		});
		$("#companyId").combobox({
			data:companyJson,
			textField:'companyName',
			valueField:'id',
			readonly: true,
			editable:false,
			onSelect:function(record){
				$('#companyName').val(record.companyName);
				$('#taxNo').val(record.taxNo);
				$('#bankName').val(record.bankName);
				$('#address').val(record.address);
				$('#companyPhone').val(record.companyPhone);
				$('#bankAccount').val(record.bankAccount);
			}
		});


 		/* $('#dealPrice,#dealNumber').numberbox({
 		    min:0,
 		    precision:2,
 		   readonly: true,
 		   required: true
 		}); */
 		$('#inAmount').numberbox({
 		    min:0,
 		    precision:2
 		});

		$('#productName,#numberUnit,#businessNo').validatebox({
			readonly: true
		});

		$('#payDate,#inInvoiceDate').datebox({
			readonly: true
		});

		//加载附件列表
		filePlugin.load($('#fileId').val(),'#span_fileId');

		fileUpload("btn_fileId", "fileId");
// 		window.setTimeout(function(){
// 		},2000);

	});


	 	/* $('#dealPrice').numberbox('textbox').on('keyup',function(){
	 		var dealNumber =$('#dealNumber').numberbox('getValue');
	 		var dealPrice = $(this).val();
	 		var dealAmount = (dealNumber*dealPrice).toFixed(2);
	 		$('#dealAmount').val(dealAmount);
	 		var dealAmountNotax = (dealAmount/1.17).toFixed(2);
	 		$('#dealAmountNotax').val(dealAmountNotax);
	 		$('#taxAmount').val((dealAmountNotax*0.17).toFixed(2));

	 	}); */
	 	/* $('#dealNumber').numberbox('textbox').on('keyup',function(){
	 		var dealPrice =$('#dealPrice').numberbox('getValue');
	 		var dealNumber = $(this).val();
	 		var dealAmount = (dealNumber*dealPrice).toFixed(2);
	 		$('#dealAmount').val(dealAmount);
	 		var dealAmountNotax = (dealAmount/1.17).toFixed(2);
	 		$('#dealAmountNotax').val(dealAmountNotax);
	 		$('#taxAmount').val((dealAmountNotax*0.17).toFixed(2));

	 	}); */

	 	$('#inAmount').numberbox('textbox').on('keyup',function(){
	 		var dealAmount = $(this).val();
	 		var dealAmountNotax = (dealAmount/1.17).toFixed(2);
	 		$('#inAmountNotax').val(dealAmountNotax);
	 		$('#inTaxAmount').val((dealAmountNotax*0.17).toFixed(2));

	 	});


	 	function fileUpload(fileUploadId, fuSaveId) {
			var $this = $('#' + fuSaveId);
			// fileUploadId:点击弹出选择文件事件的dom对象
			// fusaveId:文件上传成功后，保存的服务文件Id
			// --start-文件上传---
			var uploader = WebUploader.create({
				auto : true,
				// swf文件路径
				swf : _ctx + '/static/webuploader-0.1.5/Uploader.swf',
				// 文件接收服务端。
				server : _ctx + '/file/uploadFile',
				// 选择文件的按钮。可选。
				// 内部根据当前运行是创建，可能是input元素，也可能是flash.
				pick : '#' + fileUploadId,
				// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
				resize : false,
				duplicate :true ,//true可重复上传，默认不可多次重复上传
				// 只允许选择图片文件。
				accept : {
					title : 'file',
					extensions : 'gif,jpg,jpeg,bmp,png,pdf,rar,zip,doc,docx,xlsx,xls',
//	 				mimeTypes :	"image/*"
// 					mimeTypes :	"image/jpg,image/jpeg,image/gif,image/bmp,image/png"
					mimeTypes: "*"
				}
			});
			// 去掉文件上传组件样式，使用上传dom 自己样式
			$(".webuploader-pick").removeClass();

			uploader.on('beforeFileQueued', function(file) {
				$.messager.progress('close');
				if(file &&file.size > 10485760){
					$.messager.alert('tip',"上传文件不能超过10M!",'info');
					return false;
				}
			})

			// 当有文件添加进来的时候
			uploader.on('fileQueued', function(file) {
				$.messager.progress();
				//var $li = $('<div id="' + file.id + '" class="file-item thumbnail">' + '<img>' + '<div class="info">' + file.name + '</div>' + '</div>'), $img = $li.find('img');
			});

			// 文件上传成功，给item添加成功class, 用样式标记上传成功。
			uploader.on('uploadSuccess', function(file, response) {
				$.messager.progress('close');
				if(file &&file.size > 10485760){
					$.messager.alert('tip',"上传文件不能超过10M!",'info');
					return;
				}
				if(response && response.result){//上传成功
					var fileId = response.fileId;

					filePlugin.uploadSuccess(fileId);
					//加载附件列表
					filePlugin.load($('#fileId').val(),'#span_fileId');

				}else{
					$.messager.alert('tip',"上传文件失败，失败信息："+ response._raw,'info');
				}

			});
			uploader.on('error',function(file){
				$.messager.progress('close');
				$.messager.alert('tip','请选择图片','info');
			})
			// 文件上传失败，显示上传出错。
			uploader.on('file', function(file) {
				$.messager.progress('close');
				$.messager.alert('tip','文件上传失败,请重试!','info');
			});
			// --end-文件上传---
		}

		function save(){
			var url =_ctx+'/bas/pay/save';

			var options={
			        url:url,
			        onSubmit: function(){
			        	var flag=true;
			        	if(!$("#inputForm").form('validate'))
			        		flag=false;
			        	if (!flag){
			        		$.messager.alert('提示','保存失败，请输入必输项！','warning');
			        	}
			        	return flag;
			        },
			        success:function(data){
			        	var rObj = eval('('+data+')');
						if(rObj.success){
							var rtnEntity = eval('('+rObj.success+')');
			        		 $.messager.show({
			                     title:'Tip',
			                     msg:'保存成功',
			                     timeout:2000,
			                     showType:'show'
			                 });
			        		 var id =$("#entityId").val();
			        		$("#entityId").val(rtnEntity.id);
			        		$('#w').window("close");
			        	}else{
			        		$.messager.alert('error',rObj.failure,'warning');
			        	}
			        }
				};
			$('#inputForm').form('submit', options);
		}
</script>
