<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="from-input-layout">
	<form id="inputForm" method="post" class="editForm">
		<input type="hidden" name="id" id="entityId" th:value="${user.id}"/>
		<input type="hidden" name="appId" id="appId" th:value="${user.appId}"/>
		<input type="hidden" name="enterpriseId" id="enterpriseId" th:value="${user.enterpriseId}"/>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="deptId" class="control-label">机构：</label>
				<input type="text" id="deptId" name="deptId" th:value="${user.dept.id}" class="easyui-combotree control large"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="loginName" class="control-label">登录名:</label>
				<input type="text" id="loginName" name="loginName" th:value="${user.loginName}" class="control large" minlength="3"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="name" class="control-label">用户姓名:</label>
				<input type="text" id="name" name="name" th:value="${user.name}" class="control large" minlength="2"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="plainPassword" class="control-label">密码:</label>
				<input type="password" id="plainPassword" name="plainPassword" class="control large" placeholder="...Leave it blank if no change"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="confirmPassword" class="control-label">确认密码:</label>
				<input type="password" id="confirmPassword" name="confirmPassword" class="control large" equalTo="#plainPassword" />
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="roleCd" class="control-label">角色:</label>
				<input type="text" id="roleCd" name="roleCd" class="control large" th:value="${roleCd}"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="dispOrderNo" class="control-label">显示序号:</label>
				<input type="text" id="dispOrderNo" name="dispOrderNo" number="true" max="10000" th:value="${user.dispOrderNo}" class="control large"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="userSex" class="control-label">性别:</label>
				<input id="userSex" name="userSex" class="control large" th:value="${user.userSex}" type="text">
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="mobile" class="control-label">手机号码:</label>
				<input type="text" id="mobile" name="mobile" mobile="true" th:value="${user.mobile}" class="control large"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="telephone" class="control-label">联系电话:</label>
				<input type="text" id="telephone" name="telephone"  th:value="${user.telephone}" maxlength="20" class="control large"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="email" class="control-label">Email:</label>
				<input type="text" id="email" name="email" th:value="${user.email}" email="true" class="control large"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="address" class="control-label">联系地址:</label>
				<input type="text" id="address" name="address"  th:value="${user.address}" maxlength="200" class="control large"/>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label for="remark" style='vertical-align: top;position: relative;top:-1px;'>备注:</label>
				<textarea id="remark" name="remark" th:text="${user.remark}"></textarea>
			</p>
		</div>
		<div class="mb6">
			<p class="yw-table-filter">
				<label></label>
	            <span onchange="$(this).toggleClass('on')" th:class="${user.enableFlg} ? 'ckbox on' : 'ckbox'">
		            <input type="checkbox" th:checked="${user.enableFlg}" onchange="$('#enableFlg').val($(this).attr('checked')=='checked');" />
		            <span>是否有效</span>
		           	<input type="hidden" name="enableFlg" th:value="${user.enableFlg}" id="enableFlg" />
	        	</span>
			</p>
		</div>
	</form>
</div>
<script type="text/javascript">
$('.easyui-linkbutton').linkbutton();
$(function(){
	$('#deptId').combotree({
		 url:_ctx+'/bas/user/allEableDept',
		 editable:false
	});
	
	$('#confirmPassword').validatebox({
		validType:{length:[2,20],equals:['#plainPassword']}
 	});
	
	$("#userSex").combobox({
		data:[{id:'',text:'--请选择--'},{id:'0',text:'女'},{id:'1',text:'男'}],
		textField:'text',
		valueField:'id',
		panelHeight:"auto"
	 });
	
	$('#name,#loginName').validatebox({
		required: true
	});
	
	$("#roleCd").combobox({
		data:allRoles,
		textField:'dictName',
		valueField:'dictCd',
		panelHeight:"auto",
		required:true
//		multiple:true
	 });
	
	/* if(Number($("#entityId").val())>0){
		$("#p_roleCd").addClass("hide");
	} */

})
</script>
</html>