<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>业绩提成-销售业务员提成</title>
    <th:block th:replace="~{layouts/include :: include}"></th:block>
</head>
<body class="easyui-layout">
<div region="north" class="search_div pt20	pl20 pr20 pb15 ofh" border="false">
    <form id="searchForm" class="form-search from-input-layout" method="post" style="margin-left: 2px">
        <div class="mb6">
            <p class="yw-table-filter mobile-display-none">
                <label>事业部门:</label>
                <input name="search_EQS_owningRegion" class="easyui-validatebox" id="owningRegion" type="text" value=""/>
            </p>
            <p class="yw-table-filter mobile-display-none muser">
                <label style="width: 80px;">销售业务员:</label>
                <input id="matchUserId" name="search_EQL_userId" type="text" value=""/>
                <input id="matchUserName"  type="hidden" />
            </p>
            <p class="yw-table-filter">
                <lable>月份:</lable>
                <input name="search_EQS_performanceDate" id="performanceDate" class="easyui-datebox" th:value="${performanceDate}"/>
            </p>
            <a th:if="${isHrAdmin}" href="#" id="initPerformanceUser" class="easyui-linkbutton btn-empty btn94 ml10 mobile-display-none" onclick="initPerformanceUser()">初始化提成</a>
            <a href="#" id="btn1" class="easyui-linkbutton btn64 ml10" onclick="Convert.search('searchForm','tt');">查询</a>
            <a href="#" id="btn2" class="easyui-linkbutton btn-empty btn64 ml10" onclick="$('#searchForm').form('reset');">清空</a>
            <a href="#" id="btn" class="easyui-linkbutton btn-empty btn64 ml10" onclick="exportExcel()">导出</a>
        </div>
    </form>
</div>
<div region="center" border="false" class="panel_padding pl20 pr20">
    <table id="tt" fit="true"
           title="" iconCls="icon-edit" singleSelect="true"
           idField="id">
    </table>
</div>
<script type="text/javascript">
    var lastIndex=0;
    var branchListJson = eval('[(${branchList})]');
    var matchUserNameTreeJson=eval('[(${matchUserNameTree})]');
    $(function(){
        init();
        //只显示年月
        intiMonthBox('performanceDate');
        $('#owningRegion').combobox({
            data: branchListJson,
            valueField: 'dictCd',
            textField: 'dictName'
        });
        $('#matchUserId').combotree({
            data : matchUserNameTreeJson,
            multiple : false,
            editable : true,
            onSelect : function(node) {
                if (node.children.length != 0) {
                    $('#matchUserName').combotree('clear');
                }else{
                    $("#matchUserName").val(node.text);
                }
            }
        });
        $('#owningRegion').combobox({
            data: branchListJson,
            valueField: 'dictCd',
            textField: 'dictName'
        });
    });
    function init(){
        $('#tt').datagrid({
            pagination:true,
            rownumbers:true,
            pageSize:50,
            showFooter:true,
            pageList:[50,40,30,20,10],
            queryParams:Convert.getJson4Form('searchForm'),
            url:_ctx+"/performance/user/findUserPage",
            columns:[ [
                {field: 'userName', title: '姓名', align: 'left', width: 80},
                {field: 'performanceDate', title: '年月', align: 'left', width: 120},
                {field: 'owningRegion', title: '事业部', align: 'left', width: 100,formatter:function(value,row,index){
                        return Convert.findValueByKey(branchListJson,"dictCd",value,"dictName");
                } },
                {field: 'grossMargin', title: '毛利(元)', align: 'right', width: 150, formatter:formateNumTon},
                {field: 'laborCost', title: '人工成本(元)', align: 'right', width: 150, formatter:formateNumTon},
                {field: 'travelCost', title: '差旅/招待费(元)', align: 'right', width: 150, formatter:formateNumTon},
                {field: 'manageCost', title: '管理公摊(元)', align: 'right', width: 150, formatter:formateNumTon},
                {field: 'insuranceCost', title: '保险审批费用(元)', align: 'right', width: 150, formatter:formateNumTon},
                {field: 'netProfit', title: '净利(元)', align: 'right', width: 150, formatter:formateNumTon},
                {field: 'commission', title: '提成金额(元)', align: 'right', width: 150, formatter:formateNumTon},
                {field: 'monthCommission', title: '当月结算(元)', align: 'right', width: 150, formatter:formateNumTon},
                {field: 'yearCommission', title: '当年余额(元)', align: 'right', width: 150, formatter:formateNumTon}
            ] ],
            toolbar:'#toolbar',
            onDblClickRow:function(index,row){
                lastIndex = index;
                editrow(row.id);
            },
            onClickRow:function(index,row){
                lastIndex = index;
            },
            onLoadSuccess:function(data){
                var total =$('#tt').datagrid('getData').total;
                if (lastIndex >total-1){
                    lastIndex=total-1;
                }
                $('#tt').datagrid('selectRow', lastIndex);
            }
        });

    }

    /*  导出Excel表格 */
    function exportExcel(){
        $('#searchForm').form('submit', {url:_ctx+"/performance/user/exportExcel"});
    }

    function intiMonthBox(id){
        var db = $('#'+id);
        db.datebox({
            onShowPanel: function () {//显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                span.trigger('click'); //触发click事件弹出月份层
                if (!tds) setTimeout(function () {//延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                    tds = p.find('div.calendar-menu-month-inner td');
                    tds.click(function (e) {
                        e.stopPropagation(); //禁止冒泡执行easyui给月份绑定的事件
                        var year = /\d{4}/.exec(span.html())[0]//得到年份
                            , month = parseInt($(this).attr('abbr'), 10); //月份，这里不需要+1
                        db.datebox('hidePanel')//隐藏日期对象
                            .datebox('setValue', year + '-' + month); //设置日期的值
                    });
                }, 0);
                yearIpt.unbind();//解绑年份输入框中任何事件
            },
            parser: function (s) {
                if (!s) return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            formatter: function (d) {
                let year = d.getFullYear();
                let month = d.getMonth() + 1;
                if (month < 10) {
                    month = '0' + month;
                }
                return year + '-' + month;
            }
        });
        var p = db.datebox('panel'), //日期选择对象
            tds = false, //日期选择对象中月份
            yearIpt = p.find('input.calendar-menu-year'),//年份输入框
            span = p.find('span.calendar-text'); //显示月份层的触发控件
    }

    function formateNumTon(num, row, index) {
        if (num) {
            num = parseFloat(num).toFixed(2).toString().split(".");
            num[0] = num[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)', 'ig'), "$1,");
            return num.join(".");
        } else {
            return num;
        }
    }

    function initPerformanceUser(){
        let performanceDate = $("#performanceDate").datebox("getValue");
        if (!performanceDate){
            $.messager.alert('提示','请选择年月！','warning');
            return;
        }
        $.messager.confirm({
            width:388,
            height:170,
            title: '决算提示',
            msg: '确定要初始化年月：'+ performanceDate + '的销售业务员提成数据吗？',
            ok: "确定",
            cancel: "取消",
            cls:'c9',
            border:'thin',
            fn: function(r){
                if (r){
                    var url = _ctx + "/performance/user/initPerformanceUser";
                    $.post(url,{"performanceDate": performanceDate}, function (data) {
                        var rObj = eval(data);
                        if (rObj.success) {
                            $.messager.show({
                                title: 'Tip',
                                msg: '初始化成功!',
                                timeout: 2000,
                                height: 120,
                                showType: 'show'
                            });
                            $('#tt').datagrid('reload');
                            $('#tt').datagrid('unselectAll');
                            $('#tt').datagrid('clearChecked');
                        } else {
                            $.messager.alert('提示', rObj.failure, 'warning');
                        }
                    });
                }
            }
        });
    }
</script>
</body>
</html>