<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>库存查询</title>
    <th:block th:replace="~{layouts/include :: include}"></th:block>
    <link th:href="@{/static/css/businessManageIndex.css}" rel="stylesheet"/>
</head>
<body class="easyui-layout">
<div region="center" border="false" class="panel_padding pl20 pr20">
    <input type="hidden" name="companyType" id="companyType" th:value="${companyType}" />
    <div style="display: flex;justify-content: flex-end;height: 40px;align-items: center">
        <div>
            <span class="bm-div-toggle-show" id="yearFlag" onclick="changeSpan('yearFlag')">本年</span>
            <span class="bm-div-toggle-show" id="monthFlag" onclick="changeSpan('monthFlag')">本月</span>
        </div>
    </div>
    <div style="height: 450px">
        <table id="list" fit="true"
               title="" iconCls="icon-edit" singleSelect="true"
               idField="id">
        </table>
    </div>

</div>
<script type="text/javascript">
    var companySourceJson = eval('[(${companySourceJson})]');
    var companyIndustryJson = eval('[(${companyIndustryJson})]');
    var companyCategoryJson = eval('[(${companyCategoryJson})]');
    var columnsI =[
        {field:'companyName',title:'用户名称',align:'left', width:200,formatter:function(value,row){
                if (value){
                    var content = '<p title="' + value + '" class="note">' + value + '</p>';
                    return content;
                }
            }},
        {field:'companySource',title:'来源', width:120,align:'center',formatter:function(value,row,index){
                return Convert.findValueByKey(companySourceJson,"dictCd",value,"dictName");
            }},
        {field:'contactName',title:'联系人', width:120,align:'center'},
        {field:'contactPhone',title:'联系电话', width:120,align:'center'},
        {field:'recommendedAmount',title:'额度审核评估', width:250,align:'left'},
    ]
    var columnsT =[
        {field:'companyName',title:'供应商名称',align:'left', width:200,formatter:function(value,row){
                if (value){
                    var content = '<p title="' + value + '" class="note">' + value + '</p>';
                    return content;
                }
            }},
        {field:'companySource',title:'来源', width:120,align:'center',formatter:function(value,row,index){
                return Convert.findValueByKey(companySourceJson,"dictCd",value,"dictName");
            }},
        {field:'contactName',title:'联系人', width:120,align:'center'},
        {field:'contactPhone',title:'联系电话', width:120,align:'center'},
        {field:'companyCategory',title:'企业性质', width:150,align:'center',formatter:function(value,row,index){
                return Convert.findValueByKey(companyCategoryJson,"dictCd",value,"dictName");
            }},
        {field:'industry',title:'行业分类', width:120,align:'center',formatter:function(value,row,index){
                return Convert.findValueByKey(companyIndustryJson,"dictCd",value,"dictName");
            }}
    ]
    $(function(){
        $('#monthFlag').addClass('active')
        changeSpan('monthFlag')
    });
    function changeSpan(labelCode){
        // 给所有的 <span> 元素添加点击事件
        $(".bm-div-toggle-show").click(function() {
            // 移除所有的 active 类
            $(".bm-div-toggle-show").removeClass("active");
            // 为当前点击的 <span> 元素添加 active 类
            $(this).addClass("active");
        });
        let param ={}
        if(labelCode ==='yearFlag'){
            param.yearFlag=true
            param.monthFlag=false
        } else {
            param.yearFlag=false
            param.monthFlag=true

        }
        let companyType = $("#companyType").val()
        if(companyType==='I'){
            param.companyType='I'
            getDataShow(param,columnsI)
        } else {
            param.companyType='T'
            getDataShow(param,columnsT)
        }

    }
    function getDataShow(param,columns){
        $('#list').datagrid({
            pagination:true,
            pageSize:10,
            height: 550,
            rownumbers:true,
            pageList:[10,20,30,40,50],
            queryParams: param,
            method: 'post',
            url:_ctx+"/business/manager/workbench/findNewCompanyPage",
            columns:[columns],
        });
    }
    function formateNum(num,row,index) {
        if (num){
            num = parseFloat(num).toFixed(2).toString().split(".");
            num[0] = num[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)','ig'),"$1,");
            return num.join(".");
        }else{
            return num;
        }
    }
</script>
</body>
<style>
    .active {
        background-color: #FFFFFF; /* 点击时的背景颜色 */
    }
</style>
</html>
